<div class="courses">
<div class="row">
	<button class="btn btn-monospaced fullscreen">
	<img alt="Show/hide videos" src="[resources:bootcamp-arrow-right.svg]" />
	</button>

	<div class="col pr-0">
	<video
		class="courses-video w-100 position-relative"
		controls="controls"
		preload="auto"
		src=""
	/>

	<button class="play btn-unstyled">
		<img alt="Play" src="[resources:bootcamp-play.svg]" width="120" />
	  </button>
	</div>

	<div class="col-md-3 col-to-hide pt-4 px-0">
	  <h6 class="ml-4 mb-4 font-weight-bold">Course Content</h6>

	<a
		class="btn btn-block btn-unstyled btn-play py-3 px-4"
		data-lfr-editable-id="video-1"
		data-lfr-editable-type="link"
		href=""
	>
		Module 1 Name
	  </a>
	<a
		class="btn btn-block btn-unstyled btn-play py-3 px-4"
		data-lfr-editable-id="video-2"
		data-lfr-editable-type="link"
		href=""
	>
		Module 2 Name
	  </a>
	<a
		class="btn btn-block btn-unstyled btn-play py-3 px-4"
		data-lfr-editable-id="video-3"
		data-lfr-editable-type="link"
		href=""
	>
		Module 3 Name
	  </a>
	</div>
</div>
</div>