/*----- TYPOGRAPHY -----*/

/*Source Serif*/

@font-face {
	font-display: swap;
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 400;
	src: url([$DOCUMENT_URL:/site-initializer/documents/group/fonts/SourceSerifPro-Regular.ttf$]);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
	font-weight: inherit;
	line-height: 1.25;
	margin-bottom: var(--spacer-3);
}

/*-----GENERAL-----*/

body {
	line-height: 1.65;
}

p {
	margin-bottom: var(--spacer-3);
}

a,
a:hover {
	color: var(--primary);
}

.container-fluid, 
.container-fluid-max-xl {
	position: relative;
}

/*-----COMPONENTS-----*/

/*Buttons*/

.masterclass-btn.btn,
.portlet-login .form button  {
	border-radius: 0;
	font-family: var(--font-family-sans-serif);
	font-weight: var(--font-weight-bolder);
	letter-spacing: 2px;
	padding: var(--spacer-2) var(--spacer-3);
	text-transform: uppercase;
}

.masterclass-btn.btn-lg {
	font-size: 12px;
}

.masterclass-btn.btn-link {
	padding: 0;
}

.masterclass-btn.btn-link a {
	color: inherit;
}

.masterclass-btn.btn-nm {
	font-size: 11px;
}

.masterclass-btn .link-arrow {
	display: inline-block;
	margin-left: var(--spacer-2);
	transform: translate(0, -1px);
}

.masterclass-btn:hover .link-arrow {
    transform: translate(4px, -1px);
	transition: all 0.15s ease-in-out;
}

.portlet-boundary .btn  {
	border-radius: 0;
}

/*Form Controls*/

.form-control {
	background-color: var(--white);
	border: var(--white);
	border-radius: 0;
	font-family: var(--font-family-sans-serif);
	height: auto;
}

.form-control-nm {
	padding: var(--spacer) var(--spacer-5);
}

.form-control-lg {
	padding: var(--spacer) var(--spacer-5);
}

.portlet-login {
	font-family: var(--font-family-sans-serif);
}

.portlet-login .form .input-checkbox-wrapper .field {
	margin-right: 6px;
	transform: translatey(2px);
}

.portlet-login .form .form-check {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-sm);
}

.portlet-login .form .form-check label {
	left: 6px;
	top: -2px;
}

.portlet-login .form-control {
	background-color: var(--gray-200);
}

.portlet-login .form button {
	font-size: 12px;
	margin-bottom: var(--spacer-5);
}

.portlet-login .navigation {
	font-size: var(--font-size-sm);
}

.portlet-login a {
	font-weight: var(--font-weight-bold);
}

.portlet-login .portlet-icon-back {
	display: none;
}

/*Navigation Menu*/

.list-menu ul {
	font-family: var(--font-family-sans-serif);
    list-style: none;
	padding-left: 0;
}

.list-menu .lfr-nav-item a {
	display: block;
	padding: var(--spacer-2) var(--spacer-5);
	text-decoration: none;
	width: 100%;
}

.list-menu .lfr-nav-item a:hover {
	color: var(--primary);
}

.list-menu .lfr-nav-item {
	color: var(--secondary);
}

.list-menu .lfr-nav-item.active a {
	background-color: var(--gray-200);
	color: var(--primary);
}

.dropdown-item:hover {
	background-color: var(--brand-color-2);
}