<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" referrerpolicy="no-referrer" rel="stylesheet" />
<div class="KB_Home">
	<section class="bg-light pb-70 pt-100 services" id="services">
<div class="container">
	<div class="align-items-center row">
		<div class="col-lg-5">
			<h2 class="title" data-lfr-editable-id="title" data-lfr-editable-type="text">What <span>Service</span> We
			   Offer
			</h2>

			<p class=" mt-3 " data-lfr-editable-id="description" data-lfr-editable-type="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
		<br />
		 </div>
		<div class="col-lg-7">
			<div class="card-items row">
			  <lfr-drop-zone></lfr-drop-zone>
			</div>
		 </div>
	  </div>
</div>
</section>
</div>