.KB_Home {
}
.KB_Home lfr-drop-zone
{
	width:100%!important;
}
.KB_Home .card-items div
{
	width:100%!important;
}

.KB_Home .pt-100 {
	padding-top: 100px;
}

.KB_Home .pb-100 {
	padding-bottom: 100px;
}

.ptb-100 {
	padding: 100px 0px;
}

.KB_Home .pt-70 {
	padding-top: 70px;
}

.KB_Home .pb-70 {
	padding-bottom: 70px;
}

.KB_Home .ptb-70 {
	padding: 70px 0px;
}

.KB_Home p {
	font-size: 15px;
	margin: 0px;
	padding: 0px;
}



.KB_Home .services .title {
	color: #000000;
	font-size: 46px;
	font-weight: 600;
}

.KB_Home .services .title span {
	color: var(--primary);
	font-size: 46px;
	font-weight: 600;
}

.KB_Home .services .btn-primary {
	background-color: var(--primary);
	border: none;
	color: var(--light);
	font-size: 14px;
	letter-spacing: 1px;
	min-width: 150px;
	padding: 12px 20px;
	text-transform: uppercase;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.KB_Home .btn-primary:hover {
	-webkit-box-shadow: 0 5px 9px -4px rgb(0 0 255 / 65%);
	box-shadow: 0 5px 9px -4px rgb(0 0 255 / 65%);
}

.KB_Home .card-items .card {
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-ms-flex-direction: column;
	background-clip: border-box;
	background-color: var(--white);
	border: none;
	border-radius: .25rem;
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
	flex-direction: column;
	margin-bottom: 30px;
	min-width: 0;
	word-wrap: break-word;
}

.KB_Home .card-items .card .card-body i {
	align-items: center;
	background-color: var(--light);
	border-radius: 6px;
	color: var(--primary);
	display: flex;
	font-size: 31px;
	height: 50px;
	justify-content: center;
	width: 50px;
}

.KB_Home .card-items .card .card-body .card-title {
	margin-bottom: .75rem;
	margin-bottom: 15px;
	margin-top: 26px;
}