<div class="container-fluid container-fluid-max-xl home-header">
	<p class="image-author" data-lfr-editable-id="photo-author" data-lfr-editable-type="text">
		Photo by: Aragonés
	</p>

	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="image-group position-relative">
				<div class="image-overlay"></div>

				<img alt="" class="home-header-image img-fluid" data-lfr-editable-id="header-image" data-lfr-editable-type="image" src="[resources:home_header.jpg]" />
			</div>
		</div>

		<div class="col-12 col-lg-6">
			<div class="home-header-content-box">
				<div class="home-header-pre" data-lfr-editable-id="header-pre" data-lfr-editable-type="text">
					Welcome!
				</div>

				<div class="home-header-title" data-lfr-editable-id="header-title" data-lfr-editable-type="text">
					We're the
					<span class="title-highlight">department people</span>.
				</div>

				<div class="home-header-subtitle" data-lfr-editable-id="header-subtitle" data-lfr-editable-type="text">
					Do you have a hunger to use the knowledge you've learned in school to work on real world problems?
				</div>
			</div>
		</div>
	</div>
</div>