<div class="entry-card">
	<div class="image-group">
		<div class="image-overlay"></div>

	<img alt="" class="entry-card-image" data-lfr-editable-id="image" data-lfr-editable-type="image" src="[resources:entry_example.jpg]" />
	</div>

	<div class="text-group">
	<p class="entry-card-category" data-lfr-editable-id="category" data-lfr-editable-type="text">
			Category
		</p>

	<h4 class="entry-card-title" data-lfr-editable-id="title" data-lfr-editable-type="text">
			Article title
		</h4>

		<p class="entry-card-author">
			By
		<span data-lfr-editable-id="author" data-lfr-editable-type="text">Author</span>
		</p>
	</div>
</div>