.portlet-ddm-form-report {
	&__header {
		background-color: #fff;
		height: 124px;
		padding-top: 24px;
	}

	&__subtitle {
		color: #6b6c7e;
		font-size: 14px;
		font-weight: 400;
	}

	&__tabs {
		.nav-item {
			.nav-link {
				cursor: pointer;
			}
		}
	}

	&__title {
		font-size: 32px;
		font-weight: 600;
	}
}
