.badge {
	&.warning {
		svg {
			height: 16px !important;
			width: 16px !important;
		}
	}
}

.badge-info {
	background: $color-state-info-lighten-1;
	color: $color-action-primary-hover;
	fill: $color-action-primary-hover;
}
