.btn {
	&.continue {
		padding: $spacer-3 3.35rem;
	}

	&.previous {
		color: $color-action-neutral-default;
		text-decoration: none !important;
	}

	&.save-exit {
		padding: $spacer-3 1.125rem !important;
	}

	&.search {
		padding: 1.1rem 1.13rem !important;
	}
}

span.btn-info-panel {
	cursor: pointer;
	padding: 3px 0;
	width: fit-content;

	svg {
		height: 12px !important;
		margin: auto;
		width: 12px !important;
	}
}

span.btn-more-info {
	cursor: pointer;
	padding-bottom: 3px;
	padding-top: 3px;
}
