.step-list {
	gap: 2rem;

	.step-item {
		color: $color-neutral-6;
		gap: 0.875rem;
		height: 1rem;

		& > i {
			border-radius: 1rem;
			display: flex;
			height: 1rem;
			width: 1rem;
		}

		& > i::after {
			background: $color-neutral-6;
			border-radius: 0.5rem;
			content: '';
			display: block;
			height: 0.5rem;
			margin: auto;
			width: 0.5rem;
		}

		&.partially {
			cursor: pointer;
			opacity: 0.7;
			overflow: visible;

			i::after {
				background: $color-action-primary-default;
				border-radius: 1rem;
				height: 0.8rem;
				width: 0.8rem;
			}

			.progress-ring {
				opacity: 0.7;
				overflow: visible;
				z-index: 1;
			}
		}

		&.completed {
			i {
				display: none;
			}

			> div {
				border-radius: 8px;
				height: 16px;
				width: 16px;
			}

			svg {
				height: 10px !important;
			}
		}

		&.selected {
			opacity: 1;

			i::after {
				background: $color-action-primary-default;
				border-radius: 1rem;
				height: 0.8rem;
				width: 0.8rem;
			}
		}
	}
}
