<div class="entry-card">
<img alt="" class="entry-image img-fluid mb-4" data-lfr-editable-id="image" data-lfr-editable-type="image" src="[resources:entry_example.jpg]" />

<p class="entry-category mb-2" data-lfr-editable-id="category" data-lfr-editable-type="text">
		Category
	</p>

<h4 class="entry-title mb-2" data-lfr-editable-id="title" data-lfr-editable-type="text">
		Article title
	</h4>

	<p class="entry-author">
		By
	<span data-lfr-editable-id="author" data-lfr-editable-type="text">Author</span>
	</p>
</div>