.policies-total-active-container .legend-container {
	font-size: 14px;
	width: 130px;
}

.policies-total-active-container .legend-color {
	height: 8px;
	width: 8px;
}

.policies-total-active-container .legend-title {
	color: #5c5e5e;
}

.policies-total-active-container .bb-chart-arcs-title {
	dominant-baseline: central;
	font-size: 32px;
	font-weight: 700;
}

.policies-total-active-container .policies-total-active-title::after {
	background-color: var(--primary);
	content: '';
	display: block;
	height: 1px;
	margin-top: 6px;
	position: absolute;
	width: 19px;
}

.policies-total-active-container .policies-total-active-tooltip {
	border: 1px solid #55c2ff;
	color: #55c2ff;
	font-size: 0.875rem;
	font-style: normal;
	width: 100%;
}
