.policies-total-active-container {
	min-height: 257px;
}

.policies-total-active-container .policies-total-active-title::after {
	background-color: var(--primary);
	content: '';
	display: block;
	height: 1px;
	margin-top: 6px;
	position: absolute;
	width: 19px;
}
