@import 'atlas-variables';

// Multi Step Progress Bar compat layer variables

$multi-step-progress-bar-active-icon: '\f111' !default;
$multi-step-progress-bar-complete-icon: '\f00c' !default;
$multi-step-progress-bar-icon: '\f10c' !default;

$multi-step-progress-bar-color: #bbb !default;

$multi-step-progress-bar-active-color: map-get($theme-colors, primary) !default;

$multi-step-progress-bar-complete-color: map-get($colors, gray) !default;
$multi-step-progress-bar-complete-icon-color: map-get(
	$theme-colors,
	primary
) !default;

$multi-step-progress-bar-divider-height: 1px !default;

$multi-step-progress-bar-fixed-width: 100px !default;

.lfr-editor-textarea {
	padding: 0.4375rem 1rem !important;
}

// Multi Step Progress Bar compat layer

.multi-step-progress-bar {
	display: table;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
	position: relative;
	width: 100%;

	> li {
		color: $multi-step-progress-bar-color;
		display: table-cell;
		vertical-align: bottom;
		width: 1%;
	}

	> .active {
		color: $multi-step-progress-bar-active-color;

		.divider {
			background-color: $multi-step-progress-bar-active-color;
			color: $multi-step-progress-bar-active-color;
		}
	}

	> .complete {
		color: $multi-step-progress-bar-complete-color;

		.divider {
			background-color: $multi-step-progress-bar-complete-color;
			color: $multi-step-progress-bar-complete-icon-color;

			@if (variable-exists(atlas-theme)) {
				margin-left: 18px;
			} @else {
				margin-left: 15px;
			}
		}
	}

	.divider {
		background-color: $multi-step-progress-bar-color;
		color: $multi-step-progress-bar-color;
		height: $multi-step-progress-bar-divider-height;

		@if (variable-exists(atlas-theme)) {
			margin: 20px 0 20px 12px;
		} @else {
			margin: 10px 0 10px 12px;
		}

		position: relative;

		.lexicon-icon {
			font-size: 12px;
			left: -12px;
			position: absolute;
			top: -2px;

			&.lexicon-icon-check {
				left: -16px;
			}
		}
	}

	.progress-bar-step,
	.progress-bar-title {
		@if (variable-exists(atlas-theme)) {
			font-weight: 500;
		}

		margin-right: 10px;
	}
}

.multi-step-progress-bar-collapse {
	@include media-breakpoint-down(sm) {
		padding-top: 20px;
	}

	> li {
		@include media-breakpoint-down(sm) {
			width: auto;
		}

		&:last-child {
			@include media-breakpoint-down(sm) {
				width: 1%;
			}

			.divider {
				@include media-breakpoint-down(sm) {
					width: 0;
				}
			}
		}
	}

	> .active {
		.progress-bar-title {
			@include media-breakpoint-down(sm) {
				display: block;
				left: 0;
				position: absolute;
				right: 0;
				text-align: center;
				top: 0;
			}
		}
	}

	.progress-bar-title {
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
}

.multi-step-progress-bar-fixed {
	> li {
		display: inline-block;
		width: $multi-step-progress-bar-fixed-width;
	}
}

.kaleo-forms-admin-portlet {
	.kaleo-process-assign-form-button {
		width: 122px;
	}

	.kaleo-process-buttons .btn {
		margin-left: 5px;
	}

	.kaleo-process-export-dialog,
	.kaleo-process-preview-fields-dialog {
		.modal-content {
			.modal-body {
				overflow-y: hidden;

				.checkbox {
					margin-bottom: 0;
				}

				.property-builder-content {
					margin: 0;
					min-height: 320px;

					.property-builder-content-container {
						padding-right: 0;
						width: 100%;

						.property-builder-drop-container {
							min-height: 0;
						}
					}
				}
			}

			.modal-footer {
				margin-top: 0;
			}
		}
	}

	.kaleo-process-header {
		line-height: 10px;
	}

	.kaleo-process-message {
		color: #ccc;
		font-style: italic;
		margin-bottom: 20px;
	}

	.separator {
		border-width: 0;
		margin-top: 1.5em;
	}

	ul.kaleo-process-workflow-nav-tabs {
		margin-bottom: 0;
	}

	.form .taglib-form-navigator > .form-steps > ul.form-navigator.nav {
		margin: 6px 0 20px;

		.tab,
		.tab.section-error {
			.tab-label {
				.message {
					color: #8d8d8d;
					font-size: 15px;
				}

				.number {
					background: #f4f4f4;
					color: #8d8d8d;
				}
			}
		}

		.tab.active,
		.tab.active.section-error,
		.tab.active,
		.tab.active.section-success {
			.tab-label {
				.message {
					color: #009ae5;
					font-size: 15px;
					font-weight: bolder;
				}

				.number {
					background: #009ae5;
					color: #fff;
				}
			}
		}

		.tab.section-success .tab-label {
			.message {
				color: #80ccf2;
			}

			.number {
				background: #fff;
				color: #80ccf2;
			}
		}
	}
}

// ---------- Extras ----------

.kaleo-forms-admin-portlet {
	.form .taglib-form-navigator > .form-steps > ul.form-navigator.nav {
		.tab,
		.tab.section-error {
			.tab-label .number {
				box-shadow: 0 0 5px 0 #8d8d8d;
			}
		}

		.tab.active,
		.tab.active.section-error,
		.tab.active,
		.tab.active.section-success {
			.tab-label .number {
				box-shadow: 0 0 5px 0 #009ae5;
			}
		}

		.tab.section-success .tab-label .number {
			box-shadow: 0 0 5px 0 #80ccf2;
		}
	}
}

.modal-full-screen {
	display: flex !important;
	justify-content: center !important;

	.modal-body {
		overflow: hidden !important;
		padding: 0 !important;
	}
}

@media screen and (min-width: 1700px) {
	.modal-full-screen {
		.modal-content,
		.modal-body {
			width: 1500px !important;
		}

		.modal-body {
			height: 676px !important;
		}

		.modal-content {
			height: 740px !important;
		}
	}
}

@media screen and (min-width: 1280px) and (max-width: 1699px) {
	.modal-full-screen {
		.modal-content,
		.modal-body {
			width: 1050px !important;
		}

		.modal-body {
			height: 590px !important;
		}

		.modal-content {
			height: 654px !important;
		}
	}
}

@media screen and (max-width: 1279px) {
	.modal-full-screen {
		.modal-content,
		.modal-body {
			width: 700px !important;
		}

		.modal-body {
			height: 573px !important;
		}

		.modal-content {
			height: 637px !important;
		}
	}
}
