:root {
	--transition-value: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.public-site-navbar .background-icon-grid {
	background: url('[resources:grid_icon_blue.svg]');
	background-repeat: no-repeat;
	background-size: contain;
	height: 16px;
	transition: var(--transition-value);
	width: 16px;
}

.public-site-navbar .background-icon-close {
	background: url('[resources:close_menu.svg]');
	background-repeat: no-repeat;
	background-size: contain;
	height: 16px;
	transition: var(--transition-value);
	width: 16px;
}

.public-site-navbar .show-menu {
	opacity: 1;
	transform: translateY(5px);
	transition: var(--transition-value);
}

.public-site-navbar .hidden-menu {
	opacity: 0;
	transform: translateY(-5px);
	transition: var(--transition-value);
	visibility: hidden;
}

.public-site-navbar .show-icon {
	opacity: 1;
	transition: var(--transition-value);
	visibility: visible;
}

.public-site-navbar .hidden-icon {
	opacity: 0;
	transition: var(--transition-value);
	visibility: hidden;
	width: 0;
}

.public-site-navbar .public-site-navbar-divider::before {
	border: 1px solid var(--color-neutral-3);
	content: '';
	margin: 0 20px;
}

.public-site-navbar .brand-subtext {
	margin-left: 38px;
	position: absolute;
	top: 45px;
}

.public-site-navbar .dropdown-menu {
	left: auto;
	right: 0;
}

.public-site-navbar .icon-search {
	cursor: pointer;
}

.public-site-navbar .portlet .nav-item .nav-link {
	border-bottom: 4px solid transparent;
	color: var(--color-action-neutral-default);
	padding: var(--spacer-2) 0 var(--spacer-2);
}

.public-site-navbar .portlet .nav-item .nav-link:hover {
	color: var(--color-neutral-9);
}

.public-site-navbar .portlet .nav-item.active a {
	border-bottom: 4px solid var(--color-action-primary-default);
	color: var(--color-neutral-black);
}

.public-site-navbar .switch {
	position: relative;
	user-select: none;
}

.public-site-navbar .switch input {
	display: none;
}

.public-site-navbar .switch .slider {
	cursor: pointer;
	height: 36px;
	padding: 0 14px;
	user-select: none;
	width: 162px;
}

.public-site-navbar .switch .slider span {
	font-weight: var(--font-weight-bold);
}

.public-site-navbar .switch .slider:before {
	-webkit-transition: 0.2s;
	align-items: center;
	background-color: var(--primary);
	border-radius: var(--border-radius);
	bottom: 2px;
	color: var(--color-action-primary-inverted);
	content: attr(data-content);
	display: flex;
	height: 32px;
	justify-content: center;
	left: 2px;
	position: absolute;
	transition: 0.2s;
	user-select: none;
	width: 80px;
}

.public-site-navbar .switch input:checked + .slider:before {
	-ms-transform: translateX(78px);
	-webkit-transform: translateX(78px);
	transform: translateX(78px);
}

.public-site-navbar .raylife-navbar-button {
	border: 1px solid var(--color-action-primary-default) !important;
	color: var(--color-action-primary-default) !important;
	font-size: 15px;
	height: 48px;
	width: 90px;
}

.public-site-navbar .menu-drop {
	display: inline-block;
	position: relative;
}

.public-site-navbar .drop-content {
	border: 1px solid #c4d6ff;
	position: absolute;
	right: 0;
	z-index: 1;
}

.public-site-navbar .drop-content a {
	display: block;
	height: 48px;
	text-decoration: none;
	width: 243px;
}

.public-site-navbar .menu-drop .drop-content.menu-options {
	display: block;
}

.public-site-navbar #navbarSupportedContent .btn.btn-ghost {
	text-transform: uppercase;
}

.public-site-navbar .navbar-logo {
	height: 36px;
	width: 120px;
}

@media only screen and (max-width: 991px) {
	.public-site-navbar .public-site-navbar-divider,
	.public-site-navbar .public-site-navbar-link,
	.public-site-navbar .public-site-navbar-phone,
	.public-site-navbar .public-site-navbar-switch {
		display: none;
	}

	.public-site-navbar .navbar-brand {
		max-width: auto !important;
		padding-left: 0;
	}

	.public-site-navbar .nav-mobile-icon {
		filter: invert(54%) sepia(9%) saturate(246%) hue-rotate(195deg)
			brightness(89%) contrast(83%);
		height: 20px;
		width: 20px;
	}
}
