.token-sample {
	border: 1px solid var(--color-neutral-5);
}

.token-label {
	font-family: monospace;
}

.token-group-colors,
.token-group-shadows {
	.token-sample {
		height: 3rem;
		width: 3rem;
	}
}

.token-group-borders .token-sample {
	height: 3rem;
	width: 6rem;
}

.token-group-shadows,
.token-group-buttons,
.token-group-form {
	.token-sample {
		border: none;
	}
}

.token-group-spacers .token-sample {
	width: 0;
}

.token-group-texts {
	.token-sample {
		margin-right: 0;
		padding: 0.5rem;
		width: 100%;
	}
}

.token-group-ratios .token-sample {
	width: 6rem;
}
