<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" referrerpolicy="no-referrer" rel="stylesheet" />

<style>
.back
{
	position: absolute;
	right: 1rem;
	top: 1rem;
	color:var(--light)!important;
	z-index: 3!important;
}
.back:hover
{
color:var(--primary)!important;
cursor:pointer;
}
.align-items-center.d-flex.mb-2
{
	display:none!important;
}
.custom-jumbotron
{
	height:400px!important;
	position:relative;
	margin-bottom:0!important;
}
.overlay {
background: rgb(10 10 10 / 48%);
position: absolute;
height: 100%;
width: 100%;
left: 0;
top: 0;
bottom: 0;
right: 0;
opacity: 1;
}
.bg-custom-img
{

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.overlay-top
{
	z-index: 2!important;
	position: relative;
}
.btn-circle {
width: 30px;
height: 30px;
text-align: center;
padding: 6px 0;
font-size: 12px;
line-height: 1.428571429;
border-radius: 15px;
}
.btn-circle.btn-lg {
width: 50px;
height: 50px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 25px;
}
.btn-circle.btn-xl {
width: 70px;
height: 70px;
padding: 10px 16px;
font-size: 24px;
line-height: 1.33;
border-radius: 35px;
}
</style>

<div class="bg-custom-img custom-jumbotron jumbotron jumbotron-fluid" data-lfr-background-image-id="cover-image">
<div class="container overlay-top">
	<h1 class="display-4 text-white" data-lfr-editable-id="Title" data-lfr-editable-type="text"></h1>

	<p class="lead text-white" data-lfr-editable-id="SubTitle" data-lfr-editable-type="text"></p>
</div>

<i class="back fa-4x fa-arrow-circle-left fas" onclick="window.history.back()"></i>
<div class="overlay"></div>
</div>

<div class="bg-white p-4">
<lfr-drop-zone></lfr-drop-zone>
</div>