.department-footer {
  color: var(--gray-900);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  line-height: 1.75;
}

.department-footer a {
  color: var(--gray-900);
}

.department-footer a:hover {
  color: var(--secondary);
}

.department-footer li a {
  display: block;
}

.department-footer .language-selector {
  font-weight: var(--font-weight-bold);
  transform: translateX(-26px);
}

.department-footer-border:after {
  border-bottom: 1px solid var(--gray-300);
  content: '';
  margin: var(--spacer-3) 12px;
  width: 100%;
}

.department-footer-social {
  transform: translateX(-8px);
}

.department-footer-social a:not(:first-child) {
  margin-left: calc(var(--spacer-1) * 0.5);
}

.department-footer-social img {
  width: 20px;
}

@media (max-width: 992px) {
  .department-footer .navbar-nav {
    flex-direction: column;
  }

  .department-footer .language-selector {
    font-weight: var(--font-weight-bold);
    transform: none;
  }
}
