<div class="cadmin closed lfr-admin-panel lfr-product-menu-panel lfr-simulation-panel sidenav-fixed sidenav-menu-slider sidenav-right" id="${portletNamespace}simulationPanelId">
	<div class="sidebar sidebar-inverse sidebar-light sidebar-sm sidenav-menu">
		<div class="d-flex justify-content-between sidebar-header">
			<h1 class="sr-only">${simulationPanel}</h1>

			<span class="font-weight-bold">${sidebarMessage}</span>

			${sidebarIcon}
		</div>

		<div class="sidebar-body"></div>
	</div>
</div>