.error-list-item {
	code {
		color: $danger;
		display: block;
		overflow: auto;

		white-space: break-spaces;
	}

	.alert-footer {
		margin-top: 0.5rem;
	}

	.autofit-col-expand > .autofit-section {
		padding-right: 32px;
	}

	.collapse-button {
		position: absolute;
		right: 0;
		top: -6px;
	}

	.message {
		.title {
			font-weight: 600;
		}

		.title + .description {
			padding-left: 4px;
		}
	}

	.property {
		font-size: 12px;
		font-weight: 600;
	}

	.row {
		padding: 0 12px;

		> div {
			border-bottom: 1px solid lighten($dangerL1, 15%);
			padding-bottom: 2px;
			padding-top: 2px;
		}

		&:last-child > div {
			border-width: 0;
		}

		div:first-child {
			padding-left: 0;
		}

		div:last-child {
			padding-right: 0;
		}
	}

	.scroll-button {
		background-color: $errorL2;
		padding-left: 8px;
		position: absolute;
		right: 40px;
		top: -4px;
		visibility: hidden;

		button {
			font-size: 12px;
		}
	}

	&.collapsible {
		.message {
			cursor: pointer;
		}
	}

	&:hover {
		.scroll-button {
			visibility: visible;
		}
	}
}
