.form-control-lg.quantity-selector {
	min-width: 8rem;
}

.quantity-selector-popover {
	bottom: auto;
	top: auto;

	.popover-body {
		padding: map-get($spacers, 1) map-get($spacers, 2);

		li:last-child {
			border-bottom: none;
		}
	}
}
