@import 'header';

.onboarding {
	height: 690px;
	width: 600px;
}

.cp-generateKey {
	max-height: 936px;
	min-height: 836px;
	width: 680px;
}

.cp-select-card {
	background-image: none !important;
}

.cp-required-info {
	width: 680px;
}
