@import 'atlas-variables';

.lfr-balloon-editor {
	&.cke_balloon.cke_balloontoolbar {
		background: white;
		border-color: #e7e7ed;
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
		z-index: 1100;
	}

	.cke_balloon_triangle_outer.cke_balloon_triangle_bottom {
		border-color: #e7e7ed transparent;
	}

	.cke_balloon_triangle_outer.cke_balloon_triangle_top {
		border-color: #e7e7ed transparent;
	}

	.cke_balloon_triangle_inner.cke_balloon_triangle_bottom {
		border-color: white transparent;
	}

	.cke_balloon_triangle_inner.cke_balloon_triangle_top {
		border-color: white transparent;
	}

	.cke_inner .cke_top {
		display: none;
	}

	.cke_combo {
		margin-bottom: 0;
		margin-right: 2px;
		&:first-child {
			a.cke_combo_button {
				margin-left: 0;
			}
		}
		&:last-child {
			margin-right: 0;
		}
		a.cke_combo_button {
			margin: 0 1px 0 -2px;
		}
	}

	span:last-child {
		a {
			&:last-child {
				&::after {
					border-right: 0;
				}
				&:hover {
					&::after {
						border-right: 0;
					}
				}
			}
		}
		&::after {
			border-right: 0;
		}
	}

	.ui-numberinput {
		align-items: center;
		display: flex;
		flex-direction: row;
		float: left;
		padding: 4px;

		input {
			background: #f1f2f5;
			border: 1px solid #e7e7ed;
			border-radius: 4px;
			max-width: 32px;
			padding: 6px 12px;
		}

		label {
			padding: 4px;
		}
	}

	.ui-select {
		border: none;
		color: grey;
		float: left;
		line-height: 30px;
		margin: 2px;
		min-height: 30px;
		outline: none;
		padding: 6px;
		width: auto;

		option {
			border: none;
			color: grey;
			float: left;
			line-height: 30px;
			outline: none;
			padding: 6px;
			width: auto;
		}
	}

	.ui-select-wrapper {
		position: relative;
		top: -9px;
	}

	.ui-textinput {
		background: white;
		border-radius: 4px;
		float: left;
		height: 16px;
		margin: 2px;
		outline: none;
		padding: 6px;
	}
}

.lfr-table-panel {
	min-height: 110px;
	min-width: 200px;
}

.lfr-balloon-editor-insert-button {
	align-items: center;
	background: white;
	border: 0.75px solid $primary;
	border-radius: 2px;
	color: $primary;
	height: 24px;
	position: absolute;
	width: 24px;
}

.liferay-editable {
	overflow: auto;
	position: inherit !important;
}

.cke_toolbar.cke_toolbar__a11yhelpbtn {
	float: right;

	.cke_toolgroup {
		&,
		&:hover {
			background: transparent;
			border-width: 0;
			margin-bottom: 0;
			margin-top: 5px;
		}
	}

	.cke_button {
		&:hover {
			background: transparent;
		}

		.cke_button_icon {
			display: none;
		}

		.cke_button__a11ybtn_label {
			display: inline;
		}

		.cke_button_label {
			display: inline;

			&:after {
				border: 1px solid #a6a6a6;
				content: 'Alt+0';
				font-family: 'Courier New', Courier, 'Lucida Sans Typewriter',
					'Lucida Typewriter', monospace;
				margin-left: 5px;
				padding: 3px;
			}

			&.mac:after {
				content: 'Option+0';
			}
		}
	}
}

.cke_widget_embedurl,
.cke_widget_videoembed {
	.embed-help-message {
		color: #fff;
		font-weight: 600;
		opacity: 0;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		transition: opacity 0.15s ease-in-out;
		width: 100%;
		z-index: 1;
	}

	.embed-responsive {
		.embed-responsive-16by9 {
			iframe {
				@extend .embed-responsive-item !optional;
			}
		}
	}

	.cke_widget_mask {
		background-color: #000;
		cursor: pointer;
		opacity: 0;
		transition: opacity 0.15s ease-in-out;
	}

	&.cke_widget_wrapper {
		&:hover,
		&.cke_widget_focused {
			.cke_widget_element {
				outline: none;
			}
		}

		&.cke_widget_selected {
			.cke_widget_mask {
				height: 100%;
				opacity: 0.6;
			}

			.embed-help-message {
				opacity: 1;
			}
		}
	}
}
