<nav class="team-extranet-footer">
	<div class="row team-extranet-footer-border">
		<div class="col-12 col-lg-9">
			<div class="align-items-center d-flex language-selector mb-4">
				<img alt="" src="[resources:icon_world.svg]" width="18" />

			<span class="current-language ml-1">English (United States)</span>
			</div>

			<div class="row">
				<div class="col-lg-3">
					<lfr-widget-nav id="mainNav"></lfr-widget-nav>
				</div>

				<div class="col-lg-3">
					<lfr-widget-nav id="privacyNav"></lfr-widget-nav>
				</div>
			</div>
		</div>

		<div class="col-12 col-lg-3">
			<div class="mb-3 team-extranet-footer-social">
			<a class="btn btn-monospaced btn-sm" data-lfr-editable-id="socialFacebookLink" data-lfr-editable-type="link" href="#">
				<img alt="Facebook link" data-lfr-editable-id="socialFacebook" data-lfr-editable-type="image" src="[resources:social_icon_facebook.svg]" />
				</a>

			<a class="btn btn-monospaced btn-sm" data-lfr-editable-id="socialTwitterLink" data-lfr-editable-type="link" href="#">
				<img alt="Twitter link" data-lfr-editable-id="socialTwitter" data-lfr-editable-type="image" src="[resources:social_icon_twitter.svg]" />
				</a>

			<a class="btn btn-monospaced btn-sm" data-lfr-editable-id="socialInstagramLink" data-lfr-editable-type="link" href="#">
				<img alt="Instagram link" data-lfr-editable-id="socialInstagram" data-lfr-editable-type="image" src="[resources:social_icon_instagram.svg]" />
				</a>

			<a class="btn btn-monospaced btn-sm" data-lfr-editable-id="socialLinkedinLink" data-lfr-editable-type="link" href="#">
				<img alt="Linkedin link" data-lfr-editable-id="socialLinkedin" data-lfr-editable-type="image" src="[resources:social_icon_linkedin.svg]" />
				</a>

			<a class="btn btn-monospaced btn-sm" data-lfr-editable-id="socialGithubLink" data-lfr-editable-type="link" href="#">
				<img alt="Github link" data-lfr-editable-id="socialGithub" data-lfr-editable-type="image" src="[resources:social_icon_github.svg]" />
				</a>

			<a class="btn btn-monospaced btn-sm" data-lfr-editable-id="socialYoutubeLink" data-lfr-editable-type="link" href="#">
				<img alt="Youtube link" data-lfr-editable-id="socialYoutube" data-lfr-editable-type="image" src="[resources:social_icon_youtube.svg]" />
				</a>
			</div>

			<div property="address" typeof="PostalAddress">
				<div property="streetAddress">1400 Montefino Avenue</div>

				<span property="addressLocality">Diamond Bar, CA</span>
				<span property="postalCode">91765</span>

				<div class="country-name">United States</div>
				<div property="telephone">+1-877-LIFERAY</div>
			</div>
		</div>
	</div>

	<div class="align-items-center row">
		<div class="col-12 col-lg-9">
		<span data-lfr-editable-id="footerText" data-lfr-editable-type="text">
				© 2021 Liferay. All Rights Reserved
			</span>
		</div>

		<div class="col-12 col-lg-3">Powered by <a href="">Liferay</a></div>
	</div>
</nav>