<div class="container">
		<h1 class="font-weight-bolder h1 mb-3 text-neutral-9" data-lfr-editable-id="hang-tight-title" data-lfr-editable-type="text">
			Hang tight...
		</h1>

		<p class="font-weight-normal mb-5 text-neutral-9 text-paragraph" data-lfr-editable-id="hang-tight-subtitle" data-lfr-editable-type="text">
			We're finding the best coverage at the best price.<br />
			This usually takes about 1-2 minutes.
		</p>

		<img alt="" class="hang-tight-image" data-lfr-editable-id="hang-tight-image" data-lfr-editable-type="image" src="[resources:undraw_abstract_x68e 1.png]" />
</div>