[#assign publicFriendlyURL = themeDisplay.getPathFriendlyURLPublic() +
themeDisplay.getSiteGroup().getFriendlyURL() /]

<nav class="main-navbar navbar navbar-expand-lg">
	<div class="container-fluid container-fluid-max-xl">
		<a class="d-inline-flex site-logo" href="${publicFriendlyURL}">
			<img
				alt=""
				class="navbar-logo"
				data-lfr-editable-id="imageLogo"
				data-lfr-editable-type="image"
				src="[resources:department_logo.svg]"
			/>
		</a>

		<button
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
			class="navbar-toggler"
			data-bs-target="#navbarSupportedContent"
			data-bs-toggle="collapse"
			type="button"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<lfr-widget-nav id="nav"></lfr-widget-nav>

			<button class="btn btn-borderless btn-monospaced" type="submit">
				<img alt="" src="[resources:icon_search.svg]" />
			</button>
		</div>
	</div>
</nav>
