.main-navbar {
	padding: 24px 0;
}

.main-navbar .container-fluid {
	justify-content: space-between;
}

.main-navbar .container-fluid,
.main-navbar .container-fluid-max-xl {
	padding: 0;
}

.main-navbar .navbar-collapse {
	justify-content: flex-end;
}

.main-navbar .nav-item {
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-bold);
}

.main-navbar .nav-item a {
	color: var(--white);
	padding: var(--spacer-3);
}

.main-navbar .navbar-logo {
	width: 180px;
}

.main-navbar .navbar-nav {
	margin-right: var(--spacer-4);
}

.main-navbar .portlet {
	margin-bottom: 0;
}

.position-absolute {
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
