@import 'cadmin-variables';

html#{$cadmin-selector} {
	.cadmin {
		&.lfr-analytics-reports-panel {
			&.open-admin-panel.sidenav-menu-slider {
				visibility: visible;
				width: 320px;
			}

			.sidebar {
				border-left: 1px solid $cadmin-gray-300;
				box-shadow: none;
			}

			.sidebar-header {
				height: 64px;
				line-height: 32px;

				.lexicon-icon {
					font-size: 14px;
				}
			}

			@include media-breakpoint-up(sm, $cadmin-grid-breakpoints) {
				@include media-breakpoint-down(md, $cadmin-grid-breakpoints) {
					&.lfr-admin-panel.sidenav-menu-slider {
						top: 56px;
					}
				}
			}

			.sidebar-body {
				bottom: 0;
				left: 0;
				padding: 0;
				position: absolute;
				right: 0;
				top: 56px;

				.chart-loading-indicator {
					position: absolute;
					transform: translate(80%, 100%);
					z-index: 1;
				}

				.loading-animation {
					left: 0;
					position: absolute;
					right: 0;
					top: 40%;
				}
			}

			.text-truncate-reverse {
				direction: rtl;
			}

			.list-group {
				margin-bottom: 8px;
			}
		}

		.dropdown-menu__translation {
			max-height: 295px;
		}
	}
}
