@import 'atlas-variables';

.lfr-analytics-reports-panel {
	&.open-admin-panel.sidenav-menu-slider {
		visibility: visible;
		width: 330px;
	}

	.sidebar {
		border-left: 1px solid $gray-300;
		box-shadow: none;
	}

	.sidebar-header {
		height: 64px;
		line-height: 32px;

		.lexicon-icon {
			font-size: 14px;
		}
	}

	@media only screen and (min-width: 576px) {
		.sidebar-header {
			padding-bottom: 12px;
			padding-top: 12px;
		}
	}

	.sidebar-body {
		bottom: 0;
		left: 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 56px;

		.chart-loading-indicator {
			position: absolute;
			transform: translate(80%, 100%);
			z-index: 1;
		}

		.loading-animation {
			left: 0;
			position: absolute;
			right: 0;
			top: 40%;
		}
	}

	.text-truncate-reverse {
		direction: rtl;
	}

	.list-group {
		margin-bottom: 0.5rem;
	}
}

.dropdown-menu__translation {
	max-height: 295px;
}
