// Height for the sidebar when display setting is enabled

$displaySettingsHeight: 48px;

// Layout

$multiPanelSidebarButtonWidth: 40px;
$multiPanelSidebarContentWidth: 368px;

// Animations

$animation: cubic-bezier(0.25, 0.1, 0.25, 1);
