.sidebar {
	background: #fff;
	border-left: 1px solid #e7e7ed;
	max-width: 850px;
	min-width: 510px;

	.node {
		border: none;
		cursor: grab;
		width: 480px;

		&:hover {
			border: 2px solid #80acff;
			box-shadow: 0 8px 16px 0 #27283329;
		}

		.node-icon {
			height: 32px;
			width: 32px;

			svg {
				height: 16px;
				width: 16px;
			}
		}
	}

	.sidebar-body {
		overflow: hidden;

		.panel .sheet-subtitle {
			align-items: center;
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		.section-buttons-area {
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.delete-button {
				align-items: flex-end;

				& svg {
					fill: #6b6c7e;
				}
			}
		}

		.current-assignments-area {
			background-color: #fff;
			border-color: #e7e7ed;
			border-style: solid;
			border-width: 0.0625rem;
			border-radius: 0.25rem;
			padding-left: 30px;
			padding-right: 15px;
			padding-top: 3px;
			padding-bottom: 3px;

			.delete-button {
				& svg {
					fill: #6b6c7e;
				}
			}

			.current-assignments-row {
				align-items: center;
			}
		}

		span .lexicon-icon-exclamation-full:hover {
			color: #da1414 !important;
		}

		span svg:hover {
			color: #6b6c7e !important;
		}
	}

	.sidebar-header {
		align-items: center;
		border-bottom: 1px solid #e7e7ed;
		display: flex;
		height: 75px;

		.title {
			color: #272833;
			font-size: 20px;
			font-weight: 700;

			&:first-letter {
				text-transform: capitalize;
			}
		}
	}

	.spaced-items {
		align-items: center;
		display: flex;
		justify-content: space-between;
		width: 100%;

		.auto-create {
			align-items: center;
			display: flex;

			.custom-control {
				margin-bottom: 0;
			}
		}

		.trash-button {
			height: 32px;
			width: 32px;

			svg {
				height: 16px;
				width: 16px;
			}

			&:hover {
				background: #feefef;
				border-radius: 4px;
				height: 32px;
				padding: 8px;
				width: 32px;

				svg {
					fill: #da1414;
					height: 16px;
					width: 16px;
				}
			}
		}
	}
}
