.cke_contents,
.CodeMirror {
	height: calc(100vh - 90px - 64px - 56px) !important;
}

.cke_top {
	display: none !important;
}

.source-toolbar {
	background-color: white;

	span {
		color: #272833;
		font-size: 20px;
		font-weight: 700;
	}
}
