<footer class="bg-brand-primary-darken-5 footer public-footer">
	<div class="container">
		<div class="row">
			<section class="col-4">
			<img alt="" class="footer-logo" src="[resources:logo_inv.svg]" />
			</section>

			<section class="col-2">
				<h4 class="font-weight-bolder h4 text-neutral-0">Products</h4>

				<ul class="flex-column footer-nav nav p-0">
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">Auto</a>
					</li>
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">Life</a>
					</li>
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">Health</a>
					</li>
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">Property</a>
					</li>
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">Umbrella</a>
					</li>
				</ul>
			</section>

			<section class="col-2">
				<h4 class="font-weight-bolder h4 text-neutral-0">Claims</h4>

				<ul class="flex-column footer-nav nav p-0">
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">Submit a Claim</a>
					</li>
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">My Claim Status</a>
					</li>
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">Claims FAQ</a>
					</li>
				</ul>
			</section>

			<section class="col-2">
				<h4 class="font-weight-bolder h4 text-neutral-0">For Brokers</h4>

				<ul class="flex-column footer-nav nav p-0">
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">Broker Login</a>
					</li>
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">Broker Resources</a>
					</li>
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">Become a Broker</a>
					</li>
				</ul>
			</section>

			<section class="col-2">
				<h4 class="font-weight-bolder h4 text-neutral-0">Our Company</h4>

				<ul class="flex-column footer-nav nav p-0">
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">About Us</a>
					</li>
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">News</a>
					</li>
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">FAQ</a>
					</li>
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">Careers</a>
					</li>
					<li class="nav-item">
						<a class="font-weight-semi-bold nav-link pl-0 public-footer-opacity--70 text-link-md text-neutral-0" href="#">Contect Us</a>
					</li>
				</ul>
			</section>
		</div>

		<div class="d-flex footer-bottom justify-content-between pb-4">
			<ul class="flex-row footer-nav nav p-0">
				<li class="nav-item">
					<a class="font-weight-semi-bold m-0 nav-link pl-0 public-footer-opacity--50 text-link-sm text-neutral-0" href="#">Accesibility</a>
				</li>
				<li class="nav-item">
					<a class="font-weight-semi-bold m-0 nav-link pl-0 public-footer-opacity--50 text-link-sm text-neutral-0" href="#">Privacy</a>
				</li>
				<li class="nav-item">
					<a class="font-weight-semi-bold m-0 nav-link pl-0 public-footer-opacity--50 text-link-sm text-neutral-0" href="#">Termns of Use</a>
				</li>
			</ul>

			<ul class="flex-row footer-nav nav p-0">
				<li class="nav-item">
				<a class="m-0 nav-link pl-0 text-neutral-0" href="#"><img src="[resources:instagram.svg]" alt=""
					/></a>
				</li>
				<li class="nav-item">
				<a class="m-0 nav-link pl-0 text-neutral-0" href="#"><img src="[resources:facebook.svg]" alt=""
					/></a>
				</li>
				<li class="nav-item">
				<a class="m-0 nav-link pl-0 text-neutral-0" href="#"><img src="[resources:linkedin.svg]" alt=""
					/></a>
				</li>
				<li class="nav-item">
				<a class="m-0 nav-link pl-0 text-neutral-0" href="#"><img src="[resources:youtube.svg]" alt=""
					/></a>
				</li>
			</ul>
		</div>

		<div class="footer-copy mt-4">
			<p class="font-weight-normal public-footer-opacity--50 text-neutral-0 text-paragraph-sm">© 2021 Raylife Inc. All Rights Reserved.</p>
		</div>
	</div>
</footer>