<footer class="bg-brand-primary-darken-5 c-py-6 c-py-lg-10 c-py-md-6 c-py-sm-6 footer public-footer">
	<div class="container px-4">
		<div class="col-12 col-lg-12 col-md-9 col-sm-12 d-flex flex-wrap px-0">
			<section class="align-items-start c-mb-5 c-mb-lg-0 c-mb-md-5 c-mb-sm-6 col-lg-3 col-md-12 d-flex p-0 text-center">
				<img alt="footer-logo" class="footer-logo" src="[resources:logo_inv.svg]" />
			</section>

			<section class="c-mb-6 c-mb-lg-0 c-mb-lg-0 c-mb-md-6 c-mb-sm-6 col-lg-2 col-md-6 p-0">
				<h4 class="c-mb-4 font-weight-bolder h4 text-neutral-0">
					Products
				</h4>

				<ul class="c-p-0 d-inline-flex flex-column footer-nav nav">
					<li class="c-mb-3 nav-item">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">Auto</a>
					</li>
					<li class="c-mb-3 nav-item">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">Home</a>
					</li>
					<li class="c-mb-3 nav-item">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">Life</a>
					</li>
					<li class="c-mb-3 nav-item">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">Health</a>
					</li>
					<li class="c-mb-3 nav-item">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">Property</a>
					</li>
					<li class="nav-item">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">Umbrella</a>
					</li>
				</ul>
			</section>

			<section class="c-mb-6 c-mb-lg-0 c-mb-sm-6 col-lg-2 col-md-6 p-0">
				<h4 class="c-mb-4 font-weight-bolder h4 text-neutral-0">Claims</h4>

				<ul class="c-p-0 d-inline-flex flex-column footer-nav nav">
					<li class="av-item c-mb-3">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">Submit a Claim</a>
					</li>
					<li class="av-item c-mb-3">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">My Claim Status</a>
					</li>
					<li class="nav-item">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">Claims FAQ</a>
					</li>
				</ul>
			</section>

			<section class="c-mb-6 c-mb-lg-0 c-mb-sm-6 col-lg-2 col-md-6 p-0">
				<h4 class="c-mb-4 font-weight-bolder h4 text-neutral-0">For Brokers</h4>

				<ul class="c-p-0 d-inline-flex flex-column footer-nav nav">
					<li class="av-item c-mb-3">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">Broker Login</a>
					</li>
					<li class="c-mb-3 nav-item">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">Broker Resources</a>
					</li>
					<li class="nav-item">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">Become a Broker</a>
					</li>
				</ul>
			</section>

			<section class="col-lg-3 col-md-6 p-0">
				<h4 class="c-mb-4 font-weight-bolder h4 text-neutral-0">Our Company</h4>

				<ul class="c-p-0 d-inline-flex flex-column footer-nav nav">
					<li class="c-mb-3 nav-item">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">About Us</a>
					</li>
					<li class="c-mb-3 nav-item">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">News</a>
					</li>
					<li class="c-mb-3 nav-item">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">FAQ</a>
					</li>
					<li class="c-mb-3 nav-item">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">Careers</a>
					</li>
					<li class="nav-item">
						<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--70 text-link-md text-neutral-0" href="#">Contect Us</a>
					</li>
				</ul>
			</section>
		</div>

		<div class="c-mt-8 c-mt-lg-10 c-mt-md-10 c-mt-sm-8 c-pb-4 d-flex flex-wrap footer-bottom justify-content-between">
			<ul class="col-lg-6 col-md-6 col-sm-12 flex-row footer-nav justify-content-lg-start justify-content-md-start justify-content-sm-between nav order-2 order-lg-1 order-md-1 order-sm-2 p-0">
				<li class="c-mr-5 nav-item">
					<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--50 text-link-sm text-neutral-0" href="#">Accesibility</a>
				</li>
				<li class="c-mr-5 nav-item">
					<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--50 text-link-sm text-neutral-0" href="#">Privacy</a>
				</li>
				<li class="nav-item">
					<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--50 text-link-sm text-neutral-0" href="#">Terms of Use</a>
				</li>
			</ul>

			<ul class="c-mb-4 c-mb-lg-0 c-mb-md-0 c-mb-sm-4 col-lg-6 col-md-6 col-sm-12 flex-row footer-nav justify-content-md-end nav order-1 order-lg-2 order-md-2 order-sm-1 p-0">
				<li class="c-mr-5 nav-item">
					<a class="c-p-0 nav-link text-neutral-0" href="#">
						<img alt="instagram" src="[resources:instagram.svg]" />
					</a>
				</li>
				<li class="c-mr-5 nav-item">
					<a class="c-p-0 nav-link text-neutral-0" href="#">
						<img alt="facebook" src="[resources:facebook.svg]" />
					</a>
				</li>
				<li class="c-mr-5 nav-item">
					<a class="c-p-0 nav-link text-neutral-0" href="#">
						<img alt="linkedin" src="[resources:linkedin.svg]" />
					</a>
				</li>
				<li class="nav-item">
					<a class="c-p-0 nav-link text-neutral-0" href="#">
						<img alt="youtube" src="[resources:youtube.svg]" />
					</a>
				</li>
			</ul>
		</div>

		<div class="c-mt-4 col-12 col-lg-12 col-md-12 col-sm-12 footer-copy p-0">
			<p class="c-mb-0 font-weight-normal public-footer-opacity--50 text-neutral-0 text-paragraph-sm">© 2022 Raylife Inc. All Rights Reserved.</p>
		</div>
	</div>
</footer>