.cp-activation-keys-drop-down-item:hover {
	background-color: var(--color-action-primary-hover-lighten);
	color: var(--color-action-primary-hover) !important;

	svg {
		color: var(--color-action-primary-hover) !important;
		opacity: 0.5;
	}
}

.cp-activation-key-download-alert {
	width: 25.375rem;
}

.alert-notifications-fixed {
	bottom: 2rem;
	left: 2rem;
}
