.cp-activation-keys-drop-down-item:hover {
	background-color: var(--color-action-primary-hover-lighten);
	color: var(--color-action-primary-hover) !important;

	svg {
		color: var(--color-action-primary-hover) !important;
		opacity: 0.5;
	}
}

.cp-activation-key-download-alert {
	width: 25.375rem;
}

.alert-notifications-fixed {
	bottom: 2rem;
	left: 2rem;
}

.cp-error-alert {
	background-color: var(--color-state-error-lighten-1);

	svg {
		height: 1.5rem;
		width: 1.5rem;
	}
}

.cp-deactivate-loading {
	opacity: 0.5;
}

.cp-spinner {
	border-right-color: transparent;
}

.dropdown button:focus {
	box-shadow: none;
}

.cp-activation-key-icon {
	box-shadow: none;
	border: 1px solid var(--color-neutral-2);
	left: 641px;
	min-width: fit-content;
	top: 276px;
	ul li span {
		padding: 0.75rem;
		padding-right: 68px !important;
	}
}
