$banner-height: 286px;

.banner {
	background: #134194;
	height: $banner-height;

	& > div {
		z-index: 1;
	}

	&.rounded-left {
		border-top-left-radius: 1rem !important;
		border-bottom-left-radius: 1rem !important;
	}

	img {
		height: $banner-height;
		right: 0;
		border-top-left-radius: 1rem !important;
		border-bottom-left-radius: 1rem !important;
	}
}
