$banner-height: 286px;

.banner {
	background: #134194;
	height: $banner-height;

	& > div {
		z-index: 1;
	}

	&.rounded-xl-left {
		border-bottom-left-radius: var(--border-radius-xl);
		border-top-left-radius: var(--border-radius-xl);
	}

	img {
		border-bottom-left-radius: var(--border-radius-xl);
		border-top-left-radius: var(--border-radius-xl);
		height: $banner-height;
		right: 0;
	}
}
