.quick-links-container {
	right: 0;
	min-width: 343px;
	width: 343px;
}

.link-body {
	background: var(--color-action-primary-lighten-1, rgba(250, 251, 255, 1));
	border: 1px solid rgba(0, 74, 215, 0.1);
}
