.search-project {
	border: 1px solid rgba(0, 74, 215, 0.1);
	padding: 1.125rem var(--form-input-padding-x) 1.125rem 4rem;
	width: 553px;

	&.h5 {
		font-size: var(--h5-font-size);
		line-height: 20px;
	}

	&::placeholder {
		font-weight: var(--font-weight-semi-bold);
	}

	&:hover {
		border-color: var(--color-action-primary-hover);
	}

	& + .lexicon-icon {
		bottom: 25.63px;
		font-size: 1.421rem;
		left: 28.63px;
	}
}
