<div class="member-card">
	<div class="member-card-body">
		<div class="text-group">
			<a href="">
				<h4 class="member-name" data-lfr-editable-id="name" data-lfr-editable-type="text">
					Member Name
				</h4>
			</a>

			<h4 class="member-role" data-lfr-editable-id="role" data-lfr-editable-type="text">
				Member Role
			</h4>

			<p class="member-summary" data-lfr-editable-id="summary" data-lfr-editable-type="text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit facere harum voluptate.
			</p>
		</div>

		<div class="member-social">
			<a class="social-link" data-lfr-editable-id="socialFacebookLink" data-lfr-editable-type="link" href="#">
				<img alt="Facebook link" data-lfr-editable-id="socialFacebook" data-lfr-editable-type="image" src="[resources:social_icon_facebook.svg]" />
			</a>

			<a class="social-link" data-lfr-editable-id="socialLinkinLink" data-lfr-editable-type="link" href="#">
				<img alt="Linkin link" data-lfr-editable-id="socialLinkin" data-lfr-editable-type="image" src="[resources:social_icon_linkin.svg]" />
			</a>

			<a class="social-link" data-lfr-editable-id="socialInstagramLink" data-lfr-editable-type="link" href="#">
				<img alt="Instagram link" data-lfr-editable-id="socialInstagram" data-lfr-editable-type="image" src="[resources:social_icon_instagram.svg]" />
			</a>
		</div>
	</div>

	<a class="image-group">
		<div class="image-overlay"></div>

		<img alt="" class="member-card-image" data-lfr-editable-id="image" data-lfr-editable-type="image" src="[resources:member_example.jpg]" />
	</a>
</div>