.bootcamp-footer {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-sm);
}

.bootcamp-footer .navbar-nav .nav-link {
  --primary: var(--gray-900);
}

.bootcamp-footer .navbar-nav .nav-link:hover {
  color: var(--gray-700);
}

.bootcamp-footer small {
  font-size: 75%;
}

.bootcamp-footer-border:after {
  border-bottom: 1px solid var(--gray-900);
  content: '';
  margin: 10px 15px 15px;
  width: 100%;
}

.bootcamp-footer .portlet {
  margin-bottom: 0;
}

.bootcamp-footer-social a:not(:first-child) {
  margin-left: var(--spacer-2);
}

@media (max-width: 992px) {
  .bootcamp-footer .navbar-nav {
    flex-direction: column;
  }

  .bootcamp-footer .navbar-nav .nav-link {
    padding: 0;
    width: 100%;
  }
}
