@import 'atlas-variables';

.lfr-objects__object-validation {
	&-editor-sidebar-container {
		display: flex;
		height: 472px;
		justify-content: space-between;
		width: 100%;
	}

	&-editor-container {
		display: flex;
		flex-direction: column;
		height: 400px;
		padding: 1.5rem;
		width: 100%;

		.lfr-objects__editor {
			border: 1px solid #e7e7ed;
			border-radius: 0.25rem;
			height: 400px;
			width: 100%;

			> .CodeMirror {
				border-radius: 0.25rem;
				height: 398px;
				width: 100%;
			}

			&--error {
				border: 1px solid #f48989;
				> .CodeMirror {
					background-color: #feefef;
				}
			}

			.CodeMirror-wrap pre {
				word-break: break-word;
			}

			.CodeMirror-empty {
				color: #a7a9bc;
			}
		}
	}
}
