.customer-portal-side-menu #customer-portal-products {
	height: 0px;
	transition: all 0.3s;
}

.customer-portal-side-menu #customer-portal-toggle-products {
	width: 100%;
}

.customer-portal-side-menu .btn {
	width: fit-content;
}

.customer-portal-side-menu .btn:focus {
	box-shadow: none;
}

.customer-portal-side-menu #customer-portal-arrow.down {
	transform: rotate(90deg);
	transition-duration: 0.3s;
}

.customer-portal-side-menu #customer-portal-arrow.left {
	transform: rotate(0deg);
	transition-duration: 0.3s;
}

.customer-portal-side-menu .btn-menu {
	border-radius: var(--border-radius);
	color: var(--color-neutral-10);
	cursor: pointer;
	display: flex;
	font-size: var(--text-link-md-font-size);
	font-weight: var(--font-weight-semi-bold);
	line-height: var(--text-link-md-line-height);
	text-decoration: none;
}

.customer-portal-side-menu .btn-menu.active {
	background-color: var(
		--color-action-primary-active-lighten-1,
		rgb(0, 74, 215, 0.1)
	);
	color: var(--color-action-primary-active);
}

.customer-portal-side-menu .btn-menu.text-brand-primary {
	color: var(--color-action-primary-hover) !important;
}

.customer-portal-side-menu .btn-menu:hover {
	background-color: var(
		--color-action-primary-hover-lighten-7,
		rgba(0, 83, 240, 0.07)
	);
	border-color: var(--btn-default-border-color);
	color: var(--color-action-primary-hover) !important;
}
