<div class="side-menu">
      <ul class="principal-menu">
        <li class="d-flex flex-row justify-content-between principal-menu-item">
          <a href="#" class="menu-item-content">Overview</a>
        </li>
        <li class="menu-item">
          <a href="#" id="subMenu" class="d-flex flex-row justify-content-between menu-item-content">
            Product Activation
            <div id="sideArrow"><img class="arrow arrow-left" src="[resources:side_arrow.svg]" alt="" /></div>
          </a>
          <div class="subMenu">
            <ul class="principal-menu sub-menu sub-menu-closed">
              <li class="menu-item">
                <a href="#" class="d-flex flex-row align-items-center sub-menu-item me-2">
                  <img src="[resources:dxp_logo.svg]" alt="" class="" />
                  <p class="">DXP</p>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex flex-row align-items-center sub-menu-item ">
                  <img src="[resources:dxp_logo_pb.svg]" alt="" class="me-2"/>
                  <p class="ms-2">DXP Cloud</p>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex flex-row align-items-center sub-menu-item ">
                  <img src="[resources:commerce_logo.svg]" alt="" class="me-2"/>
                  <p class="ms-2">Commerce</p>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex flex-row align-items-center sub-menu-item ">
                  <img src="[resources:search_icon.svg]" alt="" class="me-2"/>
                  <p class="ms-2">Enterprise Search</p>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="d-flex flex-row justify-content-between principal-menu-item">
          <a href="#" class="menu-item-content">Team Members</a>
        </li>
        <li class="d-flex flex-row justify-content-between principal-menu-item">
          <a href="#" class="menu-item-content">Tickets</a>
        </li>
        <li class="d-flex flex-row justify-content-between principal-menu-item">
          <a href="#" class="menu-item-content">Attachments</a>
        </li>
      </ul>
    </div>