[#assign clayIconSVG = themeDisplay.getCDNBaseURL() +
"/o/admin-theme/images/clay/icons.svg" /]

<div class="customer-portal-side-menu">
	<ul class="list-unstyled">
		<li>
			<a class="active btn btn-menu btn-sm" href="#">
				Overview
			</a>
		</li>
		<li>
			<a class="align-items-center btn btn-menu btn-sm justify-content-between text-neutral-10" href="#" id="customer-portal-toggle-products">
				Product Activation
				<svg class="left lexicon-icon lexicon-icon-angle-right-small" focusable="false" id="customer-portal-arrow" role="presentation">
					<use xlink:href="${clayIconSVG}#angle-right-small" />
				</svg>
			</a>

			<ul class="list-unstyled ml-3 overflow-hidden" id="customer-portal-products"></ul>
		</li>
		<li>
			<a href="#" class="btn btn-sm btn-menu">Team Members</a>
		</li>
	</ul>
</div>