[#assign clayIconSVG = themeDisplay.getCDNBaseURL() +
"/o/admin-theme/images/clay/icons.svg" /]

<div class="customer-portal-side-menu">
<ul class="list-unstyled">
	<li>
	  <a href="#"
		class="active btn btn-sm btn-menu">
		Overview
	  </a>
	</li>
	<li>
	  <a id="customer-portal-toggle-products" href="#"
		class="align-items-center btn btn-sm btn-menu justify-content-between text-neutral-10">
		Product Activation
	<svg class="left lexicon-icon lexicon-icon-angle-right-small" focusable="false" id="customer-portal-arrow" role="presentation">
		<use xlink:href="${clayIconSVG}#angle-right-small" />
		</svg>
	  </a>
	<ul class="list-unstyled ml-3 overflow-hidden" id="customer-portal-products">
	  </ul>
	</li>
	<li>
	  <a href="#" class="btn btn-sm btn-menu">Team Members</a>
	</li>
</ul>
</div>