.assign-to-me {
	align-items: center;
	background-color: transparent;
	border: 1px dashed $color-gray;
	border-radius: 50%;
	color: $color-gray;
	cursor: pointer;
	display: flex;
	height: 28px;
	justify-content: center;
	position: relative;
	width: 28px;

	.lexicon-icon {
		margin-top: 0;
	}
}

.avatar {
	border: solid 2px $color-white;
	cursor: pointer;
	position: relative;
}

.avatar-group {
	flex-direction: row-reverse;
	position: relative;
}

.avatar-group-item {
	margin-right: -18px;
	position: relative;

	&:not(:last-child) {
		left: 0;
	}
}

.avatar-skeleton-loader:empty {
	animation: shine 1s infinite;
	background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0.3) 50%,
			rgba(255, 255, 255, 0) 80%
		),
		lightgray;
	background-position: 0 0;
	background-repeat: repeat-y;
	background-size: 30px 500px;
	border-radius: 50%;
	display: block;
	height: 50px;
	width: 50px;
}

@keyframes shine {
	to {
		background-position: 420% 0;
	}
}
