.table-chart {
	table-layout: fixed;
	max-width: 500px;
	.passed {
		background-color: $passed-color;
	}

	.failed {
		background-color: $failed-color;
	}

	.blocked {
		background-color: $blocked-color;
	}

	.test-fix {
		background-color: $test-fix-color;
	}
	.table-chart-data-area {
		opacity: 0.3;
		border-color: $color-gray-light !important;

		&:hover {
			opacity: 1;
		}
	}
}
