[#assign
	publicFriendlyURL = themeDisplay.getPathFriendlyURLPublic() + themeDisplay.getSiteGroup().getFriendlyURL()
/]

<nav class="navbar navbar-expand-lg navbar-light quote-site-navbar">
	<div class="container">
		<div class="flex-grow-1 navbar-brand">
			<a href="${publicFriendlyURL}">
				<img alt="" class="align-top d-inline-block navbar-logo" data-lfr-editable-id="image-logo" data-lfr-editable-type="image" loading="lazy" src="[resources:raylife_logo.svg]" />
			</a>
		</div>

		<div class="menu-container">
			<span>(909) 987-6543</span>
		</div>

		<div class="menu-container">
			<img alt="" src="[resources:help.svg]" />
		</div>

		<div class="menu-container">
			<img alt="" src="[resources:voice-chat.svg]" />
		</div>
	</div>
</nav>