[#assign
	publicFriendlyURL = themeDisplay.getPathFriendlyURLPublic() + themeDisplay.getSiteGroup().getFriendlyURL()
/]

<nav class="navbar navbar-expand-lg navbar-light quote-site-navbar">
	<div class="container">
		<div class="flex-grow-1 navbar-brand">
			<a class="navbar-brand" href="${publicFriendlyURL}">
				<img alt="" class="align-top d-inline-block navbar-logo" data-lfr-editable-id="image-logo" data-lfr-editable-type="image" loading="lazy" src="[resources:raylife_logo.svg]" />

				<span class="brand-subtext font-weight-bolder text-brand-secondary text-paragraph-sm">Commercial</span>
			</a>
		</div>

		<div class="pb-2 pl-2 pr-2 pt-2 rounded-pill shadow-lg">
			<span class="text-neutral-7 text-link-sm">(909) 987-6543</span>
		</div>

		<div class="pb-2 pl-2 pr-2 pt-2 rounded-pill shadow-lg">
			<img alt="" src="[resources:help.svg]" />
		</div>

		<div class="pb-2 pl-2 pr-2 pt-2 rounded-pill shadow-lg">
			<img alt="" src="[resources:voice-chat.svg]" />
		</div>
	</div>
</nav>