@import 'cadmin';
@import 'sidebar';

html#{$cadmin-selector} {
	.cadmin {
		.form-control-sm[contenteditable] {
			height: auto;
			min-height: $cadmin-input-height-sm;

			p {
				margin-bottom: 0;
			}
		}
	}
}
