<div class="member-card mw-100 position-relative">
	<div class="card-body">
		<div class="text-group">
			<a href="">
			<h4 class="member-name" data-lfr-editable-id="name" data-lfr-editable-type="text">
					Member Name
				</h4>
			</a>

		<h4 class="mb-3 member-role" data-lfr-editable-id="role" data-lfr-editable-type="text">
				Member Role
			</h4>

		<p class="member-short-description" data-lfr-editable-id="memberShortDescription" data-lfr-editable-type="text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit facere
				harum voluptate.
			</p>
		</div>

		<div class="member-social">
		<a class="social-link" data-lfr-editable-id="socialLinkedinLink" data-lfr-editable-type="link" href="#">
			<img alt="Linkedin link" data-lfr-editable-id="socialLinkedin" data-lfr-editable-type="image" src="[resources:social_icon_linkedin.svg]" />
			</a>

		<a class="social-link" data-lfr-editable-id="socialInstagramLink" data-lfr-editable-type="link" href="#">
			<img alt="Instagram link" data-lfr-editable-id="socialInstagram" data-lfr-editable-type="image" src="[resources:social_icon_instagram.svg]" />
			</a>

		<a class="social-link" data-lfr-editable-id="socialTwitterLink" data-lfr-editable-type="link" href="#">
			<img alt="Twitter link" data-lfr-editable-id="socialTwitter" data-lfr-editable-type="image" src="[resources:social_icon_twitter.svg]" />
			</a>
		</div>
	</div>

	<a class="image-group">
	<img alt="" class="member-image" data-lfr-editable-id="image" data-lfr-editable-type="image" src="[resources:member_example.jpg]" />
	</a>
</div>