.subscribe-form {
	align-content: center;
	display: flex;
}

.subscribe-form .form-control {
	margin-right: var(--spacer-2);
}

@media (max-width: 768px) {
	.subscribe-form {
		display: block;
	}
	.department-btn {
		margin-top: var(--spacer-3);
		width: 100%;
	}
}
