@import 'cadmin-variables';

html#{$cadmin-selector} {
	.cadmin {
		.page-editor__editor {
			p {
				margin-bottom: 0;
			}

			&-placeholder {
				color: $cadmin-secondary;
				font-size: 0.875rem;
				padding-left: 16px;
				top: 0.35rem;
			}
		}
	}
}
