@import 'cadmin-variables';

html#{$cadmin-selector} {
	.cadmin {
		.page-editor__item-selector__content {
			&-input {
				cursor: pointer;
			}

			&-button.btn.btn-secondary {
				border-color: $cadmin-gray-300;
				display: block;
				min-width: 32px;
				padding-top: 1px;
			}
		}
	}
}
