.invites-form {
	max-height: 355.5px;
}

select.form-control {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' id='SvgjsSvg1001' width='288' height='288' version='1.1'%3E%3Cdefs id='SvgjsDefs1002'/%3E%3Cg id='SvgjsG1008' transform='matrix(1,0,0,1,0,0)'%3E%3Csvg class='lexicon-icon lexicon-icon-caret-bottom' viewBox='0 0 512 512' width='288' height='288'%3E%3Cpath d='M103.5,204.3l136.1,136.1c9,9,23.7,9,32.7,0l136.1-136.1c14.6-14.6,4.3-39.5-16.4-39.5H119.9C99.2,164.8,88.9,189.7,103.5,204.3L103.5,204.3z' class='lexicon-icon-outline color000 svgShape' fill='%2391959b'/%3E%3C/svg%3E%3C/g%3E%3C/svg%3E");
	font-family: 'Source Sans Pro';
	background-color: #FFFFFF;
}

select.form-control:focus {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' id='SvgjsSvg1001' width='288' height='288' version='1.1'%3E%3Cdefs id='SvgjsDefs1002'/%3E%3Cg id='SvgjsG1008' transform='matrix(1,0,0,1,0,0)'%3E%3Csvg class='lexicon-icon lexicon-icon-caret-bottom' viewBox='0 0 512 512' width='288' height='288'%3E%3Cpath d='M103.5,204.3l136.1,136.1c9,9,23.7,9,32.7,0l136.1-136.1c14.6-14.6,4.3-39.5-16.4-39.5H119.9C99.2,164.8,88.9,189.7,103.5,204.3L103.5,204.3z' class='lexicon-icon-outline color000 svgShape' fill='%2391959b'/%3E%3C/svg%3E%3C/g%3E%3C/svg%3E");
	font-family: 'Source Sans Pro';
	background-color: #FFFFFF;
}

.subscription{
	width: 247px;
	height: 48px;
}

select.option {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 5px 8px;
	overflow: hidden;
}

.subscription-term{
	width: 360px;
	height: 48px;
}

.header{
	color: #272833;
}

.paragraph{
	color: #5A5469;
}
