.home-projects {
	column-gap: var(--spacer-5);
	row-gap: 2rem;

	&-sm {
		gap: 1rem;
	}
}

.project-cards-container {
	max-width: 1217px;

	@media screen and (min-width: 1441px) {
		margin-left: auto;
		margin-right: auto;
	}

	&-sm {
		max-width: 700px;
	}
}
