.cp-team-members-overview {
	.invite-button {
		height: 48px;
		width: 96px;

		.inline-item {
			margin-right: 8px;
			width: 10px;
		}
	}
}

.cp-btn-add-members {
	.inline-item {
		width: 10px;
	}
}
.cp-manager-product-button {
	&:hover {
		border-color: var(--color-action-neutral-default);
	}
	& span {
		margin-left: 6px;
		margin-right: 0.25rem;
		width: 12px;
	}

	border-color: var(--color-action-neutral-default);
}
.cp-manager-product-container {
	max-width: fit-content;
}
