.cp-team-members-overview {
	.invite-button {
		height: 48px;
		width: 96px;

		.inline-item {
			margin-right: 8px;
			width: 10px;
		}
	}
}

.cp-btn-add-members {
	.inline-item {
		width: 10px;
	}
}
