/*----- TYPOGRAPHY -----*/

/*Crimson Text*/

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&display=swap');

/*Montserrat*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
	font-weight: inherit;
	line-height: 1.1;
}

/*-----GENERAL-----*/

body {
	line-height: 1.5;
}

a,
a:hover {
	color: var(--primary);
}

.container-fluid, 
.container-fluid-max-xl {
	position: relative;
}

/*-----COMPONENTS-----*/

/*Buttons*/

.bootcamp-btn.btn {
	border-radius: 0;
	font-family: var(--font-family-sans-serif);
	font-weight: var(--font-weight-bolder);
	letter-spacing: 2px;
	padding: var(--spacer-2) var(--spacer-4);
	text-transform: uppercase;
}

.bootcamp-btn.btn-lg {
	font-size: 12px;
}

.bootcamp-btn.btn-link {
	padding: 0;
}

.bootcamp-btn.btn-link a {
	color: inherit;
}

.bootcamp-btn.btn-nm {
	font-size: 11px;
}

.bootcamp-btn .link-arrow {
	margin-left: var(--spacer-2);
}

/*Form Controls*/

.form-control {
	background-color: var(--white);
	border: var(--white);
	border-radius: 0;
	font-family: var(--font-family-sans-serif);
	height: auto;
}

.form-control-nm {
	font-size: var(--font-size-sm);
	padding: var(--spacer) var(--spacer-5);
}

.form-control-lg {
	padding: var(--spacer) var(--spacer-5);
}

.ddm-field {
	font-family: var(--font-family-sans-serif);
}

.ddm-label,
.lfr-ddm-legend,
.lfr-ddm-checkbox-multiple {
	font-family: var(--font-family-sans-serif);
}

.ddm-form-basic-info,
.portlet-forms-display .icons-container {
	display: none;
}

.lfr-ddm-form-submit {
	float: none !important;

	border-radius: 0;
	font-family: var(--font-family-sans-serif);
	font-size: 12px;
	font-weight: var(--font-weight-bolder);
	letter-spacing: 2px;
	margin-top: var(--spacer-2);
	padding: var(--spacer-2) var(--spacer-4);
	text-transform: uppercase;
	width: 100%;
}