<div class="congrats text-center">
	<h1 class="font-weight-bolder" data-lfr-editable-id="congrats-title" data-lfr-editable-type="text">
		Congrats!
	</h1>

	<h2 class="font-weight-bold" data-lfr-editable-id="congrats-subtitle" data-lfr-editable-type="text">
		What's Next:
	</h2>

<h3 class="font-weight-normal mb-0" data-lfr-editable-id="congrats-description" data-lfr-editable-type="text">
		We will email you the policy contract to sign via DocuSign. <br />
		Look for an email from raylife@docusign.net.
	</h3>

	<h4 class="font-weight-normal" data-lfr-editable-id="congrats-contact" data-lfr-editable-type="text">
		If you don't receive an email within 24 hours, contact us at (909)
		987-6543
	</h4>
</div>

<div class="congrats-footer text-center">
	<h1 class="font-weight-bolder mb-1" data-lfr-editable-id="congrats-footer-title" data-lfr-editable-type="text">
		You did it!
	</h1>

	<h2 class="font-weight-bold text-neutral-8" data-lfr-editable-id="congrats-footer-subtitle" data-lfr-editable-type="text">
		Crafted Jewels, LLC is now covered by a Raylife BOP
	</h2>
</div>