@import 'cadmin-variables';

html#{$cadmin-selector} {
	.cadmin {
		&.lfr-layout-reports-panel {
			&.open-admin-panel.sidenav-menu-slider {
				visibility: visible;
				width: 320px;
			}

			.dropdown-menu__languages {
				max-height: 295px;
			}

			.failing-element {
				&:not(:first-child) {
					margin-top: 8px;
				}

				&:not(:last-child) {
					border-width: 0 0 1px;
				}

				border-width: 0;
			}

			.issue {
				cursor: pointer;
			}

			.list-group {
				margin-bottom: 8px;
			}

			.section-label {
				user-select: none;
			}

			.sidebar {
				border-left: 1px solid $cadmin-gray-300;
				box-shadow: none;
			}

			.sidebar-header {
				line-height: 32px;

				.sidenav-back {
					align-items: flex-start;
					width: 24px;
				}

				.issue-detail-title {
					line-height: 17.5px;
				}
			}

			.sidebar-body {
				.loading-animation {
					left: 0;
					position: absolute;
					right: 0;
					top: 40%;
				}
			}

			.text-truncate-reverse {
				direction: rtl;
			}
		}
	}
}
