.business-home-cover .business-home-cover-box {
	font-size: var(--font-size-lg);
	max-width: 100%;
	position: absolute;
	right: 0;
	top: 45px;
	width: 653px;
}

.business-home-cover-box #email ~label{
	left: -3px;
	top: -16px;
}

.business-home-cover-box #zip ~label{
	left: 1px;
	top: -1px;
}

.business-home-cover-box #product ~ label{
	left: 14px;
	top: -11px;
}

.business-home-cover .business-home-cover-box input,
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	height: 48px;
	width: 265px;
}

.business-home-cover .business-home-cover-box #zip-container {
	width: 119px;
}

.business-home-cover .select-icon {
	pointer-events: none;
	right: 20px;
	top: 17px;
}

.business-home-cover
	.business-home-cover-box
	.business-home-cover-box-title
	 {
	display: block;
}

.business-home-cover .form-feedback-indicator::before {
	content: url('[resources:error.svg]');
	margin-right: 4px;
}

.business-home-cover .business-home-cover-image {
	height: 521px;
	max-width: 100%;
	object-fit: cover;
	width: 791px;
}

.page-editor__layout-viewport .business-home-cover .business-home-cover-box {
	top: 5.5rem;
}

.business-home-cover #email-container {
	width: 265px;
}

.business-home-cover #email-container .error-feedback {
	width: 100%;
}

.business-home-cover a {
	text-decoration: underline;
}

.business-home-cover a:visited {
	color: var(--color-action-primary-default);
}

.business-home-cover #zip-container .form-control{
	width: 119px;
}

.business-home-cover #product-container select.form-control {
	background-image: none;
}

#zip-container .form-control:focus + label,
#product-container .form-control:focus + label,
#email-container .form-control:focus + label{
	color: var(--color-brand-primary-lighten-3) ;
}

span.form-feedback-indicator {
    margin-top: 2px;
}

.has-error label {
	color: var(--color-state-error)
}

/* ---------- Tablet view ---------- */
@media screen and (max-width: 768px) {

	.business-home-cover {
		display: flex;
		flex-direction: column-reverse ;
		margin: 0 40px;
	}
	
		.business-home-cover .container {
			max-width: none;
		}

	.business-image-container {
		display: flex;
		justify-content: center;
	}

	.business-home-cover .business-home-cover-image {
		border-radius: 16px;
		height: 378px;
		max-width: 100%;
		width: 688px;
	}

	.business-home-cover .business-home-cover-box {
		bottom: 35px;
		position: inherit;
		top: auto;
	}
}

/* ---------- Landscape view ---------- */
@media screen and (max-width: 662px) {
	
	.new-quote-form {
		flex-direction: column;
	}
	
	#continue-quote {
		margin: 0 !important;
		width: 265px;
	}
	
	#continue-quote span {
		justify-content: center;
	}
}

/* ---------- Mobile view ---------- */
@media screen and (max-width: 576px) {
	
	.business-home-cover {
		display: flex;
		flex-direction: column;
		margin: 0;
	}
	
	.business-home-cover .container {
		border-radius: 16px;
		margin: 0;
		padding: 0;
		top:34px;
		background-color: #fff;
	}

	.business-image-container {
		display: flex;
		justify-content: center;
	}

	.business-home-cover .business-home-cover-image {
		border-radius: 0;
	}

	.business-home-cover-box {
		border-radius: 0 !important;
		box-shadow: none !important;
		padding-bottom: 0 !important;
	}
	
	.business-home-cover-box > div:first-child span {
		font-size: 32px !important;
	}
	
	.business-home-cover-box > div:not(:first-child) div {
		display: block;
	}
	
	#get-quote-form,
	.new-quote-form {
		flex-direction: column;
	}
	
	#continue-quote {
		margin: 0 !important;
		width: 100%;
	}
	
	.business-home-cover #zip-container .form-control,
	.business-home-cover .business-home-cover-box #zip-container,
	#get-quote-form button,
	#email-container,
	#email {
    	width: 100% !important;
	}
}