.applications-products-container {
	min-height: 257px;
}

.applications-products-container .applications-products-title::after {
	background-color: var(--primary);
	content: '';
	display: block;
	height: 1px;
	margin-top: 6px;
	position: absolute;
	width: 19px;
}
