@import 'atlas-variables';

.lfr-de__partial-results {
	&--background {
		background: $light;
		min-height: 100%;
	}

	&-entries {
		height: 124px;
		padding-top: 24px;
	}

	&-header {
		background-color: $white;
		height: 124px;
		padding-top: 24px;
	}

	&-subtitle {
		color: $secondary;
		font-size: 14px;
		font-weight: 400;
	}

	&-title {
		font-size: 2rem;
	}
}
