[#assign clayIconSVG = themeDisplay.getCDNBaseURL() +
"/o/admin-theme/images/clay/icons.svg" /]

<div class="customer-portal-side-menu">
	<ul class="list-unstyled">
		<li>
		<button class="active btn btn-menu btn-sm customer-portal-side-menu-button skeleton" id="custumer-portal-overview" type="button" value="overview">
				Overview
			</button>
		</li>
		<li>
		<button class="align-items-center btn btn-menu btn-sm justify-content-between skeleton text-neutral-10" id="customer-portal-toggle-products" type="button">
				Product Activation
			<svg class="left lexicon-icon lexicon-icon-angle-right-small" focusable="false" id="customer-portal-arrow" role="presentation">
					<use xlink:href="${clayIconSVG}#angle-right-small" />
				</svg>
			</button>

		<ul class="list-unstyled ml-3 overflow-hidden" id="customer-portal-products" />
		</li>
		<li>
		<button class="btn btn-menu btn-sm customer-portal-side-menu-button skeleton" id="custumer-portal-members" type="button" value="team">
				Team Members
			</button>
		</li>
	</ul>
</div>