.bootcamp-tabs .navigation-bar-light {
	background-color: transparent;
	border-bottom: 1px solid var(--gray-300);
	padding-bottom: 4px;
}

.bootcamp-tabs .navigation-bar-light .icon-caret-bottom {
	border-left: 5px solid transparent;
	border-radius: 4px;
	border-right: 5px solid transparent;
	border-top: 5px solid var(--gray-900);
	height: 0;
	margin-left: 4px;
	margin-top: 4px;
	width: 0;
}

.bootcamp-tabs .navigation-bar-light .nav-link {
	background: none;
	border: none;
	color: var(--secondary);
	font-family: var(--font-family-sans-serif);
	margin-right: var(--spacer-3);
	padding-left: 0;
	padding-right: 0;
}

.bootcamp-tabs .navigation-bar-light .nav-link.active {
	box-shadow: 0 4px var(--gray-900);
	color: var(--gray-900);
}

.bootcamp-tabs .navigation-bar-light .nav-link span:focus {
	outline: none;
}

.bootcamp-tabs .navigation-bar-light .navbar-toggler {
	color: var(--gray-900);
}

.bootcamp-tabs .navbar-underline.navbar-expand-md .navbar-nav .nav-link.active:after {
	background-color: var(--primary);
}

.bootcamp-tabs .navbar-toggler-link {
	font-family: var(--font-family-sans-serif);
	padding-left: 0;
	padding-right: 0;
}

.bootcamp-tabs .navbar-collapse.show {
	padding-left: 0;
	padding-right: 0;
	
}