.work-section {
	background-color: var(--color-brand-primary-darken-4);
	border-radius: 1rem;
	color: var(--color-neutral-0);
	min-height: 24.25rem;
	padding: 7.5rem;
	text-align: center;
}

.work-section .work-section-dropdonw {
	display: flex;
	justify-content: center;
}

.work-section .work-section-subtitle {
	color: var(--gray-400);
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-bolder);
}

.work-section .work-section-title {
	font-size: var(--display4-size);
	font-weight: var(--font-weight-bolder);
	margin-bottom: var(--spacer-3);
}

.work-section .work-section-svg {
	color: var(--color-action-neutral-default);
	pointer-events: none;
	position: absolute;
	right: 2.3rem;
	top: 1.3rem;
}

.work-section select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 0.0625rem solid var(--color-action-neutral-default);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-bolder);
	height: 3rem;
	padding-right: 2.875rem;
	width: 29rem;
}
