<div class="entry-header">
	<div class="container-fluid container-fluid-max-xl">
		<div class="entry-header-content-box">
		<div class="entry-category mb-4 mt-2" data-lfr-editable-id="entryCategory" data-lfr-editable-type="text">
				Category
			</div>

			<div class="entry-title mb-4" data-lfr-editable-id="entryTitle" data-lfr-editable-type="text">
				This is the example tittle of an entry
			</div>

		<div class="entry-subtitle mb-5 mb-md-7" data-lfr-editable-id="entrySubtitle" data-lfr-editable-type="text">
				The subtitle summarizes the publication in a few short
				sentences.
			</div>

			<div class="entry-image-group position-relative">
			<img alt="" class="d-block entry-image img-fluid mb-5 mb-md-6" data-lfr-editable-id="entryImage" data-lfr-editable-type="image" src="[resources:entry_example.jpg]" />

			<p class="image-author mb-0" data-lfr-editable-id="imageAuthor" data-lfr-editable-type="text">
					Image Author
				</p>
			</div>
		</div>
	</div>
</div>