.donut-chart-container .legend-content {
	font-size: 14px;
	width: 130px;
}

.donut-chart-container .legend-color {
	height: 8px;
	width: 8px;
}

.donut-chart-container .legend-title {
	color: #5c5e5e;
}

.donut-chart-container .bb-chart-arcs-title {
	dominant-baseline: central;
	font-size: 32px;
	font-weight: 700;
}

.donut-chart-container .donut-chart-tooltip {
	border: 1px solid #55c2ff;
	color: #55c2ff;
	font-size: 0.875rem;
	font-style: normal;
	width: 100%;
}

.donut-chart-container .legend-container {
	flex-direction: column;
}

@media screen and (max-width: 1845px) {
	.donut-chart-container .legend-container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}
