<div class="product-actions">
	<div class="container d-flex">
		<div class="mr-5">
			<img alt="" data-lfr-editable-id="01-image" data-lfr-editable-type="image" src="[resources:our_philosophy.svg]" />
		</div>

		<div class="flex-grow-1">
			<div class="product-actions-title">
				<span class="title-highlight" data-lfr-editable-id="product-actions-title2" data-lfr-editable-type="text">Our Philosophy: </span> <span data-lfr-editable-id="product-actions-title" data-lfr-editable-type="text">Cover everything, everywhere, no few questions asked.</span>
			</div>

			<div class="product-actions-description" data-lfr-editable-id="product-actions-description" data-lfr-editable-type="text">
				<span>Okay, we have to ask a few questions. But we're commited to making purchasing a policy and making a claim easier than ever before. We skip the loopholes, never-ending jargon, and get right to what matters; covering your business.</span>
			</div>
		</div>
	</div>
</div>