@import 'atlas-variables';

.dm-field-repeatable-delete-button,
.dm-field-repeatable-add-button {
	border-radius: 10px;
	height: 18px;
	padding: 2px;
	position: absolute;
	top: 0;
	width: 18px;

	.lexicon-icon {
		height: 10px;
		margin-bottom: 7px;
		margin-top: 0;
		width: 10px;
	}
}

.dm-field-repeatable-delete-button {
	right: 38px;
}

.dm-field-repeatable-add-button {
	right: 16px;
}
