<div class="container-fluid container-fluid-max-xl hero">
	<div class="row">
		<div class="col-12 col-lg-6">
			<img alt="" class="hero-image img-fluid" data-lfr-editable-id="hero-image" data-lfr-editable-type="image" src="[resources:hero_image.jpg]" />
		</div>

		<div class="col-12 col-lg-6">
			<div class="hero-content-box">
				<div class="hero-pre" data-lfr-editable-id="hero-pre" data-lfr-editable-type="text">
					Welcome to Masterclass
				</div>

				<div class="hero-title" data-lfr-editable-id="hero-title" data-lfr-editable-type="text">
					The new way of learning.
				</div>

				<div class="hero-subtitle" data-lfr-editable-id="hero-subtitle" data-lfr-editable-type="text">
					Take charge of your future with the best online learning platform.
				</div>

				<a class="btn btn-lg btn-primary masterclass-btn" data-lfr-editable-id="hero-button" data-lfr-editable-type="link">
					Read More<svg class="link-arrow" width="37" height="9" viewBox="0 0 37 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M32.5607 0.146447L36.3536 3.93932C36.5488 4.13458 36.5488 4.45117 36.3536 4.64643L32.3536 8.64636C32.1583 8.84162 31.8417 8.84162 31.6465 8.64636C31.4512 8.4511 31.4512 8.13452 31.6465 7.93926L34.7929 4.79288H0.5V3.79288H34.7929L31.8536 0.853553C31.6583 0.658291 31.6583 0.341709 31.8536 0.146447C32.0488 -0.0488155 32.3654 -0.0488155 32.5607 0.146447Z" fill="var(--white)" fill-rule="evenodd" />
</svg>
				</a>
			</div>
		</div>
	</div>
</div>