.object-builder-screen-name {
	padding-left: 50px !important;
}

.object-builder-screen-sorting {
	left: 330px;
	position: absolute;
}

.object-builder-screen-sort-order {
	left: 336px;
	position: absolute;
	top: 23px;
}
