.object-builder-screen {
	&-name {
		padding-left: 50px !important;
	}

	&-second-column {
		left: 330px;
		position: absolute;
	}

	&-sort-order {
		left: 336px;
		position: absolute;
		top: 23px;
	}

	&-empty-state {
		align-items: center;
		display: flex;
		justify-content: center;
		text-align: center;
	}
}
