.information-card a {
	align-items: center;
	box-shadow: var(--box-shadow-lg);
	color: var(--body-color);
	display: flex;
	font-size: 16px;
	font-weight: var(--font-weight-bold);
	height:4.688em;
}

.information-card .product-action-link {
	padding:1em;
	text-decoration: none;
}

.information-card a img {
	width:20px;
	height:20px;
}