.newsletter-form {
	align-content: center;
	display: flex;
}

.newsletter-form .form-control {
	margin-right: var(--spacer-2);
}

@media (max-width: 768px) {
	.newsletter-form {
		display: block;
	}
	.masterclass-btn {
		margin-top: var(--spacer-3);
		width: 100%;
	}
}