@import 'cadmin-variables';

html#{$cadmin-selector} {
	.cadmin {
		.page-editor__allowed-fragment__modal {
			.page-editor__allowed-fragment__new-fragments-checkbox {
				background: $cadmin-gray-100;

				.custom-control {
					margin-bottom: 0;
				}

				span {
					font-weight: normal;
				}
			}

			.page-editor__allowed-fragment__tree {
				height: 40vh;
				overflow-y: auto;

				.lfr-treeview-node-list-item {
					margin-bottom: 0;
					padding-left: 16px;

					@include media-breakpoint-up(md, $cadmin-grid-breakpoints) {
						padding-left: 24px;
					}

					&:not(.with-children) span {
						font-weight: normal;
					}
				}

				.lfr-treeview-node-list-item__children {
					padding-left: 32px;
				}

				.lfr-treeview-node-list-item__button {
					background-color: $cadmin-modal-content-bg;
					display: inline-flex;
					margin-left: -8px;
					margin-top: -2px;
					padding: 12px 0;
					top: -5px;

					&-icon {
						background-color: $cadmin-light;
						color: $cadmin-secondary;
						height: 14px;
						padding: 3px;
						width: 14px;
					}
				}

				.lfr-treeview-node-list-item__node {
					cursor: $cadmin-link-cursor;
				}

				.lfr-treeview-label {
					pointer-events: none;
				}

				.lfr-treeview-node-list {
					border-left: 1px solid $cadmin-secondary-l2;
				}
			}
		}
	}
}
