@import 'cadmin-variables';

html#{$cadmin-selector} {
	.cadmin {
		.page-editor__drop-zone {
			border: 1px solid $cadmin-secondary-l2;
			min-height: 400px;

			p {
				max-width: 300px;
			}
		}
	}
}
