html#{$cadmin-selector} {
	.page-editor__preview-modal {
		&__part {
			display: flex;
			flex-basis: calc(100% / 3);
			justify-content: center;

			select.form-control-sm {
				min-width: 200px;
			}
		}

		.modal-body {
			background-color: $cadmin-gray-400;
			display: flex;
			justify-content: center;

			& > iframe {
				background-color: white;
				margin: 0 auto;
			}
		}
	}
}
