// Animations

$defaultTransitionDuration: 0.5s;

// Layout

$pageEditorSpacing: 8px;

$sidebarButtonWidth: 42px;
$sidebarContentWidth: 280px;

$controlMenuHeight: 48px;
$desktopControlMenuHeight: 56px;

// z-indexes, ordered numerically.

$dragSourceZIndex: 977;
$translationStatusListZIndex: 977;
$portletTopperZIndex: 986;
$sidebarZIndex: 988;
$dragPreviewZIndex: 991;
$undoHistoryOverlayZIndex: 1001;
$modalZIndex: 1050;
