$gray-200: #fff;
$gray-300: #e5e8f8;
$gray-400: #eef2fa;
$gray-700: #545d69;
$gray-800: #364a64;
$gray-900: #394452;

$primary: #0b63ce;
$secondary: #0b63ce;
$success: #50d2a0;

$orange: #ff8c21;

$secondary-l2: rgba(11, 99, 206, 0.3);

$secondary-bg: #dae2fb;

$font-family-sans-serif: 'Source Sans Pro', -apple-system, blinkmacsystemfont,
	'Segoe UI', roboto, 'Helvetica Neue', arial, 'Noto Sans', sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$input-btn-border-width: 2px;
$input-btn-line-height: 1.7;
$input-btn-padding-y: 0.4rem;
$input-btn-padding-x: 1rem;
$input-focus-bg: $gray-200;
$input-focus-border-color: $secondary-l2;
$input-height: 3rem;

$form-group-margin-bottom: 1rem;

$border-radius: 0.313rem;

$component-active-bg: $primary;

// breakpoints

$bp-md: 1280px;
$bp-sm: 767px;
$bp-xs: 577px;
$bp-xxs: 376px;

$box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 20px 30px -10px rgba(0, 0, 0, 0.2);
$control-menu-height-desktop: 56px;
$topbar-height: 50px;
