@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 200;
	src: url(../fonts/sourcesanspro-light.ttf) format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/sourcesanspro-regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/sourcesanspro-semibold.ttf) format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/sourcesanspro-bold.ttf) format('truetype');
}
