@import 'atlas-variables';

.lfr-ddm__default-page {
	margin-top: 2rem;

	&-container {
		background-color: $white;
		border: thin solid $gray-300;
		border-radius: 4px;
		padding: 2rem 1.5rem 1.5rem;
	}

	&-title {
		font-size: 1.75rem;
		font-weight: 600;
	}
}
