[#assign publicFriendlyURL = themeDisplay.getPathFriendlyURLPublic() +
themeDisplay.getSiteGroup().getFriendlyURL() /]

<nav class="navbar navbar-expand-lg navbar-light quote-site-navbar">
	<div class="container">
		<div class="flex-grow-1 navbar-brand">
			<a class="navbar-brand" href="${publicFriendlyURL}">
				<div class="logo-desktop"></div>

				<span class="brand-subtext font-weight-bolder text-brand-secondary text-paragraph-sm">Commercial</span>
			</a>
		</div>

		<div class="m-2 p-2 rounded-pill shadow-lg" id="navbar-contact-phone">
			<span class="text-link-sm text-neutral-7">(909) 987-6543</span>
		</div>

		<div class="bg-neutral-0 mr-2 pb-2 pt-1 px-2 rounded-pill shadow-lg">
			<img alt="" src="[resources:help.svg]" />
		</div>

		<div class="bg-neutral-0 mr-2 pb-2 pt-1 px-2 rounded-pill shadow-lg voice-chat-icon">
			<img alt="" src="[resources:voice_chat.svg]" />
		</div>

		<div class="d-lg-none d-md-none d-sm-block menu-drop">
			<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="ghost navbar-toggler raylife-navbar-button raylife-quote-menu" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
				<div class="align-items-center d-flex justify-content-between">
					<span class="font-weight-bolder mr-1 paragraph-sm raylife-quote-menu">MENU</span>
					<span class="background-icon-grid raylife-quote-menu" id="button-menu-icon"></span>
				</div>
			</button>

			<div class="drop-content hidden-menu mt-2 p-4 rounded" id="myDropdown">
				<a class="align-items-center bg-neutral-0 d-flex justify-content-center my-3 rounded-pill shadow-lg text-neutral-0" href="#">
					<img alt="icon phone" class="mx-1" loading="lazy" src="[resources:phone_android.svg]" />

					<span class="font-weight-semi-bold text-brand-primary" data-lfr-editable-id="public-site-navbar-ddl-phone" data-lfr-editable-type="text">(909) 987-6543</span>
				</a>

				<a class="align-items-center bg-neutral-0 d-flex justify-content-center my-3 rounded-pill shadow-lg text-neutral-0" href="#">
					<img alt="help icon" class="mx-1" loading="lazy" src="[resources:help_circle_menu.svg]" />

					<span class="font-weight-semi-bold text-brand-primary" data-lfr-editable-id="public-site-navbar-ddl-help" data-lfr-editable-type="text">HELP & ANSWERS</span>
				</a>

				<a class="align-items-center bg-neutral-0 d-flex justify-content-center my-3 rounded-pill shadow-lg text-neutral-0" href="#">
					<img alt="camera icon" class="mx-1" loading="lazy" src="[resources:voice_chat_menu.svg]" />

					<span class="font-weight-semi-bold text-brand-primary" data-lfr-editable-id="public-site-navbar-ddl-chat" data-lfr-editable-type="text">CHAT WITH AN AGENT</span>
				</a>

				<a class="align-items-center bg-brand-primary d-flex justify-content-center my-3 rounded-pill shadow-lg text-neutral-0" href="#">
					<span class="font-weight-semi-bold text-neutral-0" data-lfr-editable-id="public-site-navbar-ddl-save" data-lfr-editable-type="text">SAVE & EXIT</span>
				</a>
			</div>
		</div>
	</div>
</nav>