:root {
	--transition-value: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.quote-site-navbar .background-icon-close {
	background: url('[resources:close_menu.svg]');
	background-repeat: no-repeat;
	background-size: contain;
	height: 16px;
	transition: var(--transition-value);
	width: 16px;
}

.quote-site-navbar .background-icon-grid {
	background: url('[resources:grid_icon_blue.svg]');
	background-repeat: no-repeat;
	background-size: contain;
	height: 16px;
	transition: var(--transition-value);
	width: 16px;
}

.quote-site-navbar .brand-subtext {
	margin-left: 36px;
	position: absolute;
	top: 51px;
}

.quote-site-navbar .drop-content {
	background-color: var(--color-neutral-0);
	border: 1px solid var(--color-brand-primary-lighten-4);
	position: absolute;
	right: 0;
	z-index: 1;
}

.quote-site-navbar .drop-content a {
	display: block;
	height: 48px;
	text-decoration: none;
	width: 243px;
}

.quote-site-navbar .hidden-menu {
	opacity: 0;
	transform: translateY(-5px);
	transition: var(--transition-value);
	visibility: hidden;
}

.quote-site-navbar .logo-desktop {
	background: url('[resources:raylife_logo.svg]');
	background-repeat: no-repeat;
	height: 36px;
	width: 120px;
}

.quote-site-navbar .menu-container {
	cursor: pointer;
	user-select: none;
}

.quote-site-navbar .menu-drop {
	display: inline-block;
	position: relative;
}

.quote-site-navbar .menu-drop .drop-content.menu-options {
	display: block;
}

.quote-site-navbar .raylife-navbar-button {
	border: 1px solid var(--color-action-primary-default) !important;
	color: var(--color-action-primary-default) !important;
	font-size: 15px;
	height: 48px;
	width: 90px;
}

.quote-site-navbar .show-menu {
	opacity: 1;
	transform: translateY(5px);
	transition: var(--transition-value);
}

@media only screen and (max-width: 767.98px) {
	.quote-site-navbar #navbar-contact-phone,
	.quote-site-navbar .public-site-navbar-divider,
	.quote-site-navbar .public-site-navbar-link,
	.quote-site-navbar .public-site-navbar-switch,
	.quote-site-navbar .voice-chat-icon {
		display: none;
	}

	.quote-site-navbar .background-icon-close:not(.menu-button-style) {
		background: url('[resources:close_menu_white.svg]');
		background-repeat: no-repeat;
		background-size: contain;
		height: 16px;
		transition: var(--transition-value);
		width: 16px;
	}

	.quote-site-navbar .background-icon-grid:not(.menu-button-style) {
		background: url('[resources:grid_icon_white.svg]');
		background-repeat: no-repeat;
		background-size: contain;
		height: 16px;
		transition: var(--transition-value);
		width: 16px;
	}

	.quote-site-navbar .drop-content {
		background-color: var(--color-brand-primary-darken-5);
		border: 1px solid var(--color-neutral-0);
		position: absolute;
		right: 0;
		z-index: 1;
	}

	.quote-site-navbar .logo-desktop:not(.white-background) {
		background: url('[resources:raylife_logo_mobile.svg]');
		background-repeat: no-repeat;
		height: 36px;
		width: 120px;
	}

	.quote-site-navbar .navbar-brand {
		max-width: auto !important;
		padding-left: 0;
	}

	.quote-site-navbar .raylife-navbar-button:not(.menu-button-style) {
		border: 1px solid var(--color-neutral-0) !important;
		color: var(--color-neutral-0) !important;
		font-size: 15px;
		height: 48px;
		width: 90px;
	}
}
