<li class="align-items-center d-flex flex-column insurance-faq mb-3 w-100">
	<div class="align-items-center content-area d-flex justify-content-between m-0 py-3 row w-100">
		<h4 class="col-11 font-weight-bolder m-0 text-neutral-10" data-lfr-editable-id="main-text" data-lfr-editable-type="text">
			Frequently asked question about something related to insurance?
		</h4>

		<img alt="Plus icon" class="col-1 custom-icon px-0" id="plus-icon" src="[resources:plus.svg]" />

		<img alt="Minus icon" class="col-1 custom-icon d-none px-0" id="minus-icon" src="[resources:minus.svg]" />
	</div>

	<p class="col-12 collapse content-area text-neutral-8 w-100" id="faq-list">
		Tempor metus viverra eros, enim aliquam. Gravida velit est pellentesque
		magna neque aliquam. Egestas lectus proin at quam ac blandit sit
		ullamcorper lacus. Rhoncus ac massa adipiscing nibh netus in fringilla
		integer tempor. Ac enim egestas tellus id ipsum dui velit maecenas.
		Egestas lectus proin at quam ac blandit sit ullamcorper lacus. Rhoncus
		ac massa adipiscing nibh netus in fringilla integer tempor. Ac enim
		egestas tellus id ipsum dui velit maecenas.
	</p>
</li>