<li
	class="align-items-center d-flex flex-column insurance-faq justify-content-center"
>
	<div class="align-items-center content-div d-flex justify-content-between py-2">
		<div class="mt-3">
			<p data-lfr-editable-id="main-text" data-lfr-editable-type="text">
				Frequently asked question about something related to insurance?
			</p>
		</div>

		<img alt="Plus icon" class="custom-icon" id="plus-icon" src="[resources:plus.svg]" />

		<img alt="Minus icon" class="custom-icon d-none" id="minus-icon" src="[resources:minus.svg]" />
	</div>

	<div class="collapse content-div faq-questions" id="faq-list">
		Tempor metus viverra eros, enim aliquam. Gravida velit est pellentesque
		magna neque aliquam. Egestas lectus proin at quam ac blandit sit
		ullamcorper lacus. Rhoncus ac massa adipiscing nibh netus in fringilla
		integer tempor. Ac enim egestas tellus id ipsum dui velit maecenas.
		Egestas lectus proin at quam ac blandit sit ullamcorper lacus. Rhoncus
		ac massa adipiscing nibh netus in fringilla integer tempor. Ac enim
		egestas tellus id ipsum dui velit maecenas.
	</div>
</li>