#banner {
	left: 0;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 5;

	&::before {
		background-color: #fff;
		content: '';
		height: 100%;
		opacity: 0;
		position: absolute;
		transition: opacity 100ms ease-out;
		width: 100%;
	}

	.has-control-menu & {
		top: $control-menu-height-desktop;
	}

	&.always-solid::before,
	&.is-solid::before {
		opacity: 1;
	}

	&.is-solid {
		box-shadow: 0 2px 33px -24px #134194;
	}
}
