@import 'atlas-variables';

@keyframes shift-rightwards {
	0% {
		transform: translateX(-100%);
	}
	40% {
		transform: translateX(0%);
	}
	60% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(100%);
	}
}

.lfr-spa-loading-bar {
	background: $primary;
	display: none;
	height: 2px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(100%);
	z-index: 2000;

	.lfr-spa-loading & {
		animation: shift-rightwards 1s ease-in-out infinite;
		animation-delay: 0.4s;
		display: block;
	}
}
