@import 'atlas-variables';

.select-type-and-subtype,
.select-file-extension {
	&-loader {
		top: 50%;
		transform: translateY(-50%);
	}
}

.tree-filter-search {
	border-bottom: 1px solid $gray-300;
}
