@import 'cadmin-variables';
@import 'variables';

html#{$cadmin-selector} {
	.cadmin {
		.vocabularies-selection {
			&-wrapper {
				height: 235px;
			}

			&-loader {
				top: 50%;
				transform: translateY(-50%);
			}

			option:disabled {
				color: $cadmin-gray-500;
				cursor: default;
			}
		}
	}
}
