html#{$cadmin-selector} {
	.cadmin {
		&.lfr-add-panel {
			.sidebar {
				border-left: 1px solid $cadmin-gray-300;

				.sidebar-body__add-panel {
					height: 100%;
					overflow: auto;
					padding: 16px;

					.form-control-sm {
						padding-left: 12px;
						padding-right: 12px;
					}
				}

				.sidebar-header {
					height: 64px;
					line-height: 32px;
				}
			}
		}
	}
}
