html#{$cadmin-selector} {
	.cadmin {
		.sidebar__collapse {
			cursor: pointer;

			.collapse-icon {
				background: none;
				border: 0;
				color: $cadmin-gray-600;
				font-size: 11.2px;
				height: 32px;
				margin-bottom: 4px;
				padding-left: 0;
				text-align: left;
				width: 100%;
			}

			.ellipsis {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.sheet-subtitle {
				line-height: inherit;
			}

			.sidebar__collapse {
				margin-left: 16px;
			}
		}
	}

	&.rtl {
		.cadmin {
			.sidebar__collapse {
				.collapse-icon-closed {
					transform: rotate(-180deg);
				}
			}
		}
	}
}
