.ddm-form-field-type__validation-date {
	width: 33%;
}

.ddm-form-field-type__validation-date-accepted-date {
	margin-bottom: 24px;
}

.lfr-ddm__validation-date-select {
	width: 100%;
}

.lfr-ddm__validation-date-error-message {
	padding-bottom: 200px;
	width: 100%;
}
