[#if themeDisplay.isSignedIn() && !themeDisplay.getLayout().isSystem()]
<script>
	window.location.replace(
		'${themeDisplay.getPathFriendlyURLPrivateGroup() + themeDisplay.getScopeGroup().getFriendlyURL()}'
	);
</script>

[@liferay_aui.script]
window.location.replace("${themeDisplay.getPathFriendlyURLPrivateGroup() +
themeDisplay.getScopeGroup().getFriendlyURL()}"); [/@] [/#if]

<div class="bg-brand-primary-darken-5 raylife-sign-in vh-100">
	<div class="h-100 no-gutters row">
		<div class="col-lg-4 col-md-5 d-flex form-column text-neutral-0">
			<div class="align-items-center d-flex flex-column justify-content-center mr-6 raylife-login-form">
				<a data-lfr-editable-id="home" data-lfr-editable-type="link" href="#">
					<img class="ml-3 mt-6 position-absolute sign-in-logo" data-lfr-editable-id="raylife-logo" data-lfr-editable-type="image" src="[resources:logo_inv.svg]" />
				</a>

				<div class="ml-lg-10 ml-md-10 ml-sm-0 w-100">
					<h3 class="login-title">Sign in to Raylife</h3>
					[@liferay_portlet.runtime
					portletName="com_liferay_login_web_portlet_LoginPortlet" /]
				</div>
			</div>
		</div>

		<div class="col-lg-8 col-md-7 sign-in-image"></div>
	</div>
</div>