<div class="customer-portal-liferay-contact">
	<h5 class="mb-4 rounded-sm skeleton text-neutral-10" id="customer-portal-liferay-contact-title">
		Liferay Contact
	</h5>

	<div class="font-weight-bold rounded-sm skeleton text-neutral-8 text-paragraph" id="customer-portal-liferay-contact-name" />
	<div class="rounded-sm skeleton text-neutral-10 text-paragraph" id="customer-portal-liferay-contact-role" />
	<div class="rounded-sm skeleton text-neutral-10 text-paragraph-sm" id="customer-portal-liferay-contact-email" />
</div>