html#{$cadmin-selector} {
	.page-editor__fragment-content {
		cursor: pointer;

		&--master {
			.portlet-options {
				display: none;
			}
		}

		&--portlet-topper-hidden
			.portlet
			> .cadmin.portlet-topper
			.portlet-options {
			display: none;
		}

		.portlet {
			> .cadmin.portlet-topper {
				background-color: rgba(255, 255, 255, 0.95);
				border: 1px solid $cadmin-info-l1;
				border-radius: 3px;
				height: 100%;
				min-height: 54px;
				opacity: 0;
				padding: 10px 20px 10px 10px;
				pointer-events: none;
				position: absolute;
				transform: translateY(0);
				width: 100%;
				z-index: $portletTopperZIndex;
			}

			&.open > .cadmin.portlet-topper {
				opacity: 0;
				transform: translateY(0);
			}

			&:hover,
			&.focus {
				> .cadmin.portlet-topper {
					opacity: 0.9;
					pointer-events: all;
					transform: translateY(0);

					.portlet-topper-toolbar {
						position: absolute;
						right: 5px;

						.lexicon-icon {
							fill: $cadmin-primary;
							stroke: currentColor;
						}
					}
				}
			}
		}

		.portlet-msg-info {
			font-family: $cadmin-font-family-base;
		}
	}
}
