.task-node {
	background: white;
	border: 1px solid #e7e7ed;
	border-radius: 6px;
	height: 40px;
	padding: 9.5px 16px;
	width: 150px;

	&:hover:not(.current-task) {
		border: 2px solid #cdced9;
		color: #272833 !important;
	}
}

.task-node.current-task {
	background: #0b5fff;
	border: none;

	&:hover {
		background: #004ad7;
	}
}
