.add-sxp-element-sidebar {
	.sxp-element-list {
		overflow-y: scroll;
		padding-bottom: 16px;

		.list-group {
			margin-bottom: 0;

			.list-group-item {
				border: 0;

				&:hover {
					background-color: $primaryL4;

					.add-sxp-element-button,
					.add-sxp-element-button-background {
						opacity: 1;
					}
				}

				.add-sxp-element-button {
					opacity: 0;
					position: absolute;
					right: 0.5rem;
					top: 50%;
					transform: translateY(-50%);

					// Show button if focused using keyboard

					&:focus-visible {
						opacity: 1;
					}
				}

				.add-sxp-element-button-background {
					background-color: $primaryL4;
					height: 100%;
					opacity: 0;
					padding-left: 1rem;
					position: absolute;
					right: 0.5rem;
					width: 72px;
				}

				.autofit-col:first-of-type {
					padding-right: 0.5rem;
				}

				.sticker {
					background-color: $lightBackground;
					color: $mainLighten28;
				}
			}
		}
	}
}
