.query-builder-tab {
	.selected-sxp-elements-empty-text {
		color: $secondaryL1;
		margin: 0.5rem auto 1.5rem;
		padding: 16px 0;
		text-align: center;
		width: 360px;
	}

	.settings-content-container {
		.framework-icon {
			.sticker-overlay {
				background-color: $lightBackground;
			}

			.sticker-img {
				width: 60%;
			}
		}

		.framework-text {
			justify-content: center;
		}

		.panel-collapse.show:not(.collapsing):not(.collapse) {
			height: 100% !important; // Fixes panel body height when adding or removing asset types
		}

		.panel-body {
			.select-types {
				margin-bottom: 24px;
			}
		}

		.panel-title {
			text-transform: uppercase;
		}

		.panel-unstyled .panel-header.panel-header-link:focus {
			box-shadow: 0 0 0 0.25rem $white, 0 0 0 0.375rem $primaryL2; // Fixes gray border to white
		}
	}

	.vertical-nav-content-wrapper {
		max-width: 680px;
	}
}

// Fix for vertical nav on small screens where the dropdown isn't aligned
// to the top and the white background makes it look misaligned.

@media (max-width: 767.98px) {
	.menubar-vertical-expand-md.menubar-transparent {
		background-color: transparent;
	}
}
