$chartBlue: #4b9bff;
$chartOrange: #f6bf84;
$chartPurple: #af78ff;
$chartRed: #ff5f5f;

$danger: #da1414;
$dangerL1: #f48989;
$errorL1: #f48989;
$errorL2: #feefef;

$info: #2e5aac;
$infoL1: #89a7e0;
$infoL2: #eef2fa;

$main: #272833;
$mainLighten4: #30313f;
$mainLighten8: #393a4a;
$mainLighten28: #6b6c7e;
$mainLighten52: #a7a9bc;
$mainLighten65: #cdced9;
$mainLighten74: #e7e7ed;
$secondaryHover: #f7f8f9;

$primary: #0b5fff;
$primaryL1: #719aff;
$primaryL2: #80acff;
$primaryL3: #b3cdff;
$primaryL4: #f0f5ff;
$secondary: #6b6c7e;
$secondaryL1: #a7a9bc;

$lightBackground: #f1f2f5;
$white: #fff;

$builderMaxWidth: 1224px;
$builderMinWidth: 600px;
$clauseMaxWidth: 1224px;
$clauseMinWidth: 500px;

$controlMenuToolbarHeight: 56px;
$navigationBarHeight: 56px;
$pageToolbarHeight: 104px; //navigationBarHeight + tabs navigation bar height
$previewSidebarWidth: 600px;
$sidebarWidth: 380px;

$breakpointMaxWidth: 767.98px;
