.portlet-search-insights {
	.codemirror-editor-wrapper {
		border: 1px solid #e7e7ed;
		border-radius: 4px;
		margin-top: 16px;

		textarea {
			border: none;
			border-radius: 4px;
			font-family: SFMono-Regular, Menlo, Monaco, Consolas,
				'Liberation Mono', 'Courier New', monospace;
			height: 300px;
			padding: 16px;
			resize: none;
			width: 100%;

			&:focus-visible {
				outline: none;
			}
		}

		.CodeMirror {
			border-radius: 4px;
			height: 300px;
		}
	}
}
