*,
*:after,
*:before {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	font-size: 100%;
	list-style-type: none;
}

.cursor-pointer {
	cursor: pointer;
}

.dropdown-menu {
	z-index: 9999;
}

.portlet {
	margin-bottom: 0;
}

// stylelint-disable selector-type-no-unknown
liferay-remote-app-testray {
	@import 'variables';

	@import 'typography';

	@import 'components/avatar';
	@import 'components/chart';
	@import 'components/input';
	@import 'components/layout';
	@import 'components/progress_bar';
	@import 'components/table';
}

.dropdown-section .custom-control-label {
	color: unset;
}

.management-bar {
	div:nth-child(1) {
		max-width: none;
	}

	.navbar-nav {
		flex-wrap: initial;
	}
}

.subnav-tbar {
	background-color: #b3cdff;

	div:nth-child(1) {
		max-width: none;
	}
}
