.customer-portal-side-menu {
	width: 216px;
}

.customer-portal-side-menu #customer-portal-products {
	height: 0px;
	transition: all 0.3s;
}

.customer-portal-side-menu #customer-portal-toggle-products {
	width: 100%;
}

.customer-portal-side-menu .btn {
	width: fit-content;
}

.customer-portal-side-menu .btn:focus {
	box-shadow: none;
}

.customer-portal-side-menu #customer-portal-arrow.down {
	transform: rotate(90deg);
	transition-duration: 0.3s;
}

.customer-portal-side-menu #customer-portal-arrow.left {
	transform: rotate(0deg);
	transition-duration: 0.3s;
}

.customer-portal-side-menu .btn-menu {
	border-radius: var(--border-radius);
	color: var(--color-neutral-10);
	cursor: pointer;
	display: flex;
	font-size: var(--text-link-md-font-size);
	font-weight: var(--font-weight-semi-bold);
	line-height: var(--text-link-md-line-height);
	text-decoration: none;
}

.customer-portal-side-menu .btn-menu.active {
	background-color: var(--color-action-primary-active-lighten);
	color: var(--color-action-primary-active);
}

.customer-portal-side-menu .btn-menu.text-brand-primary {
	color: var(--color-action-primary-hover) !important;
}

.customer-portal-side-menu .btn-menu:hover {
	background-color: var(--color-action-primary-hover-lighten);
	border-color: var(--btn-default-border-color);
	color: var(--color-action-primary-hover) !important;
}

.skeleton {
	height: 2rem;
	margin-bottom: 0.25rem;
}
