[#assign privateFriendlyURL = themeDisplay.getPathFriendlyURLPrivateGroup() +
themeDisplay.getSiteGroup().getFriendlyURL() publicFriendlyURL =
themeDisplay.getPathFriendlyURLPublic() +
themeDisplay.getSiteGroup().getFriendlyURL() /]

<nav class="navbar navbar-expand-lg navbar-light public-site-navbar">
	<div class="container d-block">
		<div class="align-items-center d-flex">
			<div class="align-items-center d-flex flex-grow-1">
				<a class="navbar-brand" href="${publicFriendlyURL}">
				<img alt="" class="align-top d-inline-block navbar-logo" data-lfr-editable-id="image-logo" data-lfr-editable-type="image" loading="lazy" src="[resources:raylife_logo.svg]" />
				</a>

			<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
					<span class="navbar-toggler-icon"></span>
				</button>

				<a class="d-flex" href="#">
				<img alt="" class="mx-1" loading="lazy" src="[resources:phone-android.svg]" />

				<span class="public-site-navbar-phone" data-lfr-editable-id="public-site-navbar-phone" data-lfr-editable-type="text">800-554-2642</span>
				</a>

				<div class="public-site-navbar-divider"></div>

				<a class="public-site-navbar-link" href="#">
				<span class="public-site-navbar-link" data-lfr-editable-id="public-site-navbar-link" data-lfr-editable-type="text">Producer Portal</span>
				</a>
			</div>

			<div>
			<img alt="" class="icon-search" loading="lazy" src="[resources:icon-search.svg]" />

				<label class="switch">
					<input id="togBtn" type="checkbox" />

					<div class="slider">
					<span class="off" data-lfr-editable-id="public-site-navbar-off" data-lfr-editable-type="text">Business</span>
					<span class="on" data-lfr-editable-id="public-site-navbar-on" data-lfr-editable-type="text">Personal</span>
					</div>
				</label>
			</div>
		</div>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<lfr-widget-nav id="nav"></lfr-widget-nav>
		<a class="btn btn-ghost btn-variant-primary" href="${publicFriendlyURL}/sign-in" role="button">Sign In</a>
		</div>
	</div>
</nav>