.btn-sm {
    line-height: 16px;

    .inline-item {
        font-size: 10px;

        .lexicon-icon {
            margin-top: -3px;
        }
    }

    .inline-item-before {
        margin-right: 0.5em;
    }
}