.input-group {
    margin-bottom: var(--spacer-1);

    &:not(:last-child) {
        margin-bottom: calc(var(--spacer-4) + var(--spacer-1));
    }
}

label {
    width: calc(100% - var(--form-input-label-margin-left) - var(--form-input-label-margin-right));
}