.customer-portal-liferay-contact #customer-portal-liferay-contact-name.skeleton {
	width: 107px;
	height: 24px;
}

.customer-portal-liferay-contact #customer-portal-liferay-contact-role.skeleton {
	width: 130px;
	height: 24px;
	margin-top: 4px;
}

.customer-portal-liferay-contact #customer-portal-liferay-contact-email.skeleton {
	width: 190px;
	height: 16px;
	margin-top: 4px;
}

.customer-portal-liferay-contact .skeleton {
	background: #f7f8f9;
	background-image: linear-gradient(
		to right,
		#f8f8f8 0%,
		rgba(206, 206, 206, 0.1) 20%,
		#f8f8f8 40%,
		#f8f8f8 100%
	);
	animation: shimmer-customer-portal-liferay-contact 1s linear infinite;
	background-repeat: no-repeat;
	background-size: 450px 400px;
}

@keyframes shimmer-customer-portal-liferay-contact {
	0% {
		background-position: -450px 0;
	}
	100% {
		background-position: 450px 0;
	}
}