<div class="customer-portal-liferay-contact">
	<h5 class="text-neutral-10 h5 mb-4 rounded-sm skeleton" id="customer-portal-liferay-contact-title">
		Liferay Contact
	</h5>

	<div class="font-weight-bold text-neutral-8 text-paragraph rounded-sm skeleton" id="customer-portal-liferay-contact-name"></div>
	<div class="text-neutral-10 text-paragraph rounded-sm skeleton" id="customer-portal-liferay-contact-role"></div>
	<div class="text-neutral-10 text-paragraph-sm rounded-sm skeleton" id="customer-portal-liferay-contact-email"></div>
</div>