.mini-compare-delete {
	--btn-active-background-color: var(--color-state-error-darken-2);
	--btn-active-color: #{$dialect-white};
	--btn-default-background-color: var(--color-state-error);
	--btn-default-color: #{$dialect-white};
	--btn-hover-background-color: var(--color-state-error-darken-1);
	--btn-hover-color: #{$dialect-white};
}
