<div class="entry-header position-relative pt-2 pt-lg-6">
	<div class="container-fluid container-fluid-max-xl">
	<div class="align-items-center d-flex entry-heading flex-column mb-5 mb-lg-7 position-relative text-center text-white">
			<div class="entry-category mb-2 mb-lg-3 text-secondary" data-lfr-editable-id="entryCategory" data-lfr-editable-type="text">
				Category
			</div>

		<div class="entry-title mb-2 mb-lg-3" data-lfr-editable-id="entryTitle" data-lfr-editable-type="text">
				Lorem ipsum dolor amet, consectetur elit vestibulum id metus
				posuere sit.
			</div>

			<div class="entry-subtitle mb-3 mb-lg-4" data-lfr-editable-id="entrySubtitle" data-lfr-editable-type="text">
				Lorem ipsum dolor amet, consectetur elit vestibulum id metus
				posuere sit.
			</div>

			<div class="entry-author">
				By
			<span data-lfr-editable-id="entryAuthor" data-lfr-editable-type="text">Entry Author</span>
			</div>
		</div>

		<div class="align-items-center d-flex flex-column image-group position-relative text-center">
		<img alt="" class="d-block entry-image img-fluid mb-4 mb-md-5" data-lfr-editable-id="entryImage" data-lfr-editable-type="image" src="[resources:entry_example.jpg]" />

		<p class="image-author mb-0" data-lfr-editable-id="imageAuthor" data-lfr-editable-type="text">
				Pexels / W. Fortunato
			</p>
		</div>
	</div>
</div>