.main-navbar {
	--main-navbar-height-sm: 72px;
	--management-bar-height-sm: 72px;
	--management-bar-height-xs: 48px;
}

.main-navbar .navbar-collapse.show {
	background: var(--brand-color-3);
	height: calc(
		100vh - var(--main-navbar-height-sm) - var(--management-bar-height-sm)
	);
	margin-top: var(--spacer-2);
	padding-bottom: var(--spacer-2);
	padding-top: var(--spacer-2);
}

.main-navbar .nav-item {
	font-size: 15px;
	font-weight: var(--font-weight-bold);
}

.main-navbar .nav-item.active {
	box-shadow: inset 0 0.18rem var(--brand-color-3);
}

.main-navbar .nav-item a {
	color: var(--white);
	padding: var(--spacer-4) var(--spacer-3);
	text-decoration: none;
}

.main-navbar .navbar-logo {
	height: 1.475rem;
}

.main-navbar .navbar-toggler img {
	width: 28px;
}

.main-navbar .portlet {
	margin-bottom: 0;
}

.main-navbar .btn-close,
.main-navbar.open .btn-menu {
	display: none;
}

.main-navbar .btn-search {
	transform: translatex(var(--spacer-2));
}

.main-navbar .btn-menu,
.main-navbar.open .btn-close {
	display: block;
	transform: translatex(var(--spacer-2));
}

@media (max-width: 992px) {
	.main-navbar .navbar-logo {
		height: 22px;
	}

	.main-navbar .nav-item a {
		padding-bottom: var(--spacer-2);
		padding-top: var(--spacer-2);
	}
}

@media (max-width: 575px) {
	.main-navbar .navbar-collapse.show {
		height: calc(
			100vh - var(--main-navbar-height-sm) -
				var(--management-bar-height-xs) - var(--spacer-2)
		);
	}
}
