.digital-signature {
	.collect-digital-signature {
		margin-top: 48px;
		max-width: 930px;

		.form-group.recipient > .input-group::before {
			background: #e7e7ed;
			border-radius: 4px 0 0 4px;
			content: '';
			margin-right: 12px;
			width: 6px;
		}

		.header {
			padding: 16px 24px 0;
		}

		.recipient-icon-button {
			margin-top: 27px;
		}
	}

	.envelope-list {
		.list-view {
			&__table-with-pagination {
				margin-top: 20px;
			}
		}
	}

	.document-library-form {
		.has-error .form-control {
			background-color: #feefef !important;
		}
	}
}
