<div class="d-flex flex-column get-in-touch justify-content-md-center justify-content-sm-center">
	<div class="col-lg-12 col-md-12 d-flex flex-wrap justify-content-sm-center mb-5 px-0">
		<h1 class="col-md-12 col-sm-12 d-flex display-4 flex-fill justify-content-center justify-content-md-start justify-content-sm-center mb-3 px-0 text-neutral-9" data-lfr-editable-id="contact-agent-title" data-lfr-editable-type="text">
			Let's get in touch.
		</h1>

		<p class="col-md-12 m-0 px-0 text-neutral-8" data-lfr-editable-id="contact-agent-contextual-message" data-lfr-editable-type="text" id="contact-agent-contextual-message">
			Contextual Message
		</p>

		<p class="col-md-12 col-sm-8 m-0 px-0 text-neutral-8" data-lfr-editable-id="contact-agent-subtitle" data-lfr-editable-type="text">
			Based on the information you provided us an Agent can help find the
			perfect policy.
		</p>
	</div>

	<div class="col-md-12 col-sm-12 d-flex flex-md-fill flex-sm-fill flex-wrap justify-content-lg-start justify-content-sm-center px-0">
		<div class="col-lg-5 col-md-6 col-sm-12 d-flex flex-wrap justify-content-center justify-content-lg-start justify-content-md-start justify-content-sm-center px-0">
			<h3 class="col-md-12 font-weight-bolder mb-3 px-0 text-neutral-9" data-lfr-editable-id="contact-agent-title-call" data-lfr-editable-type="text">
				Call an Agent
			</h3>

			<button class="btn btn-ghost btn-sm btn-style-primary col-8 col-lg-9 col-md-8 col-sm-4" id="contact-agent-btn-call">
				<span class="col-lg-5 col-md-4 font-weight-bolder" data-lfr-editable-id="contact-agent-btn-call" data-lfr-editable-type="text" id="value-number-call">
					1 (800) 555-5555
				</span>
			</button>

			<ul class="col-md-12 list-unstyled px-0">
				<li>
					<small class="col-md-12 font-weight-bolder px-0 text-neutral-8 text-paragraph-sm" data-lfr-editable-id="contact-agent-adictional-text-1-call" data-lfr-editable-type="text">
						M-F: 8am-9pm PST
					</small>
				</li>
				<li>
					<small class="col-md-12 font-weight-bolder px-0 text-neutral-8 text-paragraph-sm" data-lfr-editable-id="contact-agent-adictional-text-2-call" data-lfr-editable-type="text">
						S-S: 10am-9pm PST
					</small>
				</li>
			</ul>
		</div>

		<div class="col-md-6 col-sm-12 d-flex flex-wrap px-0">
			<h3 class="col-md-12 col-sm-12 font-weight-bolder mb-3 px-0 text-neutral-9" data-lfr-editable-id="contact-agent-title-chat" data-lfr-editable-type="text">
				Chat with an Agent
			</h3>

			<p class="col-md-12 mb-0 px-0 text-brand-primary text-paragraph-sm" data-lfr-editable-id="contact-agent-btn-chat" data-lfr-editable-type="text" disabled="disabled">
				Click the chat button in the bottom<br />right corner to chat
				with an Agent.
			</p>

			<small class="col-md-12 col-sm-12 font-weight-bolder px-0 text-neutral-8 text-paragraph-sm" data-lfr-editable-id="contact-agent-adictional-text-1-chat" data-lfr-editable-type="text">
				6am - 12pm 7 days a week
			</small>
		</div>
	</div>

	<div class="application-id col-md-12 col-sm-12 d-flex justify-content-center justify-content-lg-start justify-content-md-start justify-content-sm-center mb-10 mt-5 px-0">
		<h4 class="bg-accent-5-lighten font-weight-bolder m-0 px-3 py-2 rounded-xs text-accent-5" id="content-agent-text-your-application">
			Your Application #WLM-RNK-ANF
		</h4>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center justify-content-lg-start justify-content-md-start justify-content-sm-center p-0">
		<button class="align-items-center btn btn-ghost btn-style-neutral col-10 col-lg-5 col-md-4 col-sm-5 d-flex justify-content-center justify-content-sm-center" id="contact-agent-btn-back">
			<img alt="back button" class="mr-2" src="[resources:icon_left.svg]" />

			<span data-lfr-editable-id="contact-agent-btn-back" data-lfr-editable-type="text">
				BACK TO EDIT INFO
			</span>
		</button>
	</div>
</div>