.fragment_608 {
	background-color: transparent;
	border-radius: 0 0 8px 8px;
	font-family: 'Open Sans';
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
}

.fragment_608.thumbnail {
	border-radius: 8px;
	height: auto;
	width: 121px;
}

.detail {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.subtext {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}

.sku {
	font-weight: bolder;
}

.vl {
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 1px;
	display: inline;
	height: 68px;
	margin: 0 5px;
}

.label {
	text-transform: uppercase;
}

.fragment_608 .row {
	background-color: $white;
	border-bottom: solid 1px var(--body-bg);
	cursor: pointer;
	margin: auto;
	padding: 1rem 1.5rem;
}

.fragment_608 .row:nth-of-type(odd) {
	background-color: var(--table-accent-bg);
}
    
.fragment_608 .row:nth-of-type(even) {
	background-color: var(--table-bg);
}

.fragment_608 .row:last-child {
	border-radius: 0 0 8px 8px;
}