/*----- TYPOGRAPHY -----*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	line-height: 1.25;
}

/*-----GENERAL-----*/

a,
a .btn-link {
	color: var(--secondary);
}

a:hover,
.btn-link:hover {
	color: var(--secondary);
}

body {
	line-height: 1.65;
}

p {
	margin-bottom: var(--spacer-3);
}

/*-----LAYOUT-----*/

.container-fluid-max-xl {
	max-width: 1200px;
}

@media (min-width: 1280px) {
	.row {
		margin-left: -16px;
		margin-right: -16px;
	}
	.row > div {
		padding-left: 16px;
		padding-right: 16px;
	}
}

/*-----BUTTONS-----*/

.team-extranet-btn.btn {
	border-radius: 0;
	font-family: var(--font-family-sans-serif);
	font-weight: var(--font-weight-bold);
	padding: 1em 1.5em;
}

.team-extranet-btn.btn:hover {
	box-shadow: var(--box-shadow);
	transform: translateY(-2px);
	transition: 0.1s;
}

.team-extranet-btn a {
	color: inherit;
	text-decoration: none;
}

.team-extranet-btn.btn-lg {
	font-size: var(--font-size-base);
	height: 3.5rem;
}

.team-extranet-btn.btn-sm {
	font-size: var(--font-size-sm);
	height: 3rem;
}

/*-----LINKS-----*/

.team-extranet-link a {
	text-decoration: none;
}

.team-extranet-link.link-sm {
	font-size: 1rem;
}

.team-extranet-link.link-lg {
	font-size: 1.125rem;
}

.team-extranet-link .link-arrow {
	fill: var(--secondary);
	margin-left: var(--spacer-1);
}

.team-extranet-link a:hover + .link-arrow {
	transform: translateX(5px);
	transition: all 0.1s ease-in-out;
}

/*FORM CONTROLS*/

/*General*/

.team-extranet-form-control.form-control {
	background-color: var(--white);
	border: var(--white);
	border-radius: 0;
	font-family: var(--font-family-sans-serif);
	padding: 1em 1.5em;
}

.team-extranet-form-control.form-control-sm {
	font-size: var(--font-size-sm);
	height: 3rem;
}

.team-extranet-form-control.form-control-lg {
	font-size: var(--font-size-base);
	height: 3.5rem;
}

/*Filter Bar Controls*/

.filter-bar .form-group label {
	font-weight: var(--font-weight-normal);
}

.filter-bar .form-control-select {
	background-color: var(--white);
	border: var(--white);
	border-radius: 0;
	font-family: var(--font-family-sans-serif);
	height: 3rem;
	padding-left: 1.5em;
}

.filter-bar .input-group-item .input-group-inset-after.form-control {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--gray-500);
	border-radius: 0;
	height: 3rem;
	padding: 0;
}

.filter-bar .input-group-inset-after.form-control:hover {
	background-color: transparent;
	border-bottom: 1px solid var(--gray-600);
}

.filter-bar .input-group-inset-after.form-control:focus {
	background-color: transparent;
	border-bottom: 1px solid var(--primary);
}

.filter-bar .input-group-inset-item {
	display: none;
}

.filter-bar-inv .form-control-select {
	background-color: var(--gray-200);
}

/*PAGINATION*/

.pagination-results {
	color: var(--body-color);
	padding: 0;
}

/*SEARCH RESULTS*/

.portlet-search-results .list-group-item {
	background-color: transparent;
	border: none;
	border-top: 1px solid var(--gray-300);
	padding-left: 0;
	padding-right: 0;
}

.portlet-search-results .list-group-item:first-child {
	border-radius: 0;
}

.portlet-search-results .list-group-item:last-child {
	border-bottom: 1px solid var(--gray-300);
	border-radius: 0;
}

.portlet-search-results .search-total-label {
	margin-bottom: var(--spacer-3);
	margin-top: 0;
}

.portlet-search-results .sticker {
	align-items: start;
	transform: translateY(1px);
}
