/*----- TYPOGRAPHY -----*/

/*Montserrat*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&family=Roboto+Mono&display=swap');

/*Roboto Mono*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--font-weight-bold);
	line-height: 1.25;
}

/*-----GENERAL-----*/

body {
	line-height: 1.55;
}

p {
	margin-bottom: var(--spacer-3);
}

a,
a .btn-link {
	color: var(--primary);
	text-decoration: none;
}

a:hover,
.btn-link:hover {
	color: var(--secondary);
}

/*-----COMPONENTS-----*/

/*Buttons*/

.team-extranet-btn.btn {
	border-radius: 0;
	box-shadow: var(--box-shadow);
	font-family: var(--font-family-sans-serif);
	font-weight: var(--font-weight-bolder);
	padding: calc(var(--spacer-1) * 2) var(--spacer-4);
}

.team-extranet-btn.btn:hover {
	box-shadow: var(--box-shadow-lg);
	transform: translateY(-4px);
	transition: 0.2s;
}
.team-extranet-btn.btn-lg {
	font-size: var(--font-size-base);
}

.team-extranet-btn.btn-link {
	padding: 0;
}

.team-extranet-btn.btn-link a {
	color: inherit;
}

.team-extranet-btn.btn-sm {
	font-size: var(--font-size-sm);
}

/*Form Controls*/

.form-control {
	background-color: var(--white);
	border: var(--white);
	border-radius: 0;
	box-shadow: var(--box-shadow);
	font-family: var(--font-family-sans-serif);
	height: auto;
	padding: calc(var(--spacer-1) * 2) var(--spacer-4);
}

.form-control-sm {
	font-size: var(--font-size-sm);
}

.form-control-lg {
	font-size: var(--font-size-base);
}

/*-----LAYOUT-----*/

.row {
	margin-left: -16px;
	margin-right: -16px;
}

.row > div {
	padding-left: 16px;
	padding-right: 16px;
}
