@import 'atlas-variables';

.lfr-objects {
	&__object-data-validation-editor-container {
		border-top: 1px solid #e7e7ed;
		display: flex;
		height: 450px;
	}

	&__object-data-validation-title-container {
		align-items: baseline;
		display: flex;
		padding-left: 1.5rem;
	}

	&__edit-object-field-tooltip-icon {
		color: $secondary-l1;
	}

	&__edit-object-field-tooltip-icon:hover {
		color: $secondary-d1;
	}

	&__object-editor__CodeMirrorEditor {
		border: 1px solid #e7e7ed;
		flex-grow: 1;
		height: 400px;
		margin: 24px;
		width: 100%;

		> .CodeMirror {
			height: 398px;
		}

		.CodeMirror-wrap pre {
			word-break: break-word;
		}
	}
}
