.lfr-objects {
	&__object-editor__CodeMirrorEditor {
		border: 1px solid #e7e7ed;
		flex-grow: 1;
		height: 400px;
		margin: 24px;
		width: 100%;

		> .CodeMirror {
			height: 398px;
		}

		.CodeMirror-wrap pre {
			word-break: break-word;
		}
	}
}
