$a11y-panel-width: 320px;

.a11y-body {
	padding-right: $a11y-panel-width;

	.lfr-add-panel.sidenav-right,
	.multi-panel-sidebar,
	.page-editor__sidebar {
		right: $a11y-panel-width !important;
	}

	.multi-panel-sidebar-content,
	.page-editor__sidebar__content {
		right: $a11y-panel-width + 42px !important;
	}

	.modal-dialog {
		right: $a11y-panel-width + 45px !important;
	}

	.applications-menu-modal {
		.modal-body {
			padding-right: $a11y-panel-width !important;
		}

		.modal-dialog {
			right: inherit;
		}
	}
}

.a11y-dropdown {
	z-index: 1070 !important;
}

.a11y-panel {
	position: fixed !important;
	right: 0;
	top: 0;
	width: $a11y-panel-width;
	z-index: 1060;

	&--violations-header {
		border-bottom: 0.0625rem solid #f2f2f2;
		border-color: #e7e7ed;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-top: 0;
		padding: 0.5rem 0;

		.lexicon-icon {
			color: #6b6c7e;
		}

		.component-title {
			font-size: 0.875rem;
			font-weight: 600;
		}
	}

	&--violations-description {
		font-size: 0.875rem;
		padding: 1rem;
	}

	&--body {
		font-size: 0.875rem;
		padding: 0.1875rem 1rem;
	}

	.panel-header {
		border-color: #cdced9;
		color: #6b6c7e;
	}

	.list-group-item {
		border: 0.0625rem solid transparent;
	}
}
