$a11y-color-danger: #da1414;
$a11y-color-danger-d2: #ab1010;

.a11y-overlay {
	cursor: pointer;
	position: fixed;
	z-index: 1050;

	.a11y-backdrop {
		background: rgba(218, 20, 20, 0.1);
		border: 1px solid $a11y-color-danger;
		height: 100%;
		width: 100%;
	}

	.a11y-indicator {
		background-color: #fff;
		border: 2px solid #fff;
		border-radius: 100%;
		color: $a11y-color-danger;
		font-size: 14px;
		height: 18px;
		position: absolute;
		right: -8px;
		top: -8px;
		width: 18px;

		svg {
			display: block;
			margin-top: 0;
		}
	}

	&-moderate,
	&-minor {
		.a11y-backdrop {
			border: 1px solid $a11y-color-danger;
		}
	}

	&-serious {
		.a11y-backdrop {
			border-width: 2px;
		}
	}

	&-critical {
		.a11y-backdrop {
			border: 2px solid $a11y-color-danger-d2;
		}

		.a11y-indicator {
			color: $a11y-color-danger-d2;
		}
	}
}

.a11y-popover {
	max-width: inherit;
	width: 27.4rem;

	.list-group-item-flush {
		border-color: transparent;
		border-radius: 0;
		padding-left: 0;
		padding-right: 0;

		> .autofit-col:last-of-type {
			justify-content: center;
		}
	}
}
