.form-box {
	background-color: var(--brand-color-1);
	color: var(--white);
	padding-bottom: var(--spacer-6);
	padding-top: var(--spacer-6);
	width: 540px;
}

.form-box .small {
	width: 75%;
}

.image-col {
	position: relative;
}

.newsletter-form {
	align-items: stretch;
	display: flex;
	margin-bottom: var(--spacer-3);
}

.newsletter-form input {
	margin-right: var(--spacer-2);
	padding: 1.5rem;
}

.subscribe-call {
	font-size: var(--display4-size);
	line-height: var(--display-line-height);
	margin-bottom: var(--spacer-3);
}

.subscribe-call .text-highlight {
	color: var(--brand-color-4);
}

.subscribe-section {
	background-color: var(--brand-color-1);
	position: relative;
	z-index: 0;
}

.subscribe-section::before {
	background-color: var(--brand-color-4);
	content: '';
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 40vw;
	z-index: -1;
}

.subscribe-section .btn {
	background-color: var(--brand-color-4);
	border-color: var(--primary);
	color: var(--primary);
}

.subscribe-section img {
	filter: grayscale(100%);
}

.subscribe-section .img-author {
	color: var(--col-gray-900);
	font-family: var(--font-family-monospace);
	font-size: var(--font-size-sm);
	position: absolute;
	right: -96px;
	top: 100px;
	transform: rotate(-90deg);
}

.subscribe-section .image-overlay {
	background-color: var(--brand-color-1);
	height: 100%;
	mix-blend-mode: screen;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.subscribe-section .row {
	align-items: center;
}

@media (max-width: 992px) {
	.form-box {
		margin: 0 auto;
		text-align: center;
	}

	.form-box .small {
		width: 100%;
	}

	.image-col {
		display: none;
	}
}
