$badge-border-radius: $rounded-pill;
$badge-pill-border-radius: $rounded-pill;

// Badge Variants

$badge-primary-bg: $dialect-primary;
$badge-primary-color: var(--color-action-primary-inverted);

$badge-secondary-bg: $dialect-secondary;
$badge-secondary-color: var(--color-action-secondary-inverted);

$badge-success-bg: $dialect-success;
$badge-success-color: var(--color-action-neutral-inverted);

$badge-info-bg: $dialect-info;
$badge-info-color: var(--color-action-neutral-inverted);

$badge-warning-bg: $dialect-warning;
$badge-warning-color: var(--color-action-neutral-inverted);

$badge-danger-bg: $dialect-danger;
$badge-danger-color: var(--color-action-neutral-inverted);

$badge-light-bg: $dialect-light;
$badge-light-color: var(--color-neutral-1);

$badge-dark-bg: $dialect-dark;
$badge-dark-color: var(--color-action-neutral-inverted);
