$badge-border-radius: $rounded-pill;
$badge-pill-border-radius: $rounded-pill;

// Badge Variants

$badge-primary-color: var(--color-action-primary-inverted);
$badge-primary-bg: $dialect-primary;

$badge-secondary-color: var(--color-action-secondary-inverted);
$badge-secondary-bg: $dialect-secondary;

$badge-success-color: var(--color-action-neutral-inverted);
$badge-success-bg: $dialect-success;

$badge-info-color: var(--color-action-neutral-inverted);
$badge-info-bg: $dialect-info;

$badge-warning-color: var(--color-action-neutral-inverted);
$badge-warning-bg: $dialect-warning;

$badge-danger-color: var(--color-action-neutral-inverted);
$badge-danger-bg: $dialect-danger;

$badge-light-color: var(--color-neutral-9);
$badge-light-bg: $dialect-light;

$badge-dark-color: var(--color-action-neutral-inverted);
$badge-dark-bg: $dialect-dark;
