$btn-border-radius: var(--border-radius-sm);
$btn-border-radius-lg: var(--border-radius);
$btn-border-radius-sm: var(--border-radius-xs);

$btn-font-size: 1rem; // 16px
$btn-font-size-lg: 1.125rem; // 18px
$btn-font-size-sm: 0.875rem; // 14px

$btn-line-height: calc(24 / 16); // 24px
$btn-line-height-lg: calc(28 / 18); // 28px
$btn-line-height-sm: calc(20 / 14); // 20px

$btn-padding-y: 0.75rem; // 12px
$btn-padding-y-lg: 0.875rem; // 14px
$btn-padding-y-sm: 0.5rem; // 8px

$btn-padding-x: 1rem; // 16px
$btn-padding-x-lg: 1.125rem; // 18px
$btn-padding-x-sm: 0.75rem; // 12px

$btn-monospaced-size: 3rem; // 48px
$btn-monospaced-size-lg: 3.5rem; // 56px
$btn-monospaced-size-sm: 2.25rem; // 36px

$btn-disabled-opacity: 1;

$inline-item-spacer-x: 0.25em; // 4px
