// Color Brand Primary

$color-brand-primary-darken-5: var(--color-brand-primary-darken-5);
$color-brand-primary-darken-4: var(--color-brand-primary-darken-4);
$color-brand-primary-darken-3: var(--color-brand-primary-darken-3);
$color-brand-primary-darken-2: var(--color-brand-primary-darken-2);
$color-brand-primary-darken-1: var(--color-brand-primary-darken-1);
$color-brand-primary: var(--color-brand-primary);
$color-brand-primary-lighten-1: var(--color-brand-primary-lighten-1);
$color-brand-primary-lighten-2: var(--color-brand-primary-lighten-2);
$color-brand-primary-lighten-3: var(--color-brand-primary-lighten-3);
$color-brand-primary-lighten-4: var(--color-brand-primary-lighten-4);
$color-brand-primary-lighten-5: var(--color-brand-primary-lighten-5);
$color-brand-primary-lighten-6: var(--color-brand-primary-lighten-6);

// Color Brand Secondary

$color-brand-secondary-darken-5: var(--color-brand-secondary-darken-5);
$color-brand-secondary-darken-4: var(--color-brand-secondary-darken-4);
$color-brand-secondary-darken-3: var(--color-brand-secondary-darken-3);
$color-brand-secondary-darken-2: var(--color-brand-secondary-darken-2);
$color-brand-secondary-darken-1: var(--color-brand-secondary-darken-1);
$color-brand-secondary: var(--color-brand-secondary);
$color-brand-secondary-lighten-1: var(--color-brand-secondary-lighten-1);
$color-brand-secondary-lighten-2: var(--color-brand-secondary-lighten-2);
$color-brand-secondary-lighten-3: var(--color-brand-secondary-lighten-3);
$color-brand-secondary-lighten-4: var(--color-brand-secondary-lighten-4);
$color-brand-secondary-lighten-5: var(--color-brand-secondary-lighten-5);
$color-brand-secondary-lighten-6: var(--color-brand-secondary-lighten-6);

// Color Neutral

$color-neutral-0: var(--color-neutral-0);
$color-neutral-1: var(--color-neutral-1);
$color-neutral-2: var(--color-neutral-2);
$color-neutral-3: var(--color-neutral-3);
$color-neutral-4: var(--color-neutral-4);
$color-neutral-5: var(--color-neutral-5);
$color-neutral-6: var(--color-neutral-6);
$color-neutral-7: var(--color-neutral-7);
$color-neutral-8: var(--color-neutral-8);
$color-neutral-9: var(--color-neutral-8);
$color-neutral-10: var(--color-neutral-10);
