$label-border-radius: $border-radius-sm;

// Label Variants

$label-primary: (
	border-color: var(--color-action-primary-default),
	close: (
		focus: (
			color: var(--color-action-primary-hover),
		),
		hover: (
			color: var(--color-action-primary-hover),
		),
	),
	color: var(--color-action-primary-default),
	focus: (
		color: var(--color-action-primary-hover),
	),
	hover: (
		border-color: var(--color-action-primary-default),
		color: var(--color-action-primary-hover),
	),
);

$label-secondary: (
	border-color: var(--color-action-secondary-default),
	close: (
		focus: (
			color: var(--color-action-secondary-hover),
		),
		hover: (
			color: var(--color-action-secondary-hover),
		),
	),
	color: var(--color-action-secondary-default),
	focus: (
		color: var(--color-action-secondary-hover),
	),
	hover: (
		border-color: var(--color-action-secondary-default),
		color: var(--color-action-secondary-hover),
	),
);

$label-success-hover-color: $success-d1;

$label-success: (
	border-color: $dialect-success,
	close: (
		focus: (
			color: $label-success-hover-color,
		),
		hover: (
			color: $label-success-hover-color,
		),
	),
	color: $dialect-success,
	focus: (
		color: $label-success-hover-color,
	),
	hover: (
		border-color: $dialect-success,
		color: $label-success-hover-color,
	),
);

$label-info-hover-color: $info-d1;

$label-info: (
	border-color: $dialect-info,
	close: (
		focus: (
			color: $label-info-hover-color,
		),
		hover: (
			color: $label-info-hover-color,
		),
	),
	color: $dialect-info,
	focus: (
		color: $label-info-hover-color,
	),
	hover: (
		border-color: $dialect-info,
		color: $label-info-hover-color,
	),
);

$label-warning-hover-color: $warning-d1;

$label-warning: (
	border-color: $dialect-warning,
	close: (
		focus: (
			color: $label-warning-hover-color,
		),
		hover: (
			color: $label-warning-hover-color,
		),
	),
	color: $dialect-warning,
	focus: (
		color: $label-warning-hover-color,
	),
	hover: (
		border-color: $dialect-warning,
		color: $label-warning-hover-color,
	),
);

$label-danger-hover-color: $danger-d1;

$label-danger: (
	border-color: $dialect-danger,
	close: (
		focus: (
			color: $label-danger-hover-color,
		),
		hover: (
			color: $label-danger-hover-color,
		),
	),
	color: $dialect-danger,
	focus: (
		color: $label-danger-hover-color,
	),
	hover: (
		border-color: $dialect-danger,
		color: $label-danger-hover-color,
	),
);

$label-light: (
	background-color: var(--color-neutral-9),
	border-color: var(--color-neutral-1),
	close: (
		focus: (
			color: var(--color-neutral-3),
		),
		hover: (
			color: var(--color-neutral-3),
		),
	),
	color: var(--color-neutral-1),
	focus: (
		color: var(--color-neutral-1),
	),
	hover: (
		background-color: var(--color-neutral-9),
		border-color: var(--color-neutral-1),
		color: var(--color-neutral-1),
	),
);

$label-dark: (
	background-color: var(--color-neutral-1),
	border-color: var(--color-neutral-9),
	close: (
		focus: (
			color: var(--color-neutral-10),
		),
		hover: (
			color: var(--color-neutral-10),
		),
	),
	color: var(--color-neutral-9),
	focus: (
		color: var(--color-neutral-9),
	),
	hover: (
		background-color: var(--color-neutral-1),
		border-color: var(--color-neutral-9),
		color: var(--color-neutral-9),
	),
);

// Label Inverse

$label-inverse-primary: (
	background-color: var(--color-action-primary-default),
	border-color: var(--color-action-primary-default),
	close: (
		hover: (
			color: var(--color-action-primary-hover-lighten),
		),
	),
	color: var(--color-action-primary-inverted),
	hover: (
		background-color: var(--color-action-primary-hover),
		border-color: var(--color-action-primary-hover),
		color: var(--color-action-primary-inverted),
	),
	link: (
		hover: (
			color: var(--color-action-primary-hover-lighten),
		),
	),
);

$label-inverse-secondary: (
	background-color: var(--color-action-secondary-default),
	border-color: var(--color-action-secondary-default),
	color: var(--color-action-secondary-inverted),
	hover: (
		background-color: var(--color-action-secondary-hover),
		border-color: var(--color-action-secondary-hover),
		color: var(--color-action-secondary-inverted),
	),
	link: (
		hover: (
			color: var(--color-action-secondary-hover-lighten),
		),
	),
	close: (
		hover: (
			color: var(--color-action-secondary-hover-lighten),
		),
	),
);

$label-inverse-success: (
	background-color: $dialect-success,
	border-color: $dialect-success,
	close: (
		hover: (
			color: $success-l2,
		),
	),
	color: $dialect-white,
	hover: (
		background-color: $dialect-success,
		border-color: $dialect-success,
		color: $dialect-white,
	),
	link: (
		hover: (
			color: $success-l2,
		),
	),
);

$label-inverse-info: (
	background-color: $dialect-info,
	border-color: $dialect-info,
	color: $dialect-white,
	hover: (
		background-color: $dialect-info,
		border-color: $dialect-info,
		color: $dialect-white,
	),
	link: (
		hover: (
			color: $info-l2,
		),
	),
	close: (
		hover: (
			color: $info-l2,
		),
	),
);

$label-inverse-warning: (
	background-color: $dialect-warning,
	border-color: $dialect-warning,
	close: (
		hover: (
			color: $warning-l2,
		),
	),
	color: $dialect-white,
	hover: (
		background-color: $dialect-warning,
		border-color: $dialect-warning,
		color: $dialect-white,
	),
	link: (
		hover: (
			color: $warning-l2,
		),
	),
);

$label-inverse-danger: (
	background-color: $dialect-danger,
	border-color: $dialect-danger,
	close: (
		hover: (
			color: $danger-l2,
		),
	),
	color: $dialect-white,
	hover: (
		background-color: $dialect-danger,
		border-color: $dialect-danger,
		color: $dialect-white,
	),
	link: (
		hover: (
			color: $danger-l2,
		),
	),
);

$label-inverse-light: (
	background-color: var(--color-neutral-1),
	border-color: var(--color-neutral-1),
	close: (
		hover: (
			color: var(--color-neutral-7),
		),
	),
	color: var(--color-neutral-9),
	hover: (
		background-color: var(--color-neutral-1),
		border-color: var(--color-neutral-1),
		color: var(--color-neutral-9),
	),
	link: (
		hover: (
			color: var(--color-neutral-7),
		),
	),
);

$label-inverse-dark: (
	background-color: var(--color-neutral-9),
	border-color: var(--color-neutral-9),
	close: (
		hover: (
			color: var(--color-neutral-3),
		),
	),
	color: var(--color-neutral-1),
	hover: (
		background-color: var(--color-neutral-9),
		border-color: var(--color-neutral-9),
		color: var(--color-neutral-1),
	),
	link: (
		hover: (
			color: var(--color-neutral-3),
		),
	),
);
