// Progress Variants

$progress-group-feedback-color: $dialect-primary;

$progress-bar-danger-bg: $dialect-danger;
$progress-bar-info-bg: $dialect-info;
$progress-bar-success-bg: $dialect-success;
$progress-bar-warning-bg: $dialect-warning;
