// Sticker Variants

$sticker-primary-bg: var(--color-action-primary-inverted);
$sticker-primary-color: var(--color-action-primary-default);

$sticker-secondary-bg: var(--color-action-secondary-inverted);
$sticker-secondary-color: var(--color-action-secondary-default);

$sticker-info-bg: var(--color-action-neutral-inverted);
$sticker-info-color: var(--color-state-info);

$sticker-success-bg: var(--color-action-neutral-inverted);
$sticker-success-color: var(--color-state-success);

$sticker-warning-bg: var(--color-action-neutral-inverted);
$sticker-warning-color: var(--color-state-warning);

$sticker-danger-bg: var(--color-action-neutral-inverted);
$sticker-danger-color: var(--color-state-error);

$sticker-light-bg: var(--color-action-neutral-default);
$sticker-light-color: var(--color-action-neutral-inverted);

$sticker-dark-bg: var(--color-action-neutral-inverted);
$sticker-dark-color: var(--color-action-neutral-default);
