<div class="container congrats-information">

    <div class="hide" id="hidden-images">
        <img id="check" src="[resources:action_check.svg]" alt="" />
        <img id="uncheck" src="[resources:navigation_close.svg]" alt="" />
    </div>

    <div class="row top">
        <div class="col-2 column-top">
            <h1 id="congrats-information-title">
                Business Owners Policy
            </h1>
            <h2 id="congrats-information-policy">
                Policy: #1A8198FSILX9
            </h2>
            <h3 id="congrats-information-date">
                10/1/2019-3/1/2020
            </h3>
        </div>
        <div class="col-6">
            <p class="congrats-information-price" id="congrats-information-price">
                <span id="congrats-information-price-first">$1,225</span>/yr
            </p>
        </div>
    </div>
    <div class="row bot">
        <div class="col-2 column-bot">
            <table class="congrats-table-info">
                <tr>
                    <td id="list-info"><img id="congrats-table-info-check-one" alt="" />Per Occurrence
                        Limit</td>
                </tr>
                <tr>
                    <td id="list-info"><img id="congrats-table-info-check-two" alt="" />Aggregate Limit
                    </td>
                </tr>
                <tr>
                    <td id="list-info"><img id="congrats-table-info-check-three" alt="" />Business
                        Personal Property</td>
                </tr>
                <tr>
                    <td id="list-info"><img id="congrats-table-info-check-four" alt="" />Equipment
                        Breakdown</td>
                </tr>
                <tr>
                    <td id="list-info"><img id="congrats-table-info-check-five" alt="" />Money &amp;
                        Securities</td>
                </tr>
            </table>
        </div>
        <div class="col-3">
            <table class="congrats-table-price">
                <tr>
                    <td id="price-one">$1,000,000</td>
                </tr>
                <tr>
                    <td id="price-two">$2,000,000</td>
                </tr>
                <tr>
                    <td id="price-three">$50,000</td>
                </tr>
                <tr>
                    <td id="price-four">$100,000</td>
                </tr>
                <tr>
                    <td id="price-five">$500,000</td>
                </tr>
            </table>
        </div>
        <div class="col-6 dummy-buttons">
            <ul>
                <li type="button" class="download">DOWNLOAD<img id="download" src="[resources:file_download.svg]"
                        alt="" /></li>
                <li type="button" class="print">PRINT<img id="print" src="[resources:action_print.svg]" alt="" />
                </li>
                <li type="button" class="share">SHARE<img id="share" src="[resources:Communication_email.svg]" alt="" />
                </li>
            </ul>
        </div>
    </div>
</div>