// Action Primary

$action-primary-default: var(--action-primary-default);
$action-primary-hover: var(--action-primary-hover);
$action-primary-active: var(--action-primary-active);
$action-primary-disabled: var(--action-primary-disabled);
$action-primary-hover-lighten: var(--action-primary-hover-lighten);
$action-primary-active-lighten: var(--action-primary-active-lighten);
$action-primary-inverted: var(--action-primary-inverted);
$action-primary-inverted-hover: var(--action-primary-inverted-hover);
$action-primary-inverted-disabled: var(--action-primary-inverted-disabled);
$action-primary-visited: var(--action-primary-visited);

// Action Secondary

$action-secondary-default: var(--action-secondary-default);
$action-secondary-hover: var(--action-secondary-hover);
$action-secondary-active: var(--action-secondary-active);
$action-secondary-disabled: var(--action-secondary-disabled);
$action-secondary-hover-lighten: var(--action-secondary-hover-lighten);
$action-secondary-active-lighten: var(--action-secondary-active-lighten);
$action-secondary-inverted: var(--action-secondary-inverted);
$action-secondary-inverted-hover: var(--action-secondary-inverted-hover);
$action-secondary-inverted-disabled: var(--action-secondary-inverted-disabled);
$action-secondary-visited: var(--action-secondary-visited);

// Action Neutral

$action-neutral-default: var(--action-neutral-default);
$action-neutral-hover: var(--action-neutral-hover);
$action-neutral-active: var(--action-neutral-active);
$action-neutral-disabled: var(--action-neutral-disabled);
$action-neutral-hover-lighten: var(--action-neutral-hover-lighten);
$action-neutral-active-lighten: var(--action-neutral-active-lighten);
$action-neutral-inverted: var(--action-neutral-inverted);
$action-neutral-inverted-hover: var(--action-neutral-inverted-hover);
$action-neutral-inverted-disabled: var(--action-neutral-inverted-disabled);
$action-neutral-visited: var(--action-neutral-visited);
