// Tight

$elevation-tight-1: var(--elevation-tight-1, 0 1px 3px);
$elevation-tight-2: var(--elevation-tight-2, 0 1.25px 4px);
$elevation-tight-3: var(--elevation-tight-3, 0 2px 6px);
$elevation-tight-4: var(--elevation-tight-4, 0 2px 7px);
$elevation-tight-5: var(--elevation-tight-5, 0 3px 12px);
$elevation-tight-6: var(--elevation-tight-6, 0 3.5px 14px);
$elevation-tight-7: var(--elevation-tight-7, 0 7px 18px);
$elevation-tight-8: var(--elevation-tight-8, 0 12px 28px);
$elevation-tight-9: var(--elevation-tight-9, 0 13px 36px);

// Fluffy

$elevation-fluffy-1: var(--elevation-fluffy-1, 0 5px 15px);
$elevation-fluffy-2: var(--elevation-fluffy-2, 0 6.25px 20px);
$elevation-fluffy-3: var(--elevation-fluffy-3, 0 10px 30px);
$elevation-fluffy-4: var(--elevation-fluffy-4, 0 10px 35px);
$elevation-fluffy-5: var(--elevation-fluffy-5, 0 15px 60px);
$elevation-fluffy-6: var(--elevation-fluffy-6, 0 17.5px 70px);
$elevation-fluffy-7: var(--elevation-fluffy-7, 0 35px 90px);
