.bootcamp-button .btn {
  border-radius: 0;
  color: inherit;
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-bolder);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.bootcamp-button .btn-nm {
  font-size: 11px;
  padding: var(--spacer) var(--spacer-4);
}

.bootcamp-button .btn-lg {
  font-size: 13px;
  padding: var(--spacer) var(--spacer-4);
}

.bootcamp-button .btn-link {
  padding: 0;
}

.bootcamp-button .btn-link a {
  color: inherit;
}

.bootcamp-button .link-arrow {
  margin-left: var(--spacer);
}
