[#assign clayIconSVG = themeDisplay.getCDNBaseURL() +
"/o/admin-theme/images/clay/icons.svg" /]
<div>
	<div class="c-px-4 c-py-4 card-body cp-link-body mr-4 rounded" id="card-structure">
		<div class="align-items-center d-flex justify-content-between">
			<h5 class="c-py-2 c-my-0 text-neutral-10">Quick Links</h5>

			<a class="borderless btn c-my-0 c-pr-3 c-py-4 h6 neutral text-neutral-8" id="hide-link">
				<svg class="lexicon-icon lexicon-icon-hr" focusable="false" id="customer-portal-arrow" role="presentation">
					<use xlink:href="${clayIconSVG}#hr" />
				</svg>

				<u>Hide</u>
			</a>
		</div>

		<div class="c-pt-3 cp-tip-container"></div>
	</div>
</div>