body {
	background-color: var(--gray-200);
}

.position-card {
	display: block;
	margin-bottom: var(--spacer-3);
	position: relative;
}

.card-content a {
	color: inherit;
	text-decoration: none;
}

.position-card .card-content {
	background-color: var(--white);
	height: 100%;
	padding: var(--spacer-4);
	position: absolute;
	width: 100%;
}

.card-content:hover {
	box-shadow: var(--box-shadow-lg);
	color: var(--gray-900);
	text-decoration: none;
	transform: translateY(-0.5rem);
	transition: 0.1s ease-in-out;
}

.position-card:after {
	content: '';
	display: block;
	padding-top: calc(100%);
}

.position-card-date {
	color: var(--gray-500);
	font-family: var(--font-family-monospace);
	margin-bottom: var(--spacer-2);
}

.position-card-title {
	margin-bottom: calc(var(--spacer-1) * 0.5);
}

.position-card-region {
	color: var(--brand-color-3);
	font-weight: var(--font-weight-normal);
}

.position-social {
	bottom: 8px;
	padding: var(--spacer-4);
	position: absolute;
	z-index: 3;
}

.card-content:hover + .position-social {
	transform: translateY(-0.5rem);
	transition: 0.1s ease-in-out;
}

.position-social .social-link {
	margin-right: var(--spacer-2);
}

.position-social svg {
	width: 20px;
}

.position-card.featured {
	height: calc(100% - 32px);
}

.position-card.featured a {
	fill: var(--white);
}

.position-card.featured .card-content {
	background-color: var(--brand-color-1);
	color: var(--white);
}

.position-card.featured .card-content::before {
	align-items: center;
	background-color: var(--brand-color-4);
	box-shadow: var(--box-shadow);
	color: var(--gray-900);
	content: 'Hot!';
	display: flex;
	font-size: 22px;
	font-weight: var(--font-weight-bolder);
	height: 96px;
	justify-content: center;
	position: absolute;
	right: -48px;
	top: 48px;
	width: 96px;
	z-index: 2;
}

@media (min-width: 768px) {
	.job-positions > div > div {
		overflow: visible !important;
	}

	.job-positions .row {
		align-items: stretch !important;
		height: 100%;
	}

	.job-positions .row .col:nth-child(2) > div,
	.job-positions .row .col:nth-child(2) > div > .row,
	.job-positions .row .col:nth-child(2) > div > .row > div > div,
	.job-positions .row .col:nth-child(2) > div > .row > div > div > div {
		height: 100%;
	}
}
