.quote-info {
	padding: 0 20px;

	.policy-id {
		font-weight: bold;
		margin-top: 30px;
	}

	#quote-comparison {
		height: 504px;
		margin-left: 0;
		margin-top: 24px;

		button {
			margin-bottom: 18px;
			padding-top: 0 !important;
		}
	}
}

.selected-quote {
	display: flex;
	flex-direction: row;
	width: 100%;

	.selected-quote-right-page {
		margin-left: 36px;
		width: 100%;
	}
}

.panel-container {
	border-bottom: 1px solid #d3d3d4;
	padding: 34px 48px;
	width: 100%;

	.panel-header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		.panel-left {
			color: $neutral-darker;
			font-size: 24px;
			font-weight: 700;
		}

		.panel-middle {
			margin-top: 10px;

			.view-section {
				margin-bottom: 24px;

				h3 {
					color: #606167;
					font-size: 14px;
					font-weight: 700;
					margin-bottom: 8px;
				}

				.content {
					display: flex;
					flex-direction: row;

					.image {
						border: 1px solid #d3d3d4;
						border-radius: 4px;
						height: 48px;
						margin-right: 8px;
						width: 48px;

						img {
							border-radius: 4px;
							height: 48px;
							object-fit: cover;
							width: 48px;
						}
					}

					.documents {
						align-items: center;
						background-color: #fff;
						border: 1px solid #d2d2d3;
						border-radius: 4px;
						box-sizing: border-box;
						display: flex;
						height: 48px;
						justify-content: center;
						margin-right: 8px;
						width: 48px;

						svg {
							height: 24px !important;

							width: 24px !important;
						}

						.lexicon-icon-document-pdf {
							fill: #af78ff;
						}

						.lexicon-icon-document-text {
							fill: #4d85ff;
						}

						.lexicon-icon-document-table {
							fill: #50d2a0;
						}

						.lexicon-icon-document-presentation {
							fill: #ffb46e;
						}

						.lexicon-icon-document-unknown {
							fill: $neutral-default;
						}
					}
				}
			}
		}

		.panel-right {
			display: flex;
			flex-direction: row;
			justify-content: end;

			.change-link {
				a {
					color: #7d7e85;
					cursor: pointer;
					margin-right: 24px;
					text-decoration: underline;
				}
			}

			.panel-right-icon {
				align-items: center;
				background-color: #d2d2d3;
				border-radius: 50%;
				display: flex;
				fill: $background;
				height: 32px;
				justify-content: center;
				width: 32px;

				&.stepChecked {
					background-color: #39c38d;
				}
			}
		}
	}

	.panel-content {
		display: none;

		&.show {
			display: block;
		}
	}
}

.upload-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	.upload-footer {
		display: flex;
		justify-content: end;

		button {
			background-color: $color-action-primary-default;
			border-radius: 4px;
			color: $background;
			cursor: pointer;
			font-size: 16px;
			font-weight: 700;
			padding: 16px 18px;
		}
	}

	.upload-section {
		padding: 48px 0px 16px 22px;

		.header {
			margin-bottom: 16px;

			.title {
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 4px;

				span.required {
					color: $error-default;
				}

				span.optional {
					color: $neutral-dark;
				}
			}

			.subtitle {
				color: $neutral-dark;
				font-size: 16px;
				font-weight: 500;
			}
		}

		.upload-content {
			display: flex;
			flex-direction: column;

			.upload-file {
				display: flex;
				flex-direction: row;

				.view-file {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;

					.flex-column {
						.card {
							align-items: center;
							background: #f0f5ff;
							border-radius: 16px;
							display: flex;
							flex-direction: column;
							flex-shrink: 0;
							gap: initial;
							height: 176px;
							justify-content: center;
							width: 176px;

							&.spaced {
								margin-right: 16px;
							}
						}

						span {
							color: $neutral-dark;
							font-size: 13px;
							margin-top: 4px;
							width: 176px;
						}
					}

					.ellipsis {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					.view-file-document {
						display: flex;
						flex-direction: column;
						margin-bottom: -36px;

						&.view-file-margin-right:not(:last-child) {
							margin-right: 16px;
						}

						.close-icon {
							align-items: center;
							background: $background;
							border-radius: 50%;
							cursor: pointer;
							display: flex;
							fill: $neutral-default;
							height: 36px;
							justify-content: center;
							left: 137px;
							position: relative;
							top: -196px;
							width: 36px;
							filter: drop-shadow(
								0px 5px 15px rgba(77, 133, 255, 0.12)
							);
						}

						.div-document {
							display: flex;
							flex-direction: column;
							text-align: center;

							span {
								color: $neutral-dark;
								font-size: 13px;
								margin-top: 4px;
								width: 176px;
							}

							.content {
								background-color: #fafafa;
								border: 1px solid #e2e2e4;
								border-radius: 16px;
								height: 176px;
								object-fit: cover;
								width: 176px;

								align-items: center;
								display: flex;
								justify-content: center;

								.image {
									display: flex;
									flex-direction: column;
									text-align: center;

									img {
										border-radius: 16px;
										height: 176px;
										object-fit: cover;
										width: 176px;
									}
								}

								.lexicon-icon-document-pdf {
									fill: #af78ff;
									height: 64px !important;
									width: 64px !important;
								}

								.lexicon-icon-document-text {
									fill: #4d85ff;
									height: 64px !important;
									width: 64px !important;
								}

								.lexicon-icon-document-table {
									fill: #50d2a0;
									height: 64px !important;
									width: 64px !important;
								}

								.lexicon-icon-document-presentation {
									fill: #ffb46e;
									height: 64px !important;
									width: 64px !important;
								}

								.lexicon-icon-document-unknown {
									fill: $neutral-default;
									height: 64px !important;
									width: 64px !important;
								}
							}
						}
					}
				}

				.drop-area {
					align-items: center;
					background: #f0f5ff;
					border: 2px dashed #a8c4ff;
					border-radius: 16px;
					color: $neutral-dark;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					font-size: 16px;
					font-weight: 500;
					justify-content: center;
					left: 0px;
					position: static;
					top: 64px;

					&.margin-left {
						margin-left: 16px;
					}

					&.hide {
						display: none;
					}

					.upload-button {
						align-items: center;
						display: flex;
						flex-wrap: wrap;
						justify-content: center;

						.link-button {
							align-items: center;
							background: none;
							border: 1px solid $primary-default-light;
							border-radius: 4px;
							color: $primary-default-light;
							cursor: pointer;
							display: flex;
							font-size: 14px;
							font-weight: 700;
							justify-content: center;
							padding: 8px 12px;
						}

						.input-file {
							border-radius: 16px;
							display: none;
							position: relative;
						}

						svg {
							fill: $primary-default-light;
							height: 12px !important;
							margin-right: 9px;
							width: 12px !important;
						}
					}
				}
			}
		}

		.upload-alert {
			margin-top: 16px;

			.badge {
				height: 56px;

				svg {
					flex-shrink: 0;
					height: 24px !important;
					width: 24px !important;
				}
			}

			.alert-content {
				align-items: center;
				display: flex;
				justify-content: space-between;
				width: 100%;

				.alert-description {
					font-size: 16px;
				}

				.closeIcon {
					align-items: center;
					cursor: pointer;
					display: flex;
					fill: $info-default;
					justify-content: center;
				}
			}
		}
	}
}

// alalalla

#ca {
	margin: 3.5rem 0rem 2rem 2.3rem;

	.ca-alert-create {
		background-color: #ffe4dc;
		border-radius: 8px;
		margin-top: 3rem;
		padding: 0.8rem 0rem;
		vertical-align: middle;
		width: 100%;
	}

	.ca-align-right {
		display: flex;
		justify-content: end;
	}

	.ca-btn {
		background: rgba(76, 133, 255, 1);
		color: #fff;
		margin: 5rem 0rem 0rem 23.7rem;
	}

	.ca-btn:disabled {
		background: rgba(76, 133, 255, 0.5);
	}

	#ca-content-input {
		margin-top: 1.75rem;
		position: relative;

		#ca-input-email {
			background-color: #fff;
			border: solid 1px #7d7e85;
		}

		#ca-input-email + .ca-label {
			background-color: #fff;
			color: #7d7e85;
			font-size: 13px;
			transform: translate(0, -21px) scale(1);
		}

		.ca-label {
			color: transparent;
			font-size: 16px;
			font-weight: 700;
			left: 12px;
			margin: 1rem 0rem;
			padding: 0rem 0.3rem;
			pointer-events: none;
			position: absolute;
			top: -5px;
			transition: 0.2s;
		}

		input:valid {
			background-color: #fff;
			border: solid 1px #000;
		}

		input:valid + .ca-label {
			background-color: #fff;
			color: #000;
			font-size: 13px;
			transform: translate(0, -21px) scale(1);
		}

		input:focus {
			background-color: #fff;
			border: solid 1px #4c85ff;
		}

		input:focus + .ca-label {
			background-color: #fff;
			color: #4c85ff;
			font-size: 13px;
			transform: translate(0, -21px) scale(1);
		}

		::placeholder {
			color: #080f1b;
			font-weight: 700;
		}

		input:focus::placeholder {
			color: transparent;
		}
	}

	.ca-icon-rule {
		border: solid 1.2px;
		border-radius: 1rem;
		fill: #fff;
		margin-right: 0.3rem;
		padding: 1px;
	}

	.ca-input {
		background-color: aliceblue;
		border: none;
		height: 3rem;
		width: 100%;
	}

	.ca-mt-12 {
		margin-top: 12px;
	}

	.ca-sub-title {
		font-size: 18px;
		font-weight: 700;
		margin-top: 1.7rem;
	}

	.ca-width-div {
		width: 28.5rem;
	}
}
