.cp-project-breadcrumbs-menu {
	max-height: 492px;
	max-width: 212px;
	min-width: 212px;
}

.cp-project-breadcrumbs-menu .border-brand-primary-lighten-5 {
	border-color: var(--color-brand-primary-lighten-5);
}

.cp-project-breadcrumbs-menu .form-control:focus,
.form-control.focus {
	border-color: var(--color-focus);
}

.cp-project-breadcrumbs-menu .inline-item-before {
	transition: 0.15s ease-in-out;
}

.cp-project-breadcrumbs-menu ::placeholder {
	color: var(--color-neutral-10);
	font-size: var(--text-paragraph-sm-font-size);
	line-height: var(--text-paragraph-xxs-line-height);
	font-weight: var(--font-weight-semi-bold, 600);
}

.cp-project-breadcrumbs-menu .list-unstyled {
	max-height: 400px;
}

.cp-project-breadcrumbs-menu .dropdown-section {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}

.cp-project-breadcrumbs-menu .dropdown-item {
	height: 40px;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	color: var(--color-neutral-8);
	transition: 0.15s ease-in-out;
}

.cp-project-breadcrumbs-menu .dropdown-item.active {
	background-color: rgba(0, 74, 215, 0.1);
	color: var(--color-action-primary-active);
}

.cp-project-breadcrumbs-menu .dropdown-item.active .lexicon-icon {
	width: 1.5rem;
	height: 1.5rem;
	color: var(--color-neutral-9);
}

.cp-project-breadcrumbs-menu .dropdown-item:hover {
	background-color: rgba(0, 83, 240, 0.07);
	color: var(--color-action-primary-hover);
}
