.btn.disabled,
.btn:disabled {
	opacity: 1;
}

.btn {
	border-width: 0;
}

.btn:not(.alert-btn):not(.dropdown-item) {
	&,
	&:focus {
		background-color: var(--btn-default-background-color);
		border-color: var(--btn-default-border-color);
		color: var(--btn-default-color);
	}

	&:hover {
		background-color: var(
			--btn-hover-background-color,
			var(--btn-default-background-color)
		);
		border-color: var(
			--btn-hover-border-color,
			var(--btn-default-border-color)
		);
		color: var(--btn-hover-color, var(--btn-default-color));
	}

	&:active {
		background-color: var(
			--btn-active-background-color,
			var(--btn-default-background-color)
		);
		border-color: var(
			--btn-active-border-color,
			var(--btn-default-border-color)
		);
		color: var(--btn-active-color);
	}

	&.disabled,
	&:disabled {
		background-color: var(
			--btn-disabled-background-color,
			var(--btn-default-background-color)
		);
		border-color: var(
			--btn-disabled-border-color,
			var(--btn-default-border-color)
		);
		color: var(--btn-disabled-color, var(--btn-default-color));
	}
}

// Solid & Rounded

.btn,
.btn-rounded,
.btn-solid {
	&.btn-primary {
		&:not(.btn-inverted) {
			--btn-active-background-color: #{$action-primary-active};
			--btn-active-border-color: #{$action-primary-active};
			--btn-default-background-color: #{$action-primary-default};
			--btn-default-border-color: #{$action-primary-default};
			--btn-default-color: #{$action-primary-inverted};
			--btn-disabled-background-color: #{$action-primary-disabled};
			--btn-disabled-border-color: #{$action-primary-disabled};
			--btn-hover-background-color: #{$action-primary-hover};
			--btn-hover-border-color: #{$action-primary-hover};
		}

		&.btn-inverted {
			--btn-active-color: #{$action-primary-active};
			--btn-default-background-color: #{$action-primary-inverted};
			--btn-default-border-color: #{$action-primary-inverted};
			--btn-default-color: #{$action-primary-default};
			--btn-disabled-color: #{$action-primary-disabled};
			--btn-hover-color: #{$action-primary-hover};
		}
	}

	&.btn-secondary {
		&:not(.btn-inverted) {
			--btn-active-background-color: #{$action-secondary-active};
			--btn-active-border-color: #{$action-secondary-active};
			--btn-default-background-color: #{$action-secondary-default};
			--btn-default-border-color: #{$action-secondary-default};
			--btn-default-color: #{$action-secondary-inverted};
			--btn-disabled-background-color: #{$action-secondary-disabled};
			--btn-disabled-border-color: #{$action-secondary-disabled};
			--btn-hover-background-color: #{$action-secondary-hover};
			--btn-hover-border-color: #{$action-secondary-hover};
		}

		&.btn-inverted {
			--btn-active-color: #{$action-secondary-active};
			--btn-default-background-color: #{$action-secondary-inverted};
			--btn-default-border-color: #{$action-secondary-inverted};
			--btn-default-color: #{$action-secondary-default};
			--btn-disabled-color: #{$action-secondary-disabled};
			--btn-hover-color: #{$action-secondary-hover};
		}
	}

	&.btn-neutral {
		&:not(.btn-inverted) {
			--btn-active-background-color: #{$action-neutral-active};
			--btn-active-border-color: #{$action-neutral-active};
			--btn-default-background-color: #{$action-neutral-default};
			--btn-default-border-color: #{$action-neutral-default};
			--btn-default-color: #{$action-neutral-inverted};
			--btn-disabled-background-color: #{$action-neutral-disabled};
			--btn-disabled-border-color: #{$action-neutral-disabled};
			--btn-hover-background-color: #{$action-neutral-hover};
			--btn-hover-border-color: #{$action-neutral-hover};
		}

		&.btn-inverted {
			--btn-active-color: #{$action-neutral-active};
			--btn-default-background-color: #{$action-neutral-inverted};
			--btn-default-border-color: #{$action-neutral-inverted};
			--btn-default-color: #{$action-neutral-default};
			--btn-disabled-color: #{$action-neutral-disabled};
			--btn-hover-color: #{$action-neutral-hover};
		}
	}
}

// Buttons with Borders

.btn-borderless,
.btn-ghost {
	border-width: $btn-border-width;

	&:not(.btn-monospaced) {
		&.btn-sm {
			padding: calc(#{$btn-padding-y-sm} - #{$btn-border-width})
				calc(#{$btn-padding-x-sm} - #{$btn-border-width});
		}

		&.btn-nm,
		&:not(.btn-sm):not(.btn-lg) {
			padding: calc(#{$btn-padding-y} - #{$btn-border-width})
				calc(#{$btn-padding-x} - #{$btn-border-width});
		}

		&.btn-lg {
			padding: calc(#{$btn-padding-y-lg} - #{$btn-border-width})
				calc(#{$btn-padding-x-lg} - #{$btn-border-width});
		}
	}
}

// Ghost

.btn-ghost {
	&.btn-primary,
	&.btn-secondary,
	&.btn-neutral {
		&.btn-inverted {
			--btn-default-background-color: transparent;
		}
	}

	&.btn-primary {
		&:not(.btn-inverted) {
			--btn-active-background-color: #{$action-primary-inverted};
			--btn-active-border-color: #{$action-primary-active};
			--btn-active-color: #{$action-primary-active};
			--btn-default-background-color: #{$action-primary-inverted};
			--btn-default-border-color: #{$action-primary-default};
			--btn-default-color: #{$action-primary-default};
			--btn-disabled-background-color: #{$action-primary-inverted};
			--btn-disabled-border-color: #{$action-primary-disabled};
			--btn-disabled-color: #{$action-primary-disabled};
			--btn-hover-background-color: #{$action-primary-inverted};
			--btn-hover-border-color: #{$action-primary-hover};
			--btn-hover-color: #{$action-primary-hover};
		}

		&.btn-inverted {
			--btn-active-color: #{$action-primary-inverted};
			--btn-default-border-color: #{$action-primary-inverted};
			--btn-default-color: #{$action-primary-inverted};
			--btn-disabled-border-color: #{$action-primary-inverted-disabled};
			--btn-disabled-color: #{$action-primary-inverted-disabled};
			--btn-hover-background-color: #{$action-primary-inverted-hover};
			--btn-hover-border-color: #{$action-primary-inverted};
			--btn-hover-color: #{$action-primary-inverted};
		}
	}

	&.btn-secondary {
		&:not(.btn-inverted) {
			--btn-active-background-color: #{$action-secondary-inverted};
			--btn-active-border-color: #{$action-secondary-active};
			--btn-active-color: #{$action-secondary-active};
			--btn-default-background-color: #{$action-secondary-inverted};
			--btn-default-border-color: #{$action-secondary-default};
			--btn-default-color: #{$action-secondary-default};
			--btn-disabled-background-color: #{$action-secondary-inverted};
			--btn-disabled-border-color: #{$action-secondary-disabled};
			--btn-disabled-color: #{$action-secondary-disabled};
			--btn-hover-background-color: #{$action-secondary-inverted};
			--btn-hover-border-color: #{$action-secondary-hover};
			--btn-hover-color: #{$action-secondary-hover};
		}

		&.btn-inverted {
			--btn-active-color: #{$action-secondary-inverted};
			--btn-default-border-color: #{$action-secondary-inverted};
			--btn-default-color: #{$action-secondary-inverted};
			--btn-disabled-border-color: #{$action-secondary-inverted-disabled};
			--btn-disabled-color: #{$action-secondary-inverted-disabled};
			--btn-hover-background-color: #{$action-secondary-inverted-hover};
			--btn-hover-border-color: #{$action-secondary-inverted};
			--btn-hover-color: #{$action-secondary-inverted};
		}
	}

	&.btn-neutral {
		&:not(.btn-inverted) {
			--btn-active-background-color: #{$action-neutral-inverted};
			--btn-active-border-color: #{$action-neutral-active};
			--btn-active-color: #{$action-neutral-active};
			--btn-default-background-color: #{$action-neutral-inverted};
			--btn-default-border-color: #{$action-neutral-default};
			--btn-default-color: #{$action-neutral-default};
			--btn-disabled-background-color: #{$action-neutral-inverted};
			--btn-disabled-border-color: #{$action-neutral-disabled};
			--btn-disabled-color: #{$action-neutral-disabled};
			--btn-hover-background-color: #{$action-neutral-inverted};
			--btn-hover-border-color: #{$action-neutral-hover};
			--btn-hover-color: #{$action-neutral-hover};
		}

		&.btn-inverted {
			--btn-active-color: #{$action-neutral-inverted};
			--btn-default-border-color: #{$action-neutral-inverted};
			--btn-default-color: #{$action-neutral-inverted};
			--btn-disabled-border-color: #{$action-neutral-inverted-disabled};
			--btn-disabled-color: #{$action-neutral-inverted-disabled};
			--btn-hover-background-color: #{$action-neutral-inverted-hover};
			--btn-hover-border-color: #{$action-neutral-inverted};
			--btn-hover-color: #{$action-neutral-inverted};
		}
	}
}

// Borderless

.btn-borderless {
	&:not(.alert-btn):not(.dropdown-item) {
		--btn-active-background-color: transparent;
		--btn-default-background-color: transparent;
		--btn-default-border-color: transparent;
		--btn-disabled-background-color: transparent;
		--btn-disabled-border-color: transparent;
		--btn-focus-background-color: transparent;
		--btn-focus-border-color: transparent;

		&:not(.btn-inverted) {
			--btn-hover-background-color: transparent;
		}
	}

	&.btn-primary {
		&:not(.btn-inverted) {
			--btn-active-background-color: #{$action-primary-inverted};
			--btn-active-border-color: #{$action-primary-active};
			--btn-active-color: #{$action-primary-active};
			--btn-default-color: #{$action-primary-default};
			--btn-disabled-color: #{$action-primary-disabled};
			--btn-hover-border-color: #{$action-primary-hover};
			--btn-hover-color: #{$action-primary-hover};
		}

		&.btn-inverted {
			--btn-active-border-color: #{$action-primary-inverted};
			--btn-active-color: #{$action-primary-inverted};
			--btn-default-color: #{$action-primary-inverted};
			--btn-disabled-color: #{$action-primary-inverted-disabled};
			--btn-hover-background-color: #{$action-primary-inverted-hover};
			--btn-hover-border-color: #{$action-primary-inverted};
			--btn-hover-color: #{$action-primary-inverted};
		}
	}

	&.btn-secondary {
		&:not(.btn-inverted) {
			--btn-active-background-color: #{$action-secondary-inverted};
			--btn-active-border-color: #{$action-secondary-active};
			--btn-active-color: #{$action-secondary-active};
			--btn-default-color: #{$action-secondary-default};
			--btn-disabled-color: #{$action-secondary-disabled};
			--btn-hover-border-color: #{$action-secondary-hover};
			--btn-hover-color: #{$action-secondary-hover};
		}

		&.btn-inverted {
			--btn-active-border-color: #{$action-secondary-inverted};
			--btn-active-color: #{$action-secondary-inverted};
			--btn-default-color: #{$action-secondary-inverted};
			--btn-disabled-color: #{$action-secondary-inverted-disabled};
			--btn-hover-background-color: #{$action-secondary-inverted-hover};
			--btn-hover-border-color: #{$action-secondary-inverted};
			--btn-hover-color: #{$action-secondary-inverted};
		}
	}

	&.btn-neutral {
		&:not(.btn-inverted) {
			--btn-active-background-color: #{$action-neutral-inverted};
			--btn-active-border-color: #{$action-neutral-active};
			--btn-active-color: #{$action-neutral-active};
			--btn-default-color: #{$action-neutral-default};
			--btn-disabled-color: #{$action-neutral-disabled};
			--btn-hover-border-color: #{$action-neutral-hover};
			--btn-hover-color: #{$action-neutral-hover};
		}

		&.btn-inverted {
			--btn-active-border-color: #{$action-neutral-inverted};
			--btn-active-color: #{$action-neutral-inverted};
			--btn-default-color: #{$action-neutral-inverted};
			--btn-disabled-color: #{$action-neutral-inverted-disabled};
			--btn-hover-background-color: #{$action-neutral-inverted-hover};
			--btn-hover-border-color: #{$action-neutral-inverted};
			--btn-hover-color: #{$action-neutral-inverted};
		}
	}
}

// Rounded

.btn-rounded {
	border-radius: $rounded-pill;

	&.btn-primary {
		box-shadow: $elevation-tight-4 $action-primary-disabled;
	}

	&.btn-secondary {
		box-shadow: $elevation-tight-4 $action-secondary-disabled;
	}

	&.btn-neutral {
		box-shadow: $elevation-tight-4 $action-neutral-disabled;
	}
}

// Monospaced

.btn-monospaced {
	align-items: center;
	display: flex;
	justify-content: center;
}
