.btn {
	border-width: 0;
}

.btn:not(.alert-btn):not(.dropdown-item) {
	&,
	&:focus {
		background-color: var(--btn-default-background-color);
		border-color: var(--btn-default-border-color);
		color: var(--btn-default-color);
	}

	&:hover {
		background-color: var(
			--btn-hover-background-color,
			var(--btn-default-background-color)
		);
		border-color: var(
			--btn-hover-border-color,
			var(--btn-default-border-color)
		);
		color: var(--btn-hover-color, var(--btn-default-color));
	}

	&:active {
		background-color: var(
			--btn-active-background-color,
			var(--btn-default-background-color)
		);
		border-color: var(
			--btn-active-border-color,
			var(--btn-default-border-color)
		);
		color: var(--btn-active-color);
	}

	&.disabled,
	&:disabled {
		background-color: var(
			--btn-disabled-background-color,
			var(--btn-default-background-color)
		);
		border-color: var(
			--btn-disabled-border-color,
			var(--btn-default-border-color)
		);
		color: var(--btn-disabled-color, var(--btn-default-color));
	}
}

// Solid & Rounded

.btn-rounded,
.btn-solid {
	&.btn-variant-primary {
		&:not(.btn-inverted) {
			--btn-active-background-color: var(--color-action-primary-active);
			--btn-active-border-color: var(--color-action-primary-active);
			--btn-active-color: var(--color-action-primary-inverted);
			--btn-default-background-color: var(--color-action-primary-default);
			--btn-default-border-color: var(--color-action-primary-default);
			--btn-default-color: var(--color-action-primary-inverted);
			--btn-disabled-background-color: var(
				--color-action-primary-disabled
			);
			--btn-disabled-border-color: var(--color-action-primary-disabled);
			--btn-hover-background-color: var(--color-action-primary-hover);
			--btn-hover-border-color: var(--color-action-primary-hover);
		}

		&.btn-inverted {
			--btn-active-color: var(--color-action-primary-active);
			--btn-default-background-color: var(
				--color-action-primary-inverted
			);
			--btn-default-border-color: var(--color-action-primary-inverted);
			--btn-default-color: var(--color-action-primary-default);
			--btn-disabled-color: var(--color-action-primary-disabled);
			--btn-hover-color: var(--color-action-primary-hover);
		}
	}

	&.btn-variant-secondary {
		&:not(.btn-inverted) {
			--btn-active-background-color: var(--color-action-secondary-active);
			--btn-active-border-color: var(--color-action-secondary-active);
			--btn-active-color: var(--color-action-secondary-inverted);
			--btn-default-background-color: var(
				--color-action-secondary-default
			);
			--btn-default-border-color: var(--color-action-secondary-default);
			--btn-default-color: var(--color-action-secondary-inverted);
			--btn-disabled-background-color: var(
				--color-action-secondary-disabled
			);
			--btn-disabled-border-color: var(--color-action-secondary-disabled);
			--btn-hover-background-color: var(--color-action-secondary-hover);
			--btn-hover-border-color: var(--color-action-secondary-hover);
		}

		&.btn-inverted {
			--btn-active-color: var(--color-action-secondary-active);
			--btn-default-background-color: var(
				--color-action-secondary-inverted
			);
			--btn-default-border-color: var(--color-action-secondary-inverted);
			--btn-default-color: var(--color-action-secondary-default);
			--btn-disabled-color: var(--color-action-secondary-disabled);
			--btn-hover-color: var(--color-action-secondary-hover);
		}
	}

	&.btn-variant-neutral {
		&:not(.btn-inverted) {
			--btn-active-background-color: var(--color-action-neutral-active);
			--btn-active-border-color: var(--color-action-neutral-active);
			--btn-active-color: var(--color-action-neutral-inverted);
			--btn-default-background-color: var(--color-action-neutral-default);
			--btn-default-border-color: var(--color-action-neutral-default);
			--btn-default-color: var(--color-action-neutral-inverted);
			--btn-disabled-background-color: var(
				--color-action-neutral-disabled
			);
			--btn-disabled-border-color: var(--color-action-neutral-disabled);
			--btn-hover-background-color: var(--color-action-neutral-hover);
			--btn-hover-border-color: var(--color-action-neutral-hover);
		}

		&.btn-inverted {
			--btn-active-color: var(--color-action-neutral-active);
			--btn-default-background-color: var(
				--color-action-neutral-inverted
			);
			--btn-default-border-color: var(--color-action-neutral-inverted);
			--btn-default-color: var(--color-action-neutral-default);
			--btn-disabled-color: var(--color-action-neutral-disabled);
			--btn-hover-color: var(--color-action-neutral-hover);
		}
	}
}

// Buttons with Borders

.btn-borderless,
.btn-ghost {
	border-width: $btn-border-width;

	&:not(.btn-monospaced) {
		&.btn-sm {
			padding: calc(#{$btn-padding-y-sm} - #{$btn-border-width})
				calc(#{$btn-padding-x-sm} - #{$btn-border-width});
		}

		&.btn-nm,
		&:not(.btn-sm):not(.btn-lg) {
			padding: calc(#{$btn-padding-y} - #{$btn-border-width})
				calc(#{$btn-padding-x} - #{$btn-border-width});
		}

		&.btn-lg {
			padding: calc(#{$btn-padding-y-lg} - #{$btn-border-width})
				calc(#{$btn-padding-x-lg} - #{$btn-border-width});
		}
	}
}

// Ghost

.btn-ghost {
	&.btn-variant-primary,
	&.btn-variant-secondary,
	&.btn-variant-neutral {
		&.btn-inverted {
			--btn-default-background-color: transparent;
		}
	}

	&.btn-variant-primary {
		&:not(.btn-inverted) {
			--btn-active-background-color: var(--color-action-primary-inverted);
			--btn-active-border-color: var(--color-action-primary-active);
			--btn-active-color: var(--color-action-primary-active);
			--btn-default-background-color: var(
				--color-action-primary-inverted
			);
			--btn-default-border-color: var(--color-action-primary-default);
			--btn-default-color: var(--color-action-primary-default);
			--btn-disabled-background-color: var(
				--color-action-primary-inverted
			);
			--btn-disabled-border-color: var(--color-action-primary-disabled);
			--btn-disabled-color: var(--color-action-primary-disabled);
			--btn-hover-background-color: var(--color-action-primary-inverted);
			--btn-hover-border-color: var(--color-action-primary-hover);
			--btn-hover-color: var(--color-action-primary-hover);
		}

		&.btn-inverted {
			--btn-active-color: var(--color-action-primary-inverted);
			--btn-default-border-color: var(--color-action-primary-inverted);
			--btn-default-color: var(--color-action-primary-inverted);
			--btn-disabled-border-color: var(
				--color-action-primary-inverted-disabled
			);
			--btn-disabled-color: var(--color-action-primary-inverted-disabled);
			--btn-hover-background-color: var(
				--color-action-primary-inverted-hover
			);
			--btn-hover-border-color: var(--color-action-primary-inverted);
			--btn-hover-color: var(--color-action-primary-inverted);
		}
	}

	&.btn-variant-secondary {
		&:not(.btn-inverted) {
			--btn-active-background-color: var(
				--color-action-secondary-inverted
			);
			--btn-active-border-color: var(--color-action-secondary-active);
			--btn-active-color: var(--color-action-secondary-active);
			--btn-default-background-color: var(
				--color-action-secondary-inverted
			);
			--btn-default-border-color: var(--color-action-secondary-default);
			--btn-default-color: var(--color-action-secondary-default);
			--btn-disabled-background-color: var(
				--color-action-secondary-inverted
			);
			--btn-disabled-border-color: var(--color-action-secondary-disabled);
			--btn-disabled-color: var(--color-action-secondary-disabled);
			--btn-hover-background-color: var(
				--color-action-secondary-inverted
			);
			--btn-hover-border-color: var(--color-action-secondary-hover);
			--btn-hover-color: var(--color-action-secondary-hover);
		}

		&.btn-inverted {
			--btn-active-color: var(--color-action-secondary-inverted);
			--btn-default-border-color: var(--color-action-secondary-inverted);
			--btn-default-color: var(--color-action-secondary-inverted);
			--btn-disabled-border-color: var(
				--color-action-secondary-inverted-disabled
			);
			--btn-disabled-color: var(
				--color-action-secondary-inverted-disabled
			);
			--btn-hover-background-color: var(
				--color-action-secondary-inverted-hover
			);
			--btn-hover-border-color: var(--color-action-secondary-inverted);
			--btn-hover-color: var(--color-action-secondary-inverted);
		}
	}

	&.btn-variant-neutral {
		&:not(.btn-inverted) {
			--btn-active-background-color: var(--color-action-neutral-inverted);
			--btn-active-border-color: var(--color-action-neutral-active);
			--btn-active-color: var(--color-action-neutral-active);
			--btn-default-background-color: var(
				--color-action-neutral-inverted
			);
			--btn-default-border-color: var(--color-action-neutral-default);
			--btn-default-color: var(--color-action-neutral-default);
			--btn-disabled-background-color: var(
				--color-action-neutral-inverted
			);
			--btn-disabled-border-color: var(--color-action-neutral-disabled);
			--btn-disabled-color: var(--color-action-neutral-disabled);
			--btn-hover-background-color: var(--color-action-neutral-inverted);
			--btn-hover-border-color: var(--color-action-neutral-hover);
			--btn-hover-color: var(--color-action-neutral-hover);
		}

		&.btn-inverted {
			--btn-active-color: var(--color-action-neutral-inverted);
			--btn-default-border-color: var(--color-action-neutral-inverted);
			--btn-default-color: var(--color-action-neutral-inverted);
			--btn-disabled-border-color: var(
				--color-action-neutral-inverted-disabled
			);
			--btn-disabled-color: var(--color-action-neutral-inverted-disabled);
			--btn-hover-background-color: var(
				--color-action-neutral-inverted-hover
			);
			--btn-hover-border-color: var(--color-action-neutral-inverted);
			--btn-hover-color: var(--color-action-neutral-inverted);
		}
	}
}

// Borderless

.btn-borderless {
	--btn-active-background-color: transparent;
	--btn-default-background-color: transparent;
	--btn-default-border-color: transparent;
	--btn-disabled-background-color: transparent;
	--btn-disabled-border-color: transparent;
	--btn-focus-background-color: transparent;
	--btn-focus-border-color: transparent;

	&:not(.btn-inverted) {
		--btn-hover-background-color: transparent;
	}

	&.btn-variant-primary {
		&:not(.btn-inverted) {
			--btn-active-background-color: var(--color-action-primary-inverted);
			--btn-active-border-color: var(--color-action-primary-active);
			--btn-active-color: var(--color-action-primary-active);
			--btn-default-color: var(--color-action-primary-default);
			--btn-disabled-color: var(--color-action-primary-disabled);
			--btn-hover-border-color: var(--color-action-primary-hover);
			--btn-hover-color: var(--color-action-primary-hover);
		}

		&.btn-inverted {
			--btn-active-border-color: var(--color-action-primary-inverted);
			--btn-active-color: var(--color-action-primary-inverted);
			--btn-default-color: var(--color-action-primary-inverted);
			--btn-disabled-color: var(--color-action-primary-inverted-disabled);
			--btn-hover-background-color: var(
				--color-action-primary-inverted-hover
			);
			--btn-hover-border-color: var(--color-action-primary-inverted);
			--btn-hover-color: var(--color-action-primary-inverted);
		}
	}

	&.btn-variant-secondary {
		&:not(.btn-inverted) {
			--btn-active-background-color: var(
				--color-action-secondary-inverted
			);
			--btn-active-border-color: var(--color-action-secondary-active);
			--btn-active-color: var(--color-action-secondary-active);
			--btn-default-color: var(--color-action-secondary-default);
			--btn-disabled-color: var(--color-action-secondary-disabled);
			--btn-hover-border-color: var(--color-action-secondary-hover);
			--btn-hover-color: var(--color-action-secondary-hover);
		}

		&.btn-inverted {
			--btn-active-border-color: var(--color-action-secondary-inverted);
			--btn-active-color: var(--color-action-secondary-inverted);
			--btn-default-color: var(--color-action-secondary-inverted);
			--btn-disabled-color: var(
				--color-action-secondary-inverted-disabled
			);
			--btn-hover-background-color: var(
				--color-action-secondary-inverted-hover
			);
			--btn-hover-border-color: var(--color-action-secondary-inverted);
			--btn-hover-color: var(--color-action-secondary-inverted);
		}
	}

	&.btn-variant-neutral {
		&:not(.btn-inverted) {
			--btn-active-background-color: var(--color-action-neutral-inverted);
			--btn-active-border-color: var(--color-action-neutral-active);
			--btn-active-color: var(--color-action-neutral-active);
			--btn-default-color: var(--color-action-neutral-default);
			--btn-disabled-color: var(--color-action-neutral-disabled);
			--btn-hover-border-color: var(--color-action-neutral-hover);
			--btn-hover-color: var(--color-action-neutral-hover);
		}

		&.btn-inverted {
			--btn-active-border-color: var(--color-action-neutral-inverted);
			--btn-active-color: var(--color-action-neutral-inverted);
			--btn-default-color: var(--color-action-neutral-inverted);
			--btn-disabled-color: var(--color-action-neutral-inverted-disabled);
			--btn-hover-background-color: var(
				--color-action-neutral-inverted-hover
			);
			--btn-hover-border-color: var(--color-action-neutral-inverted);
			--btn-hover-color: var(--color-action-neutral-inverted);
		}
	}
}

// Rounded

.btn-rounded {
	border-radius: $rounded-pill;

	&.btn-variant-primary {
		box-shadow: var(--elevation-tight-4)
			var(--color-action-primary-disabled);
	}

	&.btn-variant-secondary {
		box-shadow: var(--elevation-tight-4)
			var(--color-action-secondary-disabled);
	}

	&.btn-variant-neutral {
		box-shadow: var(--elevation-tight-4)
			var(--color-action-neutral-disabled);
	}
}

// Monospaced

.btn-monospaced {
	align-items: center;
	display: flex;
	justify-content: center;
}

// Defaults

.btn-primary {
	@extend .btn-solid, .btn-variant-primary, :not(.btn-inverted);
}

.btn-secondary {
	@extend .btn-ghost, .btn-variant-neutral, :not(.btn-inverted);
}

.btn-tertiary {
	@extend .btn-borderless, .btn-variant-neutral, :not(.btn-inverted);
}

.btn-outline-primary {
	@extend .btn-ghost, .btn-variant-primary, :not(.btn-inverted);
}

.btn-outline-secondary {
	@extend .btn-ghost, .btn-variant-neutral, :not(.btn-inverted);
}

.btn-outline-borderless {
	@extend .btn-borderless, :not(.btn-inverted);
}
