<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" referrerpolicy="no-referrer" rel="stylesheet" />
<div class="kb-window">
	<div class="header-wrapper">
		<div>
			<h1 class="header">${configuration.headerText}</h1>
		</div>

		<div>
			<i class="fa-chevron-circle-left go-back" onclick="javascript: goBack();"></i>
		</div>
	</div>

	<div class="body-wrapper p-2">
		<lfr-drop-zone></lfr-drop-zone>
	</div>
</div>

<script>
function goBack() {
	const useBrowserHistory = ${(configuration.useBrowserHistory!false)?then('true','false')};
const backUrl = '${(configuration.backUrl)!}';
	if (useBrowserHistory)
	window.history.back();
	else if (backUrl)
		document.location.href = backUrl;
else
	window.history.back();
}
</script>