@import 'atlas-variables';

.side-panel-iframe__tabs {
	background-color: $white;
	padding: 0.5rem 1rem 0;

	.nav-link {
		padding: 1rem;
	}
}

.side-panel-content {
	background-color: $light;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;

	&__body,
	&__footer {
		padding: 1.5rem;
	}
}

.text-small {
	color: $secondary-l1 !important;
	font-size: 0.75rem;
}
