.side-panel-iframe {
	& &-content {
		padding: 0 !important;
	}

	& &-header {
		background-color: #fff !important;
	}

	&__tabs {
		padding: 0.5rem 1rem 0;

		.nav-link {
			padding: 1rem;
		}
	}
}

.side-panel-content {
	background-color: #f1f2f5;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 118px);
	justify-content: space-between;
	overflow: auto;

	&__body,
	&__footer {
		padding: 1.5rem;
	}
}
