companyId=L"0"
saml.enabled=B"true"
saml.entity.id=""
saml.idp.assertion.lifetime=I"1800"
saml.idp.authn.request.signature.required=B"true"
saml.idp.session.maximum.age=L"0"
saml.idp.session.timeout=L"0"
saml.keystore.credential.password="liferay"
saml.keystore.encryption.credential.password="liferay"
saml.role="sp"
saml.sign.metadata=B"true"
saml.sp.allow.showing.the.login.portlet=B"true"
saml.sp.assertion.signature.required=B"false"
saml.sp.clock.skew=L"3000"
saml.sp.ldap.import.enabled=B"false"
saml.sp.sign.authn.request=B"true"
saml.ssl.required=B"false"