.congrats {
	text-align: center;
}

.congrats h1 {
	color: var(--color-action-primary-default);
	font-size: 43px;
	font-weight: 800;
	height: 48px;
	margin-bottom: 34px;
}

.congrats h2 {
	color: var(--color-neutral-1);
	font-size: 21px;
	font-weight: 800;
	line-height: 32px;
}

.congrats h3 {
	color: var(--color-neutral-1);
	font-size: 21px;
	font-weight: 500;
	line-height: 32px;
}

.congrats h4 {
	color: var(--color-neutral-1);
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}