<div class="congrats">
	<h1 data-lfr-editable-id="congrats-title" data-lfr-editable-type="text">
		Congrats!
	</h1>

	<h2 data-lfr-editable-id="congrats-subtitle" data-lfr-editable-type="text">
		What's Next:
	</h2>

	<h3
		data-lfr-editable-id="congrats-description"
		data-lfr-editable-type="text"
	>
		We will email you the policy contract to sign via DocuSign. <br />
		Look for an email from raylife@docusign.net.
	</h3>

	<h4 data-lfr-editable-id="congrats-contact" data-lfr-editable-type="text">
		If you don't receive an email within 24 hours, contact us at (909)
		987-6543
	</h4>
</div>
