authorizationEndPoint=""
discoveryEndPoint="https://auth.pingone.ca/e4d31037-b99a-4a9b-b613-08d09aecb074/as/.well-known/openid-configuration"
discoveryEndPointCacheInMillis=L"360000"
idTokenSigningAlgValues=["RS256"]
issuerURL=""
jwksURI=""
openIdConnectClientId="31c257d5-873f-4d5a-9be1-abc76eafffe8"
openIdConnectClientSecret="uqpPv8DuTsi0yCn14v.weqTR7CLtPv0sh7pEmfCe5WuTlKT44UhoEyUX7jMYVjM3"
providerName="PingOne"
registeredIdTokenSigningAlg=""
scopes="openid email profile"
subjectTypes=[""]
tokenConnectionTimeout=I"1000"
tokenEndPoint=""
userInfoEndPoint=""