authorizationEndPoint=""
discoveryEndPoint="https://dev-uarox1yh.us.auth0.com/.well-known/openid-configuration"
discoveryEndPointCacheInMillis=L"360000"
idTokenSigningAlgValues=["RS256"]
issuerURL=""
jwksURI=""
openIdConnectClientId="6Ko608nCF44eCNWfZlQk2IjQZXm8k3cG"
openIdConnectClientSecret="Fetz2IxF5yECfBGlhGQJj5h4EWXQ6taXxqxkB3uT1vG3dRFr-nHGF3GzbAWfIrUk"
providerName="Auth0"
registeredIdTokenSigningAlg=""
scopes="openid email profile"
subjectTypes=[""]
tokenConnectionTimeout=I"1000"
tokenEndPoint=""
userInfoEndPoint=""