authorizationEndPoint=""
discoveryEndPoint="https://auth.pingone.com/6f79c7a6-a493-426a-b074-dad39a7cedae/as/.well-known/openid-configuration"
discoveryEndPointCacheInMillis=L"360000"
idTokenSigningAlgValues=["RS256"]
issuerURL=""
jwksURI=""
openIdConnectClientId="eec58490-841a-4dc5-859e-0733bf53c729"
openIdConnectClientSecret="11e-6BhmoE8p0DpLFM6dBoMEfy0DkcjeJk2Z85GeydrsWbH8gjbZNXge22uGdmjB"
providerName="PingOne"
registeredIdTokenSigningAlg=""
scopes="openid email profile"
subjectTypes=[""]
tokenConnectionTimeout=I"1000"
tokenEndPoint=""
userInfoEndPoint=""