authorizationEndPoint=""
discoveryEndPoint="https://login.microsoftonline.com/70bee5ea-04fe-4beb-97f0-e400919ada0c/v2.0/.well-known/openid-configuration"
discoveryEndPointCacheInMillis=L"360000"
idTokenSigningAlgValues=["RS256"]
issuerURL=""
jwksURI=""
openIdConnectClientId="f6807582-5673-4420-a549-90fc674cd588"
openIdConnectClientSecret="DEHsLdpSoq5xk_f3~dyh7wIM.328-vn6Ox"
providerName="Azure"
registeredIdTokenSigningAlg=""
scopes="openid email profile"
subjectTypes=[""]
tokenConnectionTimeout=I"1000"
tokenEndPoint=""
userInfoEndPoint=""