authorizationEndPoint=""
discoveryEndPoint="https://dev-5081331.okta.com/.well-known/openid-configuration"
discoveryEndPointCacheInMillis=L"360000"
idTokenSigningAlgValues=["RS256"]
issuerURL=""
jwksURI=""
openIdConnectClientId="0oa2f6ikwu8bYgkyq5d7"
openIdConnectClientSecret="yyabDVfpgIJfEFiHIeLBmd4l7VhBbIZBg5tksLtS"
providerName="Okta"
registeredIdTokenSigningAlg=""
scopes="openid email profile"
subjectTypes=[""]
tokenConnectionTimeout=I"1000"
tokenEndPoint=""
userInfoEndPoint=""