<div class="blog-header position-relative pt-2 pt-lg-7">
	<div class="container-fluid container-fluid-max-xl">
		<div class="entry-heading position-relative">
		<div class="entry-category mb-2" data-lfr-editable-id="entryCategory" data-lfr-editable-type="text">
				Category
			</div>

			<div class="entry-title mb-2 mb-lg-3" data-lfr-editable-id="entryTitle" data-lfr-editable-type="text">
				Lorem ipsum dolor amet, consectetur elit vestibulum id metus
				posuere sit.
			</div>

		<div class="entry-subtitle mb-2 mb-lg-4" data-lfr-editable-id="entrySubtitle" data-lfr-editable-type="text">
				Lorem ipsum dolor amet, consectetur elit vestibulum id metus
				posuere sit.
			</div>

			<div class="mb-5 mb-lg-7 team-extranet-link">
			<a class="" data-lfr-editable-id="link" data-lfr-editable-type="link" href="" id="fragment-${fragmentEntryLinkNamespace}-link">
					Read More
				</a>

			<svg class="link-arrow" fill="" height="9" viewBox="0 0 32 9" width="32" xmlns="http://www.w3.org/2000/svg">
					<path clip-rule="evenodd" d="M28.4006 1.10893L31.8416 4.56574C32.0528 4.77787 32.0528 5.1218 31.8416 5.33392L28.4006 8.79074C28.1894 9.00286 27.8471 9.00286 27.6359 8.79074C27.4248 8.57861 27.4248 8.23468 27.6359 8.02256L30.1539 5.49302L-3.97178e-07 5.49302L-3.02204e-07 4.40664L30.1539 4.40665L27.6359 1.87711C27.4248 1.66498 27.4248 1.32105 27.6359 1.10893C27.8471 0.8968 28.1894 0.8968 28.4006 1.10893Z" fill="" fill-rule="evenodd" />
				</svg>
			</div>
		</div>

		<div class="image-group position-relative">
		<img alt="" class="d-block entry-image img-fluid w-100" data-lfr-editable-id="entryImage" data-lfr-editable-type="image" src="[resources:entry_example.jpg]" />
		</div>
	</div>
</div>