.cp-team-members-table {
	.cp-team-members-avatar {
		img {
			border-radius: 50%;
		}
	}
	.table-cell-expand {
		max-width: 8.5rem !important;
		min-width: auto !important;
	}

	tbody {
		tr:first-child {
			td {
				border-top: 1px solid #e1e1e4 !important;
			}
		}
	}
}

.cp-team-members-support-seat-icon {
	color: var(--color-action-primary-active);

	&:hover,
	&:focus,
	&:active {
		color: var(--color-action-primary-hover);
	}
}

.cp-team-members-popover {
	min-width: 350px;
	a {
		text-decoration: underline;
	}
}

.cp-remove-member-option {
	color: var(--color-state-error) !important;

	&:hover {
		background-color: var(--color-state-error-lighten-2) !important;
		color: var(--color-state-error) !important;
	}
}
