<section class="bg-primary" id="about" style="padding: 60px;">
<div class="container">
<div class="row">
<div class="col-lg-8 mx-auto text-center">
			<h2 class="section-heading text-white"><lfr-editable id="headingCallToAction" type="text">Calling all in need of insurance!</lfr-editable></h2>
		<p class="text-white" data-lfr-editable-id="callToActionText" data-lfr-editable-type="text" >This is just a banner with little or no use other than to call out that you might need something from us</p>
			<a class="btn btn-light btn-xl js-scroll-trigger" href="#services"><lfr-editable id="linkCallToAction" type="text">DO SOMETHING NOW!</lfr-editable></a>
		</div>
		</div>
	</div>
</section>