.component-link {
	color: inherit;
}

.component-link a {
	border-radius: 0;
	color: inherit;
	font-family: var(--font-family-sans-serif);
	font-weight: var(--font-weight-bolder);
	letter-spacing: 1px;
	text-transform: uppercase;
}

.link-arrow {
	margin-left: var(--spacer-2);
}

.link-lg {
	font-size: 13px;
	padding: 0;
}

.link-nm {
	font-size: 11px;
	padding: 0;
}