.component-link {
  color: inherit;
}

.component-link a {
  border-radius: 0;
  color: inherit;
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-bolder);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.link-nm {
  font-size: 13px;
  padding: 0;
}

.link-arrow {
  margin-left: 16px;
}

.link-lg {
  font-size: 15px;
  padding: 0;
}
