#modal-backdrop {
	&.backdrop {
		background-color: rgba(0, 18, 56, 0.6);
		left: 0;
		top: 0;
		z-index: 1;

		.modal-content {
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;

			.modal-header {
				line-height: 20px;

				.close {
					svg {
						fill: $color-action-neutral-default;
						height: 11px !important;
						width: 11px !important;
					}
				}

				.close:hover,
				.close:focus {
					color: $color-neutral-black;
					cursor: pointer;
				}
			}

			&.modal-sm {
				height: 292px;
				width: 500px;
			}

			&.modal-md {
				height: 392px;
				width: 600px;
			}

			&.modal-lg {
				height: 492px;
				width: 700px;
			}
		}
	}
}
