.progress-bar {
	background: $color-neutral-8;
	border-radius: 2px;
	height: 4px;
	margin-top: 4px;
	width: 144px;

	&__progress {
		background: $color-action-primary-default;
		border-radius: 2px;
		height: 4px;
	}
}
