#quote-comparison-item {
	border: 1px solid $color-brand-primary-lighten-3;
	box-shadow: 0 10px 30px rgba(77, 133, 255, 0.09);
	height: 576px;
	width: 292px;

	.quote-content {
		height: 495px;
	}

	.header-size {
		height: 25px;
	}

	.quote-header {
		.value {
			line-height: 56px;

			div {
				font-size: 37px;
			}
		}

		.quote-subtitle {
			line-height: initial;
			max-width: 10rem;
		}
	}

	li {
		flex: auto;

		.checkIcon {
			div.icon {
				height: 16px;
				width: 16px;

				svg {
					width: 10px !important;
				}
			}
		}

		.timesIcon {
			div.icon {
				height: 16px;
				width: 16px;
			}
		}
	}

	li:not(:last-child) {
		margin-bottom: 24px;
	}
}
