.template {
	padding: $spacer-5 0 $spacer-5 $spacer-5;

	.title-area {
		margin: 0 $spacer-10 $spacer-6 $spacer-6;
		width: 595px;
	}

	.form-area {
		display: flex;
		justify-content: space-between;
	}
}
