.pay-card {
	cursor: pointer !important;
	gap: 0.95rem;
	transition: all 0.3s ease-in-out;

	.pay-card-image {
		height: 36px;
		width: 40px;
	}

	.custom-control {
		height: 1rem;
		margin-bottom: 0;
		width: 1rem;
	}
}

.agree-check {
	.custom-control-label {
		&::before {
			top: 0.3rem;
		}

		&::after {
			top: 0.3rem;
		}
	}
}

.type-payment-card-solid {
	background-color: $color-neutral-white;
	border: 4px solid $color-action-neutral-default;
	transition: all 0.2s ease-in-out;

	&.selected {
		border: 1px solid $color-action-primary-default;
		border-bottom: 4px solid $color-action-primary-default;
		padding-bottom: 13px;
	}
}

.panel-content {
	.billing-options {
		cursor: pointer;
		height: 84px;
		width: 208px;
	}
}
