.upload-container {
	.upload-section {
		.header {
			.upload-title {
				.upload-asterisk {
					width: 7px !important;
				}
			}
		}

		.upload-content {
			.upload-file {
				.view-file {
					.flex-column {
						.card {
							flex-shrink: 0;
							gap: initial;
							height: 176px;
							width: 176px;

							&.spaced {
								margin-right: 16px;
							}
						}

						span {
							width: 176px;
						}
					}

					.ellipsis {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					.view-file-document {
						margin-bottom: -36px;

						&.view-file-margin-right:not(:last-child) {
							margin-right: 16px;
						}

						.close-icon {
							cursor: pointer;
							fill: $color-action-neutral-default;
							height: 36px;
							left: 137px;
							top: -196px;
							width: 36px;
							filter: drop-shadow(
								0 5px 15px rgba(77, 133, 255, 0.12)
							);
						}

						.div-document {
							span {
								width: 176px;
							}

							.content {
								border: 1px solid $color-neutral-2;
								height: 176px;
								object-fit: cover;
								width: 176px;

								.image {
									img {
										height: 176px;
										object-fit: cover;
										width: 176px;
									}
								}

								.lexicon-icon-document-pdf {
									fill: #af78ff;
									height: 64px !important;
									width: 64px !important;
								}

								.lexicon-icon-document-text {
									fill: $color-brand-primary;
									height: 64px !important;
									width: 64px !important;
								}

								.lexicon-icon-document-table {
									fill: #50d2a0;
									height: 64px !important;
									width: 64px !important;
								}

								.lexicon-icon-document-presentation {
									fill: #ffb46e;
									height: 64px !important;
									width: 64px !important;
								}

								.lexicon-icon-document-unknown {
									fill: $color-action-neutral-default;
									height: 64px !important;
									width: 64px !important;
								}
							}
						}
					}
				}

				.drop-area {
					border: 2px dashed $color-brand-primary-lighten-3;
					left: 0;
					top: 64px;

					&.margin-left {
						margin-left: 16px;
					}

					&.hide {
						display: none;
					}

					.upload-button {
						.link-button {
							background: none;
							border: 1px solid $color-action-primary-default;
							cursor: pointer;
						}

						svg {
							fill: $color-action-primary-default;
							height: 12px !important;
							width: 12px !important;
						}
					}
				}
			}
		}

		.upload-alert {
			.badge {
				height: 56px;

				&.badge-info {
					svg {
						height: 20px !important;
						width: 20px !important;
					}
				}

				.close-icon {
					svg {
						height: 13px !important;
						width: 13px !important;
					}
				}
			}

			.alert-content {
				.close-icon {
					cursor: pointer;
					fill: $color-action-primary-hover;
				}
			}

			.label-inverse-danger {
				.badge {
					svg {
						height: 20px !important;
						width: 20px !important;
					}
				}
			}
		}
	}
}
