.lfr-asset-category-container {
	.no-matches {
		color: #999;
	}
}

.lfr-asset-category-search-container {
	background-color: #d3dadd;
	border-bottom-color: #aeb8bc;
}

.lfr-categories-selector-category-name {
	float: left;
	width: 50%;
}

.lfr-categories-selector-search-results-path {
	color: #575757;
	float: right;
	font-size: 0.9em;
	text-align: right;
	width: 49%;
}
