html#{$cadmin-selector} {
	.overlay-content .open > .cadmin.dropdown-menu {
		display: block;
		position: static;
	}
}

.dropdown.open > .dropdown-menu,
.overlay-content .open > .dropdown-menu {
	display: block;
}

.dropdown-menu .dropdown-item.active {
	pointer-events: initial;
}
