.lfr-table {
	border-collapse: collapse;
	clear: both;

	> tbody,
	> thead,
	> tfoot {
		> tr {
			> td,
			> th {
				padding: 0 5px;

				@include overflow-wrap(break-all);

				&:first-child,
				&.first-child {
					padding-left: 0;
				}

				&:last-child,
				&.last-child {
					padding-right: 0;
				}
			}
		}

		> tr > th {
			font-weight: bold;
		}
	}
}

.controls-hidden {
	.lfr-configurator-visibility {
		display: none;
	}

	.portlet-topper-toolbar {
		display: none !important;
	}
}

.js {
	.controls-hidden {
		.lfr-meta-actions,
		.lfr-configurator-visibility {
			display: none;
		}
	}

	.page-maximized .portlet-topper-toolbar {
		display: block;
	}
}
