.lfr-preview-file-content {
	border-bottom-color: #6d6d6e;
}

.lfr-preview-file-image-current {
	background: url(../images/aui/loading_indicator.gif) no-repeat 50% 50%;
}

.lfr-preview-file-image img {
	background: url(../images/aui/loading_indicator.gif) no-repeat 50% 50%;
	border-color: #aeb8bc;
}

.lfr-preview-file-image-selected img,
.lfr-preview-file-image:hover img {
	border-color: #00a2ea;
}

.lfr-preview-file-loading-indicator {
	background: #333;
	color: #fff;
}
