[#assign clayIconSVG = themeDisplay.getCDNBaseURL() +
"/o/admin-theme/images/clay/icons.svg" /]

<div class="align-items-center customer-portal-select-user d-flex">
	<div class="mr rounded-circle skeleton" id="customer-portal-user-icon-application-wrapper">
		<img class="rounded-circle sticker-lg" id="customer-portal-user-icon-application" />
	</div>

	<div class="font-weight-bold mr rounded-sm skeleton text-neutral-10 text-paragraph text-truncate" id="customer-portal-user-name-application" />

	<svg class="lexicon-icon lexicon-icon-caret-bottom" focusable="false" role="presentation">
		<use xlink:href="${clayIconSVG}#caret-bottom" />
	</svg>
</div>