<div class="projects-menu d-flex align-items-center flex-column">
      <div class="d-flex align-items-center">
        <div data-lfr-editable-id="project-title" data-lfr-editable-type="text" 	class="menu-text">
          Projects
        </div>
        <div
          class="mx-1"
          data-lfr-editable-id="separator"
          data-lfr-editable-type="text"
						class="menu-text"
        >
          /
        </div>
        <div class="d-flex align-items-center dropdown-btn">
          <div
            class="font-weight-bold"
            data-lfr-editable-id="project-name"
            data-lfr-editable-type="text"
          >
            <b> <p id="selectedProject" 	class="menu-text me-2"></p></b>
          </div>
          <div class=" down arrow-icon">
            <img
              alt=""
              width="9.3"
              class="align-items-center"
              data-lfr-editable-id="select-icon"
              data-lfr-editable-type="image"
              src="[resources:down_arrow.svg]"
            />
          </div>
        </div>
      </div>
      <div class="dropDownCard hiden">
        <ul class="" id="lista">
        </ul>
      </div>
    </div>