<div class="bg-brand-primary-lighten-6 d-flex layout-container">
<div class="bg-brand-primary-darken-5 d-flex flex-column justify-content-between sidebar-container sticky-top">
		<div class="d-flex flex-row pt-3 top-bar">
		<img alt="logo" class="logo-icon" src="[resources:raylife_logo_icon.svg]" />

		<img alt="logo name" class="logo-name" src="[resources:raylife_logo_name.svg]" />
		</div>

		<div class="d-flex flex-column middle-bar text-nowrap">
			<div class="align-items-center d-flex dashboard-menu mb-5" id="${configuration.layoutName}">
			<span class="menu-item-name ml-2 text-neutral-5 text-paragraph-sm">
					Dashboard
				</span>
			</div>

			<div class="align-items-center applications-menu d-flex mb-5" id="${configuration.layoutName}">
			<span class="menu-item-name ml-2 text-neutral-5 text-paragraph-sm">
					Applications
				</span>
			</div>

			<div class="align-items-center d-flex mb-5 policies-menu" id="${configuration.layoutName}">
			<span class="menu-item-name ml-2 text-neutral-5 text-paragraph-sm">
					Policies
				</span>
			</div>

			<div class="align-items-center claims-menu d-flex mb-5" id="${configuration.layoutName}">
			<span class="menu-item-name ml-2 text-neutral-5 text-paragraph-sm">Claims</span>
			</div>

			<div class="align-items-center d-flex reports-menu" id="${configuration.layoutName}">
			<span class="menu-item-name ml-2 text-neutral-5 text-paragraph-sm">
					Reports
				</span>
			</div>
		</div>

		<div class="d-flex flex-column footer-bar pb-4 px-2">
			<div class="mb-3 notification-container px-2">
			<img alt="notification" class="notification-icon" src="[resources:notification_icon.svg]" />

			<img alt="indicator" class="indicator-icon position-relative" src="[resources:notification_indicator_icon.svg]" />
			</div>

			<div class="align-items-center avatar-container d-flex flex-row">
			<img alt="avatar" class="avatar-icon" src="[resources:avatar_icon.svg]" />

			<p class="flex-shrink-0 mb-0 ml-2 text-neutral-0 text-paragraph-sm">
					Scott Producer
				</p>
			</div>
		</div>
	</div>

	<div class="d-flex flex-column w-100" id="${configuration.layoutName}">
		<div class="bg-neutral-0 d-flex flex-column page-header-container sticky-top w-100">
			<div class="align-items-center container d-flex header-content justify-content-between px-0 py-3">
				<div class="left-content">
					<lfr-drop-zone></lfr-drop-zone>
				</div>

				<div class="d-flex flex-row right-content">
				<img alt="search" class="search-icon" src="[resources:search_icon.svg]" />

					<div class="h-25">
						<lfr-drop-zone></lfr-drop-zone>
					</div>
				</div>
			</div>
		</div>

		<div class="raylife-agent-portal-content">
			<lfr-drop-zone></lfr-drop-zone>
		</div>
	</div>
</div>