.btn {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	align-items: center;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	display: flex;
	font-size: 1rem;
	font-weight: bold;
	gap: 0.5rem;
	height: 3.5rem;
	justify-content: center;
	outline: none;
	padding-left: 2rem;
	padding-right: 2rem;
	text-transform: uppercase;
	transition: 200ms all ease-out;
	user-select: none;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.btn.btn-primary {
	background: $color-action-primary-hover;
	color: $background;
	fill: $background;

	&:hover {
		background: $color-action-primary-hover;
	}
}

.btn.btn-secondary {
	background: $color-action-secondary-default;
	color: $background;
	fill: $background;

	&:hover {
		background: $color-brand-secondary;
	}
}

.btn.continue {
	padding: 1rem 3rem;
}

.btn.btn-flat {
	background: $background;
	color: $color-action-neutral-default;
	fill: $color-action-neutral-default;
	padding: 0;
}

.btn.btn-outline {
	background: $background;
	border: 1px solid $color-action-neutral-default;
	color: $color-action-neutral-default;
	fill: $color-action-neutral-default;
	padding: 1rem 1.125rem;
}

.btn.badge {
	background: $color-brand-primary-lighten-5;
	color: $color-action-primary-default;
	fill: $color-action-primary-default;
	font-size: 0.813rem;
	gap: 0.5rem;
	height: 1.5rem;
	min-width: 4.4rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-transform: none;

	&:hover {
		opacity: 0.8;
	}
}

.btn.badge.more-info {
	align-self: center;
	font-size: calc(1rem - 5px);
	font-weight: 700;
	gap: calc(1rem - 14px);
	height: calc(1rem + 4px);
	min-width: 4.4rem;
	padding-left: calc(1rem - 12px);
	padding-right: calc(1rem - 13px);
	text-transform: none;

	& > svg {
		height: 10px !important;
		width: 10px !important;
	}
}

.btn.search {
	padding: 1rem 1.125rem;
}

.btn.badge.bottom-list {
	margin-top: -1rem;
	width: fit-content;
}
