.input-area {
	display: flex;
	flex-direction: column;
	position: relative;

	& > label {
		margin-bottom: 0.5rem;

		& > button.btn.badge {
			margin-right: -31px;
		}
	}

	&.invalid {
		input {
			border-color: $color-state-error;
		}
	}
}

label {
	color: $color-neutral-black;
	display: flex;
	font-family: $font-family;
	font-size: 1.125rem;
	font-weight: bold;
	gap: 0.75rem;
	margin-right: -5px;

	& .required::after {
		color: $color-state-error;
		content: '*';
		font-size: 0.813rem;
		position: relative;
		top: -5px;
	}
}

input,
.input {
	background: $background;
	border: 1px solid $color-action-neutral-default;
	border-radius: 0.25rem;
	color: $color-neutral-black;
	display: flex;
	flex: 1;
	font-family: $font-family;
	font-size: 1rem;
	font-weight: 500;
	min-height: 3rem;
	padding: $spacer-0 $spacer-3;
	transition: all ease-out 200ms;
	width: auto;

	&:focus,
	&:hover {
		border-color: $color-action-primary-hover;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

input.form-control {
	&::placeholder {
		color: $color-neutral-black;
		font-weight: 500;
		opacity: 0.4;
	}
}

input.form-control.search {
	min-height: 3.5rem;

	&::placeholder {
		color: var(--text-neutral-7);
		font-size: 1.313rem;
		font-weight: 700;
	}
}

.input-area.zip,
.input-area.zip > input,
.input-area.apt > input {
	width: 176px;
}

input.hidden {
	display: none;
}

.bussiness-type-search-icon {
	height: 22px !important;
	right: 24px;
	top: 20px;
	width: 22px !important;
}
