.radio-card {
	border: 1px solid rgba($color: #000, $alpha: 0.1);
	cursor: pointer !important;
	gap: 0.75rem;

	& > div {
		> div {
			label {
				cursor: pointer;
			}
		}
	}
	.radio-card-label {
		gap: 0 !important;
	}
	.custom-control-label {
		&::before {
			top: 0.3rem;
		}
		&::after {
			top: 0.3rem;
		}
	}
}
