.title {
	color: $color-neutral-1;
	font-family: $font-family;
	font-size: 2.313rem;
	font-weight: 800;

	& > .primary {
		color: $color-action-primary-default;
		padding-left: $spacer-2;
	}
}

.paragraph {
	color: $color-neutral-0;
	font-size: 0.7rem;
	font-weight: 500;
	margin-left: $spacer-3 !important;
	opacity: 0.6;
}
