.quote-comparison {
	font-family: $font-family !important;

	#quote-comparison-item {
		.quote-content {
			height: 547px;
		}
	}
}

@media screen and (max-width: 992px) {
	.quote-comparison {
		-ms-overflow-style: none;
		overflow-x: scroll;
		scroll-behavior: smooth;
		scrollbar-width: none;
	}

	.quote-comparison::-webkit-scrollbar {
		display: none;
	}
}

.quote-comparison-mobile .nav-button {
	height: 8px;
	width: 24px;

	&:not(:last-child) {
		margin-right: 24px;
	}
}
