.panel-container {
	border-bottom: 1px solid $color-neutral-3;
	padding: 34px 48px;
	width: 100%;

	.panel-header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		.panel-left {
			color: $color-neutral-9;
			font-size: 24px;
			font-weight: 700;
		}

		.panel-middle {
			margin-top: 10px;

			.view-section {
				margin-bottom: 24px;

				h3 {
					color: $color-neutral-8;
					font-size: 14px;
					font-weight: 700;
					margin-bottom: 8px;
				}

				.content {
					display: flex;
					flex-direction: row;

					.image {
						border: 1px solid $color-neutral-3;
						border-radius: 4px;
						height: 48px;
						margin-right: 8px;
						width: 48px;

						img {
							border-radius: 4px;
							height: 48px;
							object-fit: cover;
							width: 48px;
						}
					}

					.documents {
						align-items: center;
						background-color: $color-neutral-white;
						border: 1px solid #d2d2d3;
						border-radius: 4px;
						box-sizing: border-box;
						display: flex;
						height: 48px;
						justify-content: center;
						margin-right: 8px;
						width: 48px;

						svg {
							height: 24px !important;
							width: 24px !important;
						}

						.lexicon-icon-document-pdf {
							fill: #af78ff;
						}

						.lexicon-icon-document-text {
							fill: $color-brand-primary;
						}

						.lexicon-icon-document-table {
							fill: #50d2a0;
						}

						.lexicon-icon-document-presentation {
							fill: #ffb46e;
						}

						.lexicon-icon-document-unknown {
							fill: $color-action-neutral-default;
						}
					}
				}
			}
		}

		.panel-right {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			.change-link {
				span {
					color: $color-action-neutral-default;
					cursor: pointer;
					margin-right: 24px;
					text-decoration: underline;
				}
			}

			.icon {
				height: 32px;
				width: 32px;

				svg {
					height: 23px !important;
					width: 23px !important;
				}
			}
		}
	}

	.panel-content {
		display: none;

		&.show {
			display: block;
		}
	}
}
