.quote-info {
	#quote-comparison {
		height: 504px;
		margin-left: 0;
		margin-top: 24px;

		button {
			margin-bottom: 18px;
			padding-top: 0 !important;
		}
	}

	@media screen and (max-width: 991px) {
		display: none;
	}
}
