.quote-info {
	#quote-comparison-item {
		height: 504px;
		margin-left: 0;
		margin-top: 24px;

		button {
			margin-bottom: 18px;
			padding-top: 0 !important;
		}

		@media screen and (max-width: 991px) {
			height: 188px;
		}

		@media screen and (min-width: $breakpoint-phone) and (max-width: 991px) {
			width: 480px;
		}

		@media screen and (max-width: 767px) {
			width: 366px;
		}
	}

	@media screen and (max-width: 991px) {
		.select-quote-mobile {
			display: none;
		}
	}
}
