@import 'atlas-variables';

.portlet-navigation {
	.nav-link .layout-logo {
		max-height: 1rem;
		max-width: 2rem;
	}

	.navigation-menu__submenu {
		cursor: default;

		&.dropdown-item:hover {
			background-color: transparent;
			color: $gray-600;
		}
	}

	.nav-pills > li {
		> a {
			margin-bottom: 2px;
		}

		> .dropdown-menu {
			margin-top: 0;
		}
	}
}

.split-button-dropdowns {
	list-style: none;
	margin: 0;
	padding: 0;

	> li {
		display: inline-block;
		padding-left: 2px;
		padding-right: 2px;
	}
}
