.modal-content-body.modal-small-mobile {
	background-color: $color-brand-primary-darken-4 !important;
	height: fit-content !important;

	.tip-container-modal {
		#tip {
			background-color: transparent !important;
			height: auto !important;
			padding: $spacer-2 !important;
			width: auto !important;

			a,
			p,
			li {
				color: $color-neutral-white !important;
			}

			li {
				margin-bottom: 8px;
			}

			li::before {
				background-color: $color-neutral-white !important;
			}

			p {
				margin: 5px 0 !important;
			}

			.external_link a {
				font-weight: 600;
				margin-top: 10px;
			}

			.external_link a::after {
				background-color: $color-neutral-white !important;
			}

			.title {
				align-items: center;
				color: $color-neutral-white;
				display: flex;
				font-size: 23px;
				margin-bottom: 10px;
			}

			.title::before {
				background-color: $color-neutral-white !important;
			}
		}
	}
}
