.a11y-panel__sidebar {
	&--occurrence-description-wrapper {
		padding: 0.1875rem 1rem;
	}

	&--occurrence-panel-code-block {
		background: #393a4a;
		border-radius: 4px;
	}

	&--occurrence-panel-code-text {
		color: white;
		word-wrap: break-word;
	}
}
