<div class="position-card">
	<a class="card-content">
		<div class="card-content-body">
			<p class="position-card-date" data-lfr-editable-id="date" data-lfr-editable-type="text">
				Date
			</p>

			<h3 class="position-card-title" data-lfr-editable-id="title" data-lfr-editable-type="text">
				Job Position Title
			</h3>

			<h3 class="position-card-region" data-lfr-editable-id="region" data-lfr-editable-type="text">
				Region
		  	</h3>
		</div>
	</a>

	<div class="position-social">
		<a class="social-link" data-lfr-editable-id="socialFacebookLink" data-lfr-editable-type="link" href="#">
			<img alt="Facebook link" data-lfr-editable-id="socialFacebook" data-lfr-editable-type="image" src="[resources:social_icon_facebook.svg]" />
		</a>

		<a class="social-link" data-lfr-editable-id="socialLinkinLink" data-lfr-editable-type="link" href="#">
			<img alt="Linkin link" data-lfr-editable-id="socialLinkin" data-lfr-editable-type="image" src="[resources:social_icon_linkin.svg]" />
		</a>

		<a class="social-link" data-lfr-editable-id="socialInstagramLink" data-lfr-editable-type="link" href="#">
			<img alt="Instagram link" data-lfr-editable-id="socialInstagram" data-lfr-editable-type="image" src="[resources:social_icon_instagram.svg]" />
		</a>
	</div>
</div>