.raylife-sign-in {
	background-color: var(--color-brand-primary-darken-5);
	height: 100vh;
}

.raylife-sign-in .form-column {
	color: var(--white);
	display: flex;
	padding-bottom: var(--spacer-2);
	padding-left: var(--spacer-6);
	padding-right: var(--spacer-8);
	padding-top: var(--spacer-6);
}

.raylife-sign-in .login-title {
	font-weight: 900;
	margin-bottom: var(--spacer-4);
}

.raylife-sign-in .sign-in-image {
	background-image: url([resources:login_portlet_splash.jpg]);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.raylife-sign-in .sign-in-logo {
	height: 40px;
	margin-top: 3rem;
	position: absolute;
	top: 0;
}

.raylife-login-form {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 370px !important;
	min-width: 200px !important;
	width: 370px !important;
}

.raylife-login-form .form-group > label:not(.toggle-switch),
.lfr-ddm-legend:not(.toggle-switch) .sign-in-form .sign-in-logo {
	color: var(--color-neutral-0);
	margin: 0;
}

.raylife-login-form li:nth-child(1) {
	display: none;
}

.raylife-login-form li:nth-child(2) {
	position: absolute;
}

.raylife-login-form li:nth-child(2) a {
	color: var(--white);
	font-weight: bold;
	text-decoration: underline;
}

.raylife-login-form .sign-in-form .button-holder button {
	text-transform: uppercase;
	width: 200px;
}

.raylife-login-form .sign-in-form .form-check {
	margin-bottom: var(--spacer-4);
}

.raylife-login-form .sign-in-form .form-check label {
	color: var(--gray-500);
	transform: translateY(-2px);
}

.raylife-login-form .sign-in-form .form-control::placeholder {
	color: var(--bg-neutral-10);
	font-weight: 700 !important;
}

.raylife-login-form .sign-in-form .form-group {
	margin-bottom: 1rem !important;
}

.raylife-login-form .sign-in-form .form-group input {
	background: #f0f5ff;
	border-color: #f0f5ff;
	border-radius: 4px !important;
	height: 48px !important;
}

.raylife-login-form .sign-in-form .form-group label {
	display: none;
}

.raylife-login-form .sign-in-form .input-checkbox-wrapper input {
	margin-right: 5px;
}

.raylife-login-form .sign-in-form .input-checkbox-wrapper label {
	align-items: center;
	color: var(--white);
	display: flex;
	justify-content: center;
}
