<div class="raylife-sign-in vh-100">
	<div class="h-100 no-gutters row">
		<div class="col-5 col-lg-4 form-column">
			<div class="mr-6 raylife-login-form">
				<a data-lfr-editable-id="home" data-lfr-editable-type="link" href="#">
					<img class="sign-in-logo" data-lfr-editable-id="raylife-logo" data-lfr-editable-type="image" src="[resources:logo_inv.svg]" />
				</a>

				<div class="ml-lg-6 ml-md-0 ml-sm-0 w-100">
					<h2 class="login-title"> Sign in </h2>
					[@liferay_portlet.runtime
						portletName="com_liferay_login_web_portlet_LoginPortlet"
					/]
				</div>
			</div>
		</div>

		<div class="col-7 col-lg-8 sign-in-image"></div>
	</div>
</div>