@import 'atlas-variables';

.lfr-objects__card {
	background-color: $white;
	border: 1px solid $gray-300;
	border-radius: 4px;
	margin: 1.5rem 1.5rem 0;

	&-body {
		padding: 1.5rem;
	}

	&-header {
		align-items: baseline;
		border-bottom: 1px solid $gray-300;
		display: flex;
		padding: 1.5rem;

		&-tooltip-icon {
			color: $secondary-l1;
		}

		&-tooltip-icon:hover {
			color: $secondary-d1;
		}
	}

	&-title {
		margin: 0;
	}
}

.lfr-objects__no-padding-card {
	.lfr-objects__card-body {
		padding: 0 !important;
	}
}
