@import 'atlas-variables';

.lfr-objects__card {
	background-color: $white;
	border: 1px solid $gray-300;
	border-radius: 4px;
	margin: 1.5rem 1.5rem 0;

	&-body {
		padding: 1.5rem;
	}

	&-header {
		border-bottom: 1px solid $gray-300;
		padding: 1.5rem;
	}

	&-title {
		margin: 0;
	}
}
