@import 'cadmin-variables';

body.page-maximized {
	background-color: var(--body-bg);
}

.cadmin.control-menu-container {
	display: none !important;
}

.fragment-preview {
	+ & {
		border-top: solid 2px #dadee3;
	}

	&__list {
		display: grid;
		gap: 24px;
		grid-auto-rows: 1fr;
		grid-template-columns: repeat(auto-fill, minmax(40ch, 1fr));
		justify-content: center;
	}
}

html#{$cadmin-selector} {
	.cadmin h4 {
		font-size: 0.875rem;
		font-weight: 600;
	}
}

.variation-preview__content {
	background-color: #f7f8f9;

	> * {
		flex-grow: 1;
	}
}
