@import 'cadmin-variables';

$controlMenuDesktopHeight: 56px;
$toolbarDesktopHeight: 56px;
$previewSelectorWidth: 168px;

html#{$cadmin-selector} {
	.cadmin {
		&.style-book-editor {
			--style-book-color-picker-color: none;

			height: calc(100vh - #{$controlMenuDesktopHeight});
			left: 0;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.style-book-editor {
			&__color-frontend-token {
				.clay-color-picker
					.clay-color
					.input-group-item
					.input-group-text {
					border-radius: 4px 0 0 4px;
				}

				.clay-color-btn {
					background-color: var(
						--style-book-color-picker-color
					) !important;
				}
			}

			&__page-preview {
				flex-grow: 1;
				position: relative;

				&-empty-site-message {
					.c-empty-state-title {
						display: none;
					}

					.c-empty-state-text {
						margin-top: 32px;
					}
				}

				&-frame {
					border: none;
					height: 100%;
					width: 100%;
				}

				&-text {
					font-weight: 700;
				}
			}

			&__page-type-selector {
				border-bottom: 1px solid $cadmin-gray-300;
				padding: 16px;
			}

			&__page-selector {
				min-width: 320px;
				padding: 0;

				.dropdown-item:hover {
					background-color: $cadmin-white;
				}
			}

			&__preview-selector {
				overflow: hidden;
				text-overflow: ellipsis;
				width: $previewSelectorWidth;
			}

			&__sidebar {
				background-color: $cadmin-white;
				border-left: 1px solid $cadmin-gray-300;
				width: 320px;
			}

			&__sidebar-content {
				height: calc(
					100vh - #{$controlMenuDesktopHeight + $toolbarDesktopHeight}
				);
				overflow-y: auto;
				padding: 16px;

				.form-group-sm label {
					font-size: 12px;
				}
			}

			&__status-text {
				font-size: 0.875rem;
				font-weight: 600;
			}

			&__status-icon {
				color: $cadmin-success;
				font-size: 0.875rem;
			}

			&__toolbar {
				background-color: $cadmin-white;
				border-bottom: 1px solid fade_out($cadmin-secondary-l2, 0.5);
			}
		}
	}

	&.rtl {
		.cadmin {
			.style-book-editor__sidebar-collapse {
				.collapse-icon-closed {
					transform: rotate(-180deg);
				}
			}
		}
	}
}
