// Theme colors

$custom-properties-theme-colors: ();
$custom-properties-theme-colors: map-merge(
	(
		danger: var(--danger),
		dark: var(--dark),
		gray-dark: var(--gray-800),
		info: var(--info),
		light: var(--light),
		lighter: var(--gray-100),
		primary: var(--primary),
		secondary: var(--secondary),
		success: var(--success),
		warning: var(--warning),
	),
	$custom-properties-theme-colors
);

:root {
	// Colors

	--transparent: transparent;

	// Fonts

	--line-height-base: #{getdefault($line-height-base)};
	--line-height-sm: 1.15;

	// Portlet

	--portlet-bg: transparent;
	--portlet-content-border-radius: 0;
	--portlet-header-margin-bottom: calc(
		var(--spacer) * #{$portlet-header-margin-bottom}
	);

	--portlet-topper-bg: var(--primary);
	--portlet-topper-border: var(--portlet-topper-bg);
	--portlet-topper-border-radius: var(--border-radius-sm)
		var(--border-radius-sm) 0 0;
	--portlet-topper-color: var(--white);
	--portlet-topper-link-color: var(--portlet-topper-color);
	--portlet-topper-link-hover-color: var(--portlet-topper-link-color);
}
