// Theme colors

$custom-properties-theme-colors: ();
$custom-properties-theme-colors: map-merge(
	(
		danger: var(--danger),
		dark: var(--dark),
		gray-dark: var(--gray-800),
		info: var(--info),
		light: var(--light),
		lighter: var(--gray-100),
		primary: var(--primary),
		secondary: var(--secondary),
		success: var(--success),
		warning: var(--warning),
	),
	$custom-properties-theme-colors
);

#wrapper {
	--portlet-topper-bg: var(--primary);
	--portlet-topper-color: var(--white);
	--portlet-topper-link-color: var(--portlet-topper-color);
}
