@import 'atlas-variables';

.shop-by-diagram {
	svg .pin {
		cursor: pointer;
		fill: $gray-600;

		&.mapped {
			fill: $primary;
		}
	}

	.view-wrapper {
		position: relative;
		z-index: 1;
	}

	.svg-loader {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}

	.svg-wrapper {
		background-color: $white;
		height: 600px;
		opacity: 0;
		transition: opacity 0.1s ease;
		width: 100%;

		&.rendered {
			opacity: 1;
		}
	}

	&.expanded {
		bottom: 0;
		display: flex;
		flex-direction: column;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 99999;

		.view-wrapper {
			flex-grow: 1;
			height: auto;
		}
	}

	.pin-radius-handler {
		transition: transform 0.1s linear;
	}
}

.diagram-tooltip {
	background: $white;
	border-radius: 3px;
	box-shadow: 1px 6px 11px rgba(0, 0, 0, 0.1);
	padding: $spacer;
	position: absolute;
	width: 400px;
}

.pin-foreground {
	align-items: center;
	color: $gray-600;
	display: flex;
	font-weight: 600;
	justify-content: center;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	z-index: 2;

	&.highlighted {
		z-index: 3;
	}

	&::before {
		animation: 0.1s ease-out 0s 1 zoomIn forwards;
		background-color: $white;
		border-color: $warning;
		border-radius: 50%;
		border-style: solid;
		border-width: var(--border-width);
		bottom: -15%;
		content: '';
		left: -15%;
		position: absolute;
		right: -15%;
		top: -15%;
		z-index: -1;
	}

	&.mapped {
		color: $primary;

		&::before {
			border-color: $primary;
		}
	}

	&.hide::before {
		animation: 0.1s ease-in 0s 1 zoomOut forwards;
	}
}

.slider-wrapper.disabled {
	opacity: 0.5;
}

@keyframes zoomIn {
	from {
		opacity: 0.4;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes zoomOut {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.pin-node {
	cursor: pointer;

	&.active {
		.pin-node-text {
			fill: $warning;
		}

		.pin-node-background {
			stroke: $warning;
		}
	}

	&.drag-started {
		cursor: grabbing;
	}

	&.dragging {
		.pin-node-background {
			transform: scale(1.3);
		}
	}

	.pin-node-text {
		fill: $primary;
		stroke: $white;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 1.5;
		paint-order: stroke;
	}

	.pin-node-background {
		fill: $white;
		stroke: $primary;
		stroke-width: 1;
		transition: transform 0.1s ease, fill 0.1s ease;
	}
}

.empty-pin-node {
	.pin-node-background {
		fill: $primary;
		stroke-width: 1;
		stroke: $primary;
		transition: transform 0.1s ease, fill 0.1s ease;
	}
}
