@import 'atlas-variables';

.dropzone {
	align-items: center;
	background-color: $light;
	border-radius: 0.5rem;
	cursor: pointer;
	display: flex;
	font-size: 0.875rem;
	font-weight: $font-weight-semi-bold;
	justify-content: center;
	margin-top: 1rem;
	min-height: 6rem;
	outline: 2px dashed $secondary-l2;
	transition-duration: 0.2s;
	transition-property: bakground-color, outline;
	transition-timing-function: ease-in-out;

	@include media-breakpoint-up(md) {
		padding: 0 25%;
	}

	&:focus,
	&-drag-active {
		background-color: $primary-l3;
		outline-color: $primary;
	}

	&-disabled {
		cursor: not-allowed;
		opacity: 0.6;
	}

	&-uploading {
		background-color: $primary-l3;
		outline: 1px solid $primary;
	}

	&-error {
		animation: dropzone-error-in-out 1s;
	}

	@keyframes dropzone-error-in-out {
		5%,
		80% {
			background: $danger-l2;
			outline-color: $danger-l1;
		}
	}
}
