<div class="sign-in vh-100">
	<div class="form-box">
		<a href="${themeDisplay.getPathFriendlyURLPrivateGroup() + themeDisplay.getScopeGroup().getFriendlyURL()}">
			<img alt="" class="sign-in-logo" src="[resources:masterclass_logo.svg]" />
		</a>

		<div class="sign-in-form">
			<h1 class="font-weight-normal sign-in-text">
				Take charge of your future with Masterclass online.
			</h1>

			[@liferay_portlet.runtime
				portletName="com_liferay_login_web_portlet_LoginPortlet"
			/]

		</div>
	</div>
</div>