[#assign
	navUserClass = ""
	privateUserFriendlyURL = themeDisplay.getPathFriendlyURLPrivateUser() + "/" + themeDisplay.getUser().getFirstName()
	publicFriendlyURL = themeDisplay.getPathFriendlyURLPublic() + themeDisplay.getSiteGroup().getFriendlyURL()
	publicSiteNavbarClass =""
	userName = themeDisplay.getUser().getFirstName()
/]

[#if !themeDisplay.isSignedIn()]
	[#assign publicSiteNavbarClass = "logged-in" /]
[/#if]

<div class="sign-in vh-100">
	<div class="form-box">
		<a href="${publicFriendlyURL}">
			<img alt="" class="sign-in-logo" src="[resources:masterclass_logo.svg]" />
		</a>

		<form class="sign-in-form">
			<h1 class="font-weight-normal sign-in-text">
				Take charge of your future with Masterclass online.
			</h1>

			<div class="form-group mb-2">
				<label class="form-label" for="exampleInputEmail1">
					Email address
				</label>

				<input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" type="email" />
			</div>

			<div class="form-group mb-3">
				<label for="exampleInputPassword1" class="form-label">Password</label>

				<input class="form-control" id="exampleInputPassword1" type="password" />
			</div>

			<div class="form-check">
				<input class="form-check-input" id="exampleCheck1" type="checkbox" />

				<label class="form-check-label" for="exampleCheck1">
					Keep me logged in
				</label>
			</div>

			<button class="btn btn-lg btn-primary masterclass-btn" type="submit">
				Sign In<svg class="link-arrow" width="37" height="9" viewBox="0 0 37 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M32.5607 0.146447L36.3536 3.93932C36.5488 4.13458 36.5488 4.45117 36.3536 4.64643L32.3536 8.64636C32.1583 8.84162 31.8417 8.84162 31.6465 8.64636C31.4512 8.4511 31.4512 8.13452 31.6465 7.93926L34.7929 4.79288H0.5V3.79288H34.7929L31.8536 0.853553C31.6583 0.658291 31.6583 0.341709 31.8536 0.146447C32.0488 -0.0488155 32.3654 -0.0488155 32.5607 0.146447Z" fill="var(--white)" fill-rule="evenodd" />
</svg>
			</button>

			<p class="mb-0 membership small">
				Not a member yet?
				<a class="create-account font-weight-bold ml-2" href="">
					Create an Account
				</a>
			</p>
		</form>
	</div>
</div>