html#{$cadmin-selector} {
	.lfr-simulation-device {
		background-color: rgba(255, 255, 255, 0.95);

		.lfr-device-size-status-content {
			border-radius: 3px;
			box-shadow: 0 0 1px #fff;
			opacity: 0.9;
		}

		.lfr-device {
			opacity: 1;
			pointer-events: all;
			visibility: visible;

			&.lfr-device--is-navigating {
				opacity: 0;
				pointer-events: none;
				visibility: hidden;
			}

			&:after,
			&:before {
				box-shadow: #111 0 1px 0;
			}

			&:after {
				border-radius: 15px;
			}

			&.rotated {
				&:after,
				&:before {
					box-shadow: #111 -1px 1px 0;
				}
			}

			&.smartphone,
			&.tablet {
				border-radius: 25px;
			}

			&.tablet {
				&:before {
					border-radius: 5px;
				}
			}
		}

		.loading-animation-simulation-device {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.modal-dialog {
			max-width: none;

			.modal-content {
				border-radius: 0;
			}
		}
	}

	.lfr-device {
		.lfr-device-size-status {
			.lfr-device-size-status-content {
				background-color: #000;
				color: #fff;
			}
		}

		&:after,
		&:before {
			background: #666;
		}

		&.smartphone,
		&.tablet {
			background: #333;
		}
	}
}
