<section class="osb-commerce-checkout">
	<div class="container container-fluid-max-xl">
		<div class="row">
			<div class="col-md-8">
				[#if liferay_portlet??]
					[@liferay_portlet.runtime
						defaultPreferences=portlet_preferences
						instanceId="osb_commerce_checkout_checkout"
						portletName="com_liferay_commerce_checkout_web_internal_portlet_CommerceCheckoutPortlet"
					/]
				[/#if]
			</div>

			<div class="col-md-4">
				[#if liferay_portlet??]
					[@liferay_commerce_ui["mini-cart"]
						cartViewRendererURL="osb-commerce-provisioning-theme-impl@1.0.0/js/components/cart_summary/CartSummary"
						spritemap="${themeDisplay.getPathThemeImages()}/lexicon/icons.svg"
						toggleable=false
					/]
				[/#if]
			</div>
		</div>
	</div>
</section>