<div class="container-fluid subscribe-section">
	<div class="container-fluid container-fluid-max-xl">
		<div class="row">
			<div class="col-lg-7 col-md-12">
				<div class="form-box h-100">
					<h1 class="subscribe-call">
						Sign up for our
						<span class="text-highlight">newsletter</span>!
					</h1>

					<form class="newsletter-form">
					<input class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" type="email" />

					<button class="btn btn-lg btn-secondary department-btn" type="submit">
							Subscribe
						</button>
					</form>

					<p class="small">
						Do you have a hunger to use the knowledge learned in
						school to work on real world problems do you have a
						hunger to use the knowledge you've learned in school?
					</p>
				</div>
			</div>

			<div class="col-lg-5 col-md-12 image-col">
				<div class="image-group position-relative">
				<p class="img-author" data-lfr-editable-id="photo-author" data-lfr-editable-type="text">
						Photo by: Aragonés
					</p>

					<div class="image-overlay"></div>

				<img alt="" class="subscribe-image w-100" src="[resources:home_header.jpg]" />
				</div>
			</div>
		</div>
	</div>
</div>