@import './Header/dxp-activation-keys-table-header';

.cp-dxp-activation-key-container {
	max-width: 1271px;
}

.cp-dxp-activation-key-table {
	max-width: 85vw;

	.cursor-pointer {
		cursor: pointer;
	}

	tbody {
		tr:first-child {
			td {
				border-top: 1px solid #e1e1e4 !important;
			}
		}

		tr:last-child {
			td {
				border-bottom: 1px solid #e1e1e4 !important;
			}
		}
	}
}

.cp-dxp-activation-key-cell-small {
	max-width: 20%;
}
