<div class="bg-brand-primary-lighten-6 d-flex layout-container">
	<div class="bg-brand-primary-darken-5 d-flex flex-column justify-content-between sidebar-container sticky-top">
		<div class="d-flex flex-row mb-10 pt-3 px-2 top-bar">
			<img alt="logo" class="logo-icon" src="[resources:raylife_logo_icon.svg]" />

			<img alt="logo name" class="logo-name" src="[resources:raylife_logo_name.svg]" />
		</div>

		<div class="flex-fill middle-bar px-3">
			<ul class="p-0 text-neutral-0">
				<li class="align-items-center d-flex dashboard-menu flex-row pb-5">
					<span class="menu-item-name ml-2 text-neutral-5">
						Dashboard
					</span>
				</li>
				<li class="align-items-center applications-menu d-flex flex-row pb-5">
					<span class="menu-item-name ml-2 text-neutral-5">
						Applications
					</span>
				</li>
				<li class="align-items-center d-flex flex-row pb-5 policies-menu">
					<span class="menu-item-name ml-2 text-neutral-5">
						Policies
					</span>
				</li>
				<li class="align-items-center claims-menu d-flex flex-row pb-5">
					<span class="menu-item-name ml-2 text-neutral-5">
						Claims
					</span>
				</li>
				<li class="align-items-center d-flex flex-row reports-menu">
					<span class="menu-item-name ml-2 text-neutral-5">
						Reports
					</span>
				</li>
			</ul>
		</div>

		<div class="d-flex flex-column footer-bar pb-4 px-2">
			<div class="mb-3 notification-container px-2">
				<img alt="notification" class="notification-icon" src="[resources:notification_icon.svg]" />

				<img alt="indicator" class="indicator-icon position-relative" src="[resources:notification_indicator_icon.svg]" />
			</div>

			<div class="align-items-center avatar-container d-flex flex-row">
				<img alt="avatar" class="avatar-icon" src="[resources:avatar_icon.svg]" />

				<p class="flex-shrink-0 mb-0 ml-2 text-neutral-0">
					Scott Producer
				</p>
			</div>
		</div>
	</div>

	<div class="d-flex flex-column w-100">
		<div class="bg-neutral-0 d-flex flex-column sticky-top w-100">
			<div class="align-items-center d-flex justify-content-between page-header-container px-4 py-3">
				<p class="font-weight-light h3 m-0 text-neutral-10" data-lfr-editable-id="header-title" data-lfr-editable-type="text" />

				<img alt="search" class="search-icon" src="[resources:search_icon.svg]" />
			</div>
		</div>

		<div class="raylife-agent-portal-content">
			<lfr-drop-zone></lfr-drop-zone>
		</div>
	</div>
</div>