.all-projects {
	background: none;
	background-size: cover;
	border-top: 1px solid rgba(220, 217, 226, 1);
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
}

.all-projects:hover,
.selected-item:hover,
.unselect-item:hover {
	background: var(--color-action-primary-hover-lighten) !important;
	color: var(--color-action-primary-hover) !important;
}

.all-projects a > p,
.unselect-item {
	background: none !important;
	color: var(--color-neutral-10) !important;
}

.all-projects a {
	cursor: pointer;
	display: inline-block;
	text-decoration: none !important;
	transition: all 0.3s;
}

.all-projects:hover a > p {
	color: var(--color-action-primary-active) !important;
}

.selected-project-title {
	max-width: 50vw;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.show-arrow a {
	transform: translateX(3px);
}
.arrow-down-item {
	color: var(--color-action-primary-default);
}

.custom-projects-dropdown .dropdown-section {
	padding: 0 !important;
}

.custom-projects-dropdown .input-group-item {
	padding: 10px 16px 0 16px;
}

.custom-projects-dropdown .dropdown-menu {
	border: 1px solid #c3c5c9;
	box-shadow: none;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
}

.custom-projects-dropdown .dropdown-menu .input-group-inset {
	background-color: #f7f8f9;
	border-radius: 8px;
	padding: 0 10px;
}

.custom-projects-dropdown .list-unstyled {
	margin: 0;
}

.custom-projects-dropdown .dropdown-item-indicator-end {
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.custom-projects-dropdown .dropdown-item {
	font-size: 13px !important;
	font-weight: 700 !important;
}

.customer-portal-select-project {
	height: 24px;
	width: 180px;

	background: #f7f8f9;
	background-image: linear-gradient(
		to right,
		#f8f8f8 0%,
		rgba(206, 206, 206, 0.1) 20%,
		#f8f8f8 40%,
		#f8f8f8 100%
	);
	animation: shimmer-customer-portal-select-project 1s linear infinite;
	background-repeat: no-repeat;
	background-size: 450px 400px;
}

@keyframes shimmer-customer-portal-select-project {
	0% {
		background-position: -450px 0;
	}
	100% {
		background-position: 450px 0;
	}
}

.inline-scroller {
	max-height: 403px !important;
}

.hide-scroll {
	max-width: 400px !important;
	overflow: none !important;
}

.show-scroll {
	max-width: 400px !important;
}

.selected-item {
	background: var(--color-action-primary-hover-lighten) !important;
	color: var(--color-action-primary-active) !important;
}
