section.masthead {
	background-position: center center;
	padding-bottom: calc(10rem - 56px);
	padding-top: 10rem;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
section.masthead hr {
	margin-bottom: 30px;
	margin-top: 30px;
}
section.masthead h1 {
	font-size: 2rem;
}
section.masthead p {
	font-weight: 300;
}
@media (min-width: 768px) {
	section.masthead p {
		font-size: 1.15rem;
	}
}
@media (min-width: 992px) {
	section.masthead {
		height: 100vh;
		min-height: 650px;
		padding-bottom: 0;
		padding-top: 0;
	}
	section.masthead h1 {
		font-size: 3rem;
	}
}
@media (min-width: 1200px) {
	section.masthead h1 {
		font-size: 4rem;
	}
}