@import 'cadmin-variables';
@import 'click-goal';

html#{$cadmin-selector} {
	.cadmin {
		&.lfr-segments-experiment-panel {
			&.open-admin-panel.sidenav-menu-slider {
				visibility: visible;
				width: 320px;
			}

			.sidebar {
				border-left: 1px solid $cadmin-gray-300;
			}
		}

		.lfr-has-segments-experiment-panel {
			overflow: auto;

			.lfr-configurator-visibility {
				display: none;
			}
		}

		&.lfr-segments-experiment-panel {
			.btn-secondary {
				svg.lexicon-icon-ellipsis-v {
					fill: #6b6c7e;
				}
			}

			.sidebar .sidebar-header {
				padding-bottom: 12px;
				padding-top: 12px;

				@include media-breakpoint-up(md, $cadmin-grid-breakpoints) {
					padding-bottom: 12px;
					padding-left: 24px;
					padding-top: 12px;
				}
			}
			.sidebar-header {
				height: 64px;
				line-height: 32px;

				.lexicon-icon {
					font-size: 14px;
				}
			}
			.sidebar-body {
				bottom: 0;
				left: 0;
				padding: 0;
				position: absolute;
				right: 0;
				top: 56px;
			}

			dt {
				font-weight: 500;
			}
		}
	}
}
