.create-account {
	&__alert-create {
		background-color: $color-state-error-lighten-1;
	}

	&__form {
		max-width: 28.5rem;

		&__content-input {
			.email {
				border: solid 1px $color-action-neutral-default;

				&::placeholder {
					font-weight: $font-weight-bolder;
				}
			}

			input {
				background-color: $color-brand-primary-lighten-6;
				border: none;
				height: $spacer-5;
			}

			input:valid {
				background-color: $background;
				border: solid 1px $color-neutral-black;
			}

			input:focus {
				background-color: $background;
				border: solid 1px $color-action-primary-default;
			}
		}
	}

	&__rule {
		&.checked {
			color: $color-state-success;

			.create-account__rule__icon {
				background-color: $color-state-success;
				border: $color-state-success;
			}
		}

		&.unchecked {
			color: $color-state-error;

			.create-account__rule__icon {
				background-color: $color-state-error;
				border: $color-state-error;
			}
		}

		&.neutral {
			color: $color-neutral-7;

			.create-account__rule__icon {
				border-color: $color-neutral-7;
				fill: $color-neutral-7;
			}
		}

		&__icon {
			border: solid 1.2px;
			fill: $background;
			padding: 1px;
		}
	}
}
