.upload-container {
	$badge-size: 20px;

	.upload-section {
		.header {
			.upload-title {
				.upload-asterisk {
					width: 7px !important;
				}
			}
		}

		.upload-content {
			.view-file {
				@media screen and (max-width: 565px) {
					:nth-child(even) {
						margin-right: 0 !important;
					}
				}

				.flex-column {
					.card {
						flex-shrink: 0;
						gap: initial;
						height: 176px;
						width: 176px;
					}

					span {
						width: 176px;
					}
				}

				.ellipsis {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.view-file-document {
					margin-bottom: -36px;

					.close-icon {
						cursor: pointer;
						fill: $color-action-neutral-default;
						filter: drop-shadow(
							0 5px 15px rgba(77, 133, 255, 0.12)
						);
						height: 36px;
						left: 137px;
						top: -212px;
						width: 36px;
					}

					.div-document {
						span {
							width: 176px;
						}

						.content {
							border: 1px solid $color-neutral-2;
							height: 176px;
							object-fit: cover;
							width: 176px;

							.image {
								img {
									height: 176px;
									object-fit: cover;
									width: 176px;
								}
							}

							.lexicon-icon-document-pdf {
								fill: #af78ff;
								height: $size-document-preview !important;
								width: $size-document-preview !important;
							}

							.lexicon-icon-document-text {
								fill: $color-brand-primary;
								height: $size-document-preview !important;
								width: $size-document-preview !important;
							}

							.lexicon-icon-document-table {
								fill: #50d2a0;
								height: $size-document-preview !important;
								width: $size-document-preview !important;
							}

							.lexicon-icon-document-presentation {
								fill: #ffb46e;
								height: $size-document-preview !important;
								width: $size-document-preview !important;
							}

							.lexicon-icon-document-unknown {
								fill: $color-action-neutral-default;
								height: $size-document-preview !important;
								width: $size-document-preview !important;
							}
						}
					}
				}

				.drop-area {
					border: 2px dashed $color-brand-primary-lighten-3;
					left: 0;
					top: 64px;

					.upload-button {
						.display-mobile {
							@media screen and (max-width: $breakpoint-phone) {
								display: none;
							}
						}

						.link-button {
							background: none;
							border: 1px solid $color-action-primary-default;
							cursor: pointer;
						}

						svg {
							fill: $color-action-primary-default;
							height: 12px !important;
							width: 12px !important;
						}
					}
				}
			}
		}

		.upload-alert {
			.badge {
				height: fit-content;
				min-height: 56px;

				&.badge-info {
					svg {
						height: $badge-size !important;
						width: $badge-size !important;
					}
				}

				.close-icon {
					svg {
						height: 13px !important;
						width: 13px !important;
					}
				}
			}

			.alert-content {
				.close-icon {
					cursor: pointer;
					fill: $color-action-primary-hover;
				}
			}

			.label-tonal-danger {
				.badge {
					svg {
						height: $badge-size !important;
						width: $badge-size !important;
					}
				}
			}
		}
	}
}
