[#assign clayIconSVG = themeDisplay.getCDNBaseURL() +
"/o/admin-theme/images/clay/icons.svg" /]

<div class="work-section">
	<div class="container position-relative">
	<div class="work-section-subtitle" data-lfr-editable-id="01-text" data-lfr-editable-type="text">
			GET AN ESTIMATE IN 5 SECONDS
		</div>

		<div class="work-section-title" data-lfr-editable-id="02-text" data-lfr-editable-type="text">
			See what other business are buying.
		</div>

		<div class="col-12 work-section-dropdonw">
			<div class="position-relative">
			<svg class="lexicon-icon lexicon-icon-caret-bottom position-absolute work-section-svg" focusable="false" role="presentation">
					<use xlink:href="${clayIconSVG}#caret-bottom" />
				</svg>

			<select class="bg-white px-3 rounded" id="product" name="product">
					<option>What does your business do?</option>
				</select>
			</div>
		</div>
	</div>
</div>