* {
	box-sizing: border-box;
	margin: 0;
	outline: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	p {
		margin: 0 !important;
	}
}

.list-style-none {
	list-style-type: none;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

:root {
	background-color: $background;
	color: $color-action-neutral-default;
	font-family: $font-family;
}

.d-none {
	display: none !important;
}

fieldset {
	border: none;
	outline: none;
}

svg {
	height: 0.8rem !important;
	width: 0.8rem !important;
}
