liferay-remote-app-raylife {
	@import 'variables';

	@import 'global';

	@import 'apps/get-a-quote';
	@import 'apps/quote-comparison';
	@import 'apps/selected-quote';

	@import 'components/fragments/badges';
	@import 'components/fragments/button';
	@import 'components/fragments/card';
	@import 'components/fragments/input';
	@import 'components/fragments/progress-ring';
	@import 'components/fragments/radio';
	@import 'components/fragments/step';
	@import 'components/fragments/switch';
	@import 'components/fragments/typography';
	@import 'components/modal';
	@import 'components/progress-bar';
	@import 'components/quote-comparison';
}

@import 'liferay';
