@media screen and (max-width: 767px) {
	@import 'variables';

	section#content.raylife-mobile {
		background-color: $color-brand-primary-darken-5;
	}

	.get-a-quote-structure {
		color: $color-neutral-white;

		.step-list {
			.step-item {
				font-size: 18px;

				&.completed,
				&.partially,
				&.selected {
					color: $color-neutral-white !important;

					svg {
						fill: $color-neutral-white;
					}

					i {
						circle {
							stroke: $color-neutral-white;
						}
					}

					i::after {
						background-color: $color-neutral-white !important;
					}
				}

				&.completed {
					div {
						background-color: $color-neutral-white !important;
					}
					svg {
						fill: $color-brand-primary-darken-5 !important;
					}
				}
			}
		}
	}
}
