.congrats-information {
	background-color: var(--color-neutral-0);
	border: 1px solid var(--color-brand-primary-lighten-3);
	box-shadow: 0px 10px 30px rgba(77, 133, 255, 0.09);
	height: fit-content;
	padding: 40px 45px;
	width: 749px;
}

.congrats-information h1 {
	color: var(--color-neutral-black);
	font-size: 32px;
	font-weight: var(--font-weight-bold);
	line-height: 40px;
}

.congrats-info-price {
	color: var(--color-neutral-9);
	font-size: 32px;
	font-weight: 300;
	line-height: 40px;
}

.congrats-info-price span {
	color: var(--color-neutral-black);
	font-size: 32px;
	font-weight: var(--font-weight-bold);
	line-height: 40px;
	position: static;
}

.congrats-information h2 {
	color: var(--color-neutral-9);
	font-size: 18px;
	font-weight: var(--font-weight-bold);
	line-height: 20px;
}

.congrats-information h3 {
	color: var(--color-neutral-black);
	font-size: 16px;
	font-weight: 500;
	left: 0;
	line-height: 24px;
	width: 200px;
}

.congrats-information table {
	border-collapse: separate;
	border-spacing: 0 1rem;
	margin-top: -5px;
}

.congrats-information table td {
	color: var(--color-neutral-8);
	font-size: 13px;
	font-weight: 500;
	line-height: 22px;
}

.congrats-information table td:first-child {
	width: 280px;
}

.congrats-information ul {
	list-style: none;
	margin-top: 10px;
}

.congrats-information li {
	color: var(--color-action-neutral-default);
	cursor: pointer;
	display: flex;
	font-size: 18px;
	font-weight: var(--font-weight-bold);
	justify-content: flex-end;
	line-height: 22px;
	margin-bottom: 1rem;
}

.congrats-information li img {
	margin-left: 6px;
}

.congrats-information .right-column {
	gap: 45px;
}

.outter-container {
	display: none;
}

@media (max-width: 767.98px) {
	.congrats-information {
		width: 100%;
	}

	.congrats-information .right-column .download-print-share {
		display: none;
	}

	.congrats-information .right-column .congrats-info-price {
		padding-top: 2rem;
		text-align: left !important;
	}

	.congrats-information .row {
		flex-direction: column;
		flex-wrap: wrap !important;
	}

	.congrats-information .row .left-column {
		flex: 0 0 calc(12 / 12 * 100%);
		max-width: calc(12 / 12 * 100%);
	}

	.congrats-information table td:first-child {
		max-width: 280px;
	}

	.congrats-information .congrats-table-info {
		overflow: hidden;
		width: 100%;
	}

	.congrats-information table tr {
		max-width: 200px;
	}

	.outter-container {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.outter-container ul {
		font-size: 14px;
		list-style: none;
		padding-left: 0 !important;
	}
}
