<div class="hero">
	<div class="row align-items-center">
		<div class="col-6">
			<img
				alt="..."
				class="hero__image img-fluid"
				data-lfr-editable-id="hero-image"
				data-lfr-editable-type="image"
				src="[resources:bootcamp-hero-1.jpg]"
			/>
		</div>

		<div class="col-6">
			<div class="hero__content-box">
				<div class="hero__pre" data-lfr-editable-id="hero-pre" data-lfr-editable-type="text">
					Welcome to Bootcamp
				</div>

				<div class="hero__title" data-lfr-editable-id="hero-title" data-lfr-editable-type="text">
					The new way of learning.
				</div>

				<div class="hero__subtitle" data-lfr-editable-id="hero-subtitle" data-lfr-editable-type="text">
					Organically grow the world of disruptive innovation via workplace diversity.
				</div>

				<a
					class="btn btn-lg btn-primary"
					data-lfr-editable-id="hero-button"
					data-lfr-editable-type="link"
				>
					Read More<span class="link-arrow">&#10230;</span>
				</a>
			</div>
		</div>
	</div>
</div>