.portlet-site-admin {
	.add-group-alert-container {
		.container {
			margin-left: 0;
			max-width: 100%;
			padding-right: 24px;
		}
	}

	.add-group-form .add-group-loading {
		margin-top: 30vh;

		p {
			max-width: 270px;
		}
	}

	.dialog-footer {
		position: fixed;
	}
}
