<div class="container get-in-touch">
	<div class="mb-5">
	<h1 class="mb-3" data-lfr-editable-id="contact-agent-title" data-lfr-editable-type="text">
			Let's get in touch.
		</h1>

	<p class="m-0" data-lfr-editable-id="contact-agent-contextual-message" data-lfr-editable-type="text" id="contact-agent-contextual-message">
			Contextual Message
		</p>

	<p class="m-0" data-lfr-editable-id="contact-agent-subtitle" data-lfr-editable-type="text">
			Based on the information you provided us an Agent can help find the
			perfect policy.
		</p>
	</div>

	<div class="row">
		<div class="col-4">
		<h3 class="contact-agent-title-suport" data-lfr-editable-id="contact-agent-title-call" data-lfr-editable-type="text">
				Call an Agent
			</h3>

		<button class="btn btn-ghost btn-sm btn-variant-primary" id="contact-agent-btn-call">
			<span data-lfr-editable-id="contact-agent-btn-call" data-lfr-editable-type="text" id="value-number-call">
					1 (800) 555-5555
				</span>
			</button>

			<ul>
				<li>
				<small class="content-agent-text-adictional" data-lfr-editable-id="contact-agent-adictional-text-1-call" data-lfr-editable-type="text">
						M-F: 8am-9pm PST
					</small>
				</li>
				<li>
				<small class="content-agent-text-adictional" data-lfr-editable-id="contact-agent-adictional-text-2-call" data-lfr-editable-type="text">
						S-S: 10am-9pm PST
					</small>
				</li>
			</ul>
		</div>

		<div class="col-6">
		<h3 class="contact-agent-title-suport" data-lfr-editable-id="contact-agent-title-chat" data-lfr-editable-type="text">
				Chat with an Agent
			</h3>

		<p class="content-agent-text-chat" data-lfr-editable-id="contact-agent-btn-chat" data-lfr-editable-type="text" disabled="disabled">
				Click the chat button in the bottom<br />right corner to chat
				with an Agent.
			</p>

			<ul>
				<li>
				<small class="content-agent-text-adictional" data-lfr-editable-id="contact-agent-adictional-text-1-chat" data-lfr-editable-type="text">
						6am - 12pm 7 days a week
					</small>
				</li>
				<li>
				<small class="content-agent-text-adictional" data-lfr-editable-id="contact-agent-adictional-text-2-chat" data-lfr-editable-type="text">
						S-S: 10am-9pm PST
					</small>
				</li>
			</ul>
		</div>
	</div>

	<div class="content-agent-margin row">
		<div class="col-12">
		<b class="content-agent-text-your-application" id="content-agent-text-your-application">Your Application #WLM-RNK-ANF</b>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
		<button class="btn btn-ghost btn-variant-neutral" id="contact-agent-btn-back">
				<img alt="back button" src="[resources:icon_left.svg]" />

			<span data-lfr-editable-id="contact-agent-btn-back" data-lfr-editable-type="text">
					BACK TO EDIT INFO
				</span>
			</button>
		</div>
	</div>
</div>