.get-in-touch h1 {
	color: var(--color-neutral-1);
	font-weight: var(--display1-weight);
}

.get-in-touch p {
	color: var(--color-neutral-2);
}

.get-in-touch ul {
	list-style-type: none;
	padding: 0px;
}

.get-in-touch .contact-agent-title-suport {
	color: var(--color-neutral-1);
}

.get-in-touch .content-agent-text-adictional {
	color: var(--color-neutral-2);
	font-size: 13px;
	font-weight: var(--font-weight-bolder);
}

.get-in-touch .content-agent-text-chat {
	color: var(--color-action-primary-default);
	font-size: 13px;
	margin-bottom: 0px;
}

.get-in-touch .content-agent-text-your-application {
	background-color: var(--color-accent-5-lighten);
	border-radius: 4px;
	color: var(--color-accent-5);
	font-size: 24px;
	font-weight: var(--font-weight-bolder);
	padding: 8px;
	text-align: center;
}

.get-in-touch .content-agent-margin {
	margin-bottom: 200px;
	margin-top: 45px;
}
