<div class="container get-in-touch">
	<div class="mb-5">
		<h1 class="display-4 mb-3 text-neutral-9" data-lfr-editable-id="contact-agent-title" data-lfr-editable-type="text">
			Let's get in touch.
		</h1>

		<p class="m-0 text-neutral-8" data-lfr-editable-id="contact-agent-contextual-message" data-lfr-editable-type="text" id="contact-agent-contextual-message">
			Contextual Message
		</p>

		<p class="m-0 text-neutral-8" data-lfr-editable-id="contact-agent-subtitle" data-lfr-editable-type="text">
			Based on the information you provided us an Agent can help find the
			perfect policy.
		</p>
	</div>

	<div class="row">
		<div class="col-4">
			<h3 class="font-weight-bolder mb-3 text-neutral-9" data-lfr-editable-id="contact-agent-title-call" data-lfr-editable-type="text">
				Call an Agent
			</h3>

			<button class="btn btn-ghost btn-sm btn-variant-primary w-100" id="contact-agent-btn-call">
				<span class="font-weight-bolder" data-lfr-editable-id="contact-agent-btn-call" data-lfr-editable-type="text" id="value-number-call">
						1 (800) 555-5555
				</span>
			</button>

			<ul class="list-unstyled">
				<li>
					<small class="font-weight-bolder text-neutral-8 text-paragraph-sm" data-lfr-editable-id="contact-agent-adictional-text-1-call" data-lfr-editable-type="text">
						M-F: 8am-9pm PST
					</small>
				</li>
				<li>
					<small class="font-weight-bolder text-neutral-8 text-paragraph-sm" data-lfr-editable-id="contact-agent-adictional-text-2-call" data-lfr-editable-type="text">
						S-S: 10am-9pm PST
					</small>
				</li>
			</ul>
		</div>

		<div class="col-6">
			<h3 class="font-weight-bolder mb-3 text-neutral-9" data-lfr-editable-id="contact-agent-title-chat" data-lfr-editable-type="text">
				Chat with an Agent
			</h3>

			<p class="mb-0 text-brand-primary text-paragraph-sm" data-lfr-editable-id="contact-agent-btn-chat" data-lfr-editable-type="text" disabled="disabled">
				Click the chat button in the bottom<br />right corner to chat
				with an Agent.
			</p>

			<small class="font-weight-bolder text-neutral-8 text-paragraph-sm" data-lfr-editable-id="contact-agent-adictional-text-1-chat" data-lfr-editable-type="text">
				6am - 12pm 7 days a week
			</small>
		</div>
	</div>

	<div class="d-flex mb-10 mt-5">
			<h4 class="bg-accent-5-lighten font-weight-bolder m-0 p-2 rounded-xs text-accent-5" id="content-agent-text-your-application">
				Your Application #WLM-RNK-ANF
			</h4>
	</div>

	<button class="align-items-center btn btn-ghost btn-variant-neutral d-flex justify-content-center" id="contact-agent-btn-back">
		<img alt="back button" class="mr-2" src="[resources:icon_left.svg]" />

		<span data-lfr-editable-id="contact-agent-btn-back" data-lfr-editable-type="text">
			BACK TO EDIT INFO
		</span>
	</button>
</div>