.sign-in {
	background-image: url([resources:home-2.jpg]);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.form-box {
	align-items: flex-start;
	background-color: var(--brand-color-1);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	max-width: 100%;
	padding: var(--spacer-6) var(--spacer-7) var(--spacer-6) var(--spacer-10);
	width: 40%;
}

.sign-in-logo {
	height: auto;
}

.sign-in-form .form-group label {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-bold);
}

.sign-in-form .form-group input {
	background-color: var(--white);
	border-color: var(--white);
	font-family: var(--font-family-sans-serif);
}

.sign-in-form .form-check {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-sm);
}

.sign-in-form .form-check label {
	display: inline-block;
	transform: translateY(-1px);
}

.membership {
	font-family: var(--font-family-sans-serif);
}
