<div class="sign-in vh-100">
<div class="form-box">
	<a
		href="http://localhost:8080/web/bootcamp"
	  ><img src="[resources:bootcamp-logo.svg]" alt="" class="sign-in-logo"
	/></a
	>

	<form class="sign-in-form">
	<p class="sign-in-text mb-5 h3 font-weight-normal">
		Organically grow the holistic world view of disruptive innovation via
		workplace diversity.
	  </p>
	<div class="form-group mb-3">
		<label for="exampleInputEmail1" class="form-label">Email address</label>

		<input
			aria-describedby="emailHelp"
			class="form-control"
			id="exampleInputEmail1"
			type="email"
		/>
	  </div>
	<div class="form-group mb-3">
		<label for="exampleInputPassword1" class="form-label">Password</label>

		<input
			class="form-control"
			id="exampleInputPassword1"
			type="password"
		/>
	  </div>
	<div class="mb-5 form-check">
		<input class="form-check-input" id="exampleCheck1" type="checkbox" />

		<label
			class="form-check-label" for="exampleCheck1"
		  >Keep me logged in</label
		>
	  </div>
	<button class="btn btn-lg btn-primary" type="submit">
		Sign In<span class="link-arrow ml-3">&#10230;</span>
	  </button>
	<p class="membership mt-6 small">
		Not a member yet?
		<a
			class="create-account font-weight-bold ml-2" href=""
		  >Create an Account</a
		>
	  </p>
	</form>
</div>
</div>