.form-box {
	align-items: flex-start;
	background-color: var(--brand-color-1);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	max-width: 100%;
	padding: var(--spacer-6) var(--spacer-7) var(--spacer-4);
	width: 40%;
}

.sign-in {
	background-image: url([resources:sign_in.jpg]);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.sign-in-form .sign-in-text {
	line-height: 1.25;
	margin-bottom: var(--spacer-5);
}

.sign-in-form .form-check {
	font-family: var(--font-family-sans-serif);
	font-size: var(--font-size-sm);
}

.sign-in-form .form-check label {
	display: inline-block;
	left: 6px;
	top: -2px;
}

.sign-in-form .form-group input {
	background-color: var(--white);
	border-color: var(--white);
	font-family: var(--font-family-sans-serif);
}

.sign-in-form .form-group label {
	font-family: var(--font-family-sans-serif);
	font-weight: var(--font-weight-bold);
}

.sign-in-form .form-check,
.sign-in-form button {
	margin-bottom: var(--spacer-5);
}

.sign-in-logo {
	width: 162px;
}

.membership {
	font-family: var(--font-family-sans-serif);
}

@media (max-width: 1340px) {
	.form-box {
		width: 60%;
	}
}

@media (max-width: 992px) {
	.sign-in {
		background-image: none;
	}
	.form-box {
		padding: var(--spacer-5) var(--spacer-5) var(--spacer-3);
		width: 100%;
	}
}

@media (max-width: 576px) {
	.form-box {
		padding: var(--spacer-3);
	}

	.sign-in-form .sign-in-text {
		font-size: 36px;
		margin-bottom: var(--spacer-4);
	}
	
	.sign-in .form-check,
	.sign-in-form button {
		margin-bottom: var(--spacer-4);
	}
}